.mdl-modal[data-id="popupCoupon"]{
    .mdl-modal-tit{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 1.2rem;
        &::before{
            content: '';
            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='72' height='72' viewBox='0 0 72 72' fill='none'%3E%3Crect x='0.615234' y='0.61499' width='70.77' height='70.77' rx='35.385' fill='%23FFFAE0'/%3E%3Cpath d='M39.7252 47.6666C41.1669 47.6666 41.9286 49.3733 40.9669 50.4466C40.3417 51.1451 39.5761 51.7038 38.7203 52.0863C37.8645 52.4688 36.9377 52.6666 36.0002 52.6666C35.0628 52.6666 34.136 52.4688 33.2802 52.0863C32.4243 51.7038 31.6588 51.1451 31.0336 50.4466C30.1136 49.42 30.7702 47.815 32.0902 47.6783L32.2736 47.6683L39.7252 47.6666ZM36.0002 19.3333C38.2636 19.3333 40.1769 20.8383 40.7919 22.9016L40.8686 23.1866L40.8819 23.2583C42.7195 24.2945 44.2853 25.7514 45.4511 27.5096C46.6169 29.2679 47.3494 31.2773 47.5886 33.3733L47.6352 33.8516L47.6669 34.3333V39.2183L47.7019 39.445C47.9301 40.673 48.6097 41.7712 49.6069 42.5233L49.8852 42.7183L50.1552 42.8833C51.5886 43.695 51.0886 45.8266 49.5269 45.99L49.3336 46H22.6669C20.9536 46 20.3552 43.7266 21.8452 42.8833C22.4803 42.5239 23.029 42.0299 23.4528 41.4359C23.8766 40.8419 24.1653 40.1624 24.2986 39.445L24.3336 39.2066L24.3352 34.2566C24.4369 32.0798 25.0705 29.961 26.1807 28.0858C27.2909 26.2105 28.8438 24.636 30.7036 23.5L31.1169 23.2566L31.1336 23.185C31.3687 22.188 31.9043 21.2873 32.668 20.6047C33.4317 19.9221 34.3866 19.4905 35.4036 19.3683L35.7069 19.34L36.0002 19.3333Z' fill='%23F2E496'/%3E%3C/svg%3E") center center no-repeat;
            background-size: 7.2rem;
            width: 7.2rem;
            height: 7.2rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}