[data-type="neve_8_10"]{
    .pop-body{
        margin: 3.2rem auto 3.6rem;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .img-box{
        width: 32.7rem;
        height: 26.2rem;
    }
}