
/* 모달팝업 */
.ocr-asleep {
    //NMDP_9_2L, NMDP_9_3L
    .mdl-modal {
        &[data-type="bottom"]{
            .mdl-list{margin: 0 0 1rem 0;}
            .mdl-modal-header{padding: 3.2rem 3.2rem 0;}
            .mdl-modal-body{padding:0 3.2rem;}
            .mdl-modal-close{
                right: 2.4rem;
                top: 2.4rem;
            }
            .mdl-modal-footer{padding: 2.4rem 2rem 4rem}
        }
        &[data-type="alert"]{
            .mdl-modal-body{
                p {
                    color:#fff;
                    font-size: 1.8rem;
                    font-weight: 500;
                    line-height: 2.7rem;
                }
            }
            .mdl-modal-tit + p{
                color:#fff; 
                opacity: .6;
                font-size: 1.6rem;
                line-height: 2.4rem;
            }
            .mdl-btn-wrap{
                padding: 2rem 0 0;
                gap: .8rem;
            }
        }
        &[data-type="info"]{
            .mdl-modal-body {overflow: hidden;}
            .mdl-modal-footer {padding:3.2rem 0 0;}
        }

        &-body[data-align="center"]{
            p {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;    
                min-height: 5.4rem;
            }
        }
        &-header {padding:3.2rem 2.4rem 0;}
        &-tit {
            color: #fff !important;
            font-family: 'KBF' !important;
        }
        &-footer {
            padding: 0.8rem 2rem 2rem;

            .mdl-btn-wrap {gap: .8rem;}
        }
        &-wrap {
            background-color: #231D44;

            &[data-align="center"] {
                .mdl-modal-header{justify-content: center;}
                .mdl-modal-tit{margin-bottom:0;}
            }
            
            .mdl-bul-dot > li {
                color:#fff;
                opacity: .6;
                
                &::before {
                    background-color: #fff; 
                    opacity: .6;
                }
            }
        }
        .mdl-modal-txt {
            * {color: #fff;}
            b { color: var(--basic);}
        }   

        .mdl-definition-head{text-align: left; color: #fff;}
        .mdl-definition-body{text-align: left; color: #fff; opacity: .6;}
        .mdl-definition[data-body="dot"] .mdl-definition-body::before{background-color: #fff;}

    }
}
.mdl-modal {
    //챌린지오픈 팝업
    // NMDP_1_167V, NMOK_1_1V, NMOK_1_3L, NMOK_2_2L, NMOK_3_5L, NMOK_4_1L, NMOK_5_1L, NMOK_6_1L, NMOK_13_17L  
    .challenge-time{
        max-width: 29.5rem;
        position: relative;
        background-color: transparent;

        img{display: block; border-radius: 0;}
        .mdl-modal-close{
            display: block;
            width: 1.2rem;
            height: 1.2rem;
            position: absolute;
            top: 1.878rem;
            right: 2.2rem;
            z-index: 9;
            &::before{
                content: '';
                width: 100%;
                height: 100%;
                background-image: url(../../assets/img/challenge/ico_close.png);
                background-size: 100% 100%;  
            }
            &[data-style="dark"]{
                &::before{
                    content: "";
                    width: 100%;
                    height: 100%;
                    background-image: url(../../assets/img/common/ico_close_dark.png);
                    background-size: 100% 100%;
                }
            }
        }
        .mdl-modal-body{
            padding: 0;
            max-height: none ;
        }
        &-box{
            position: relative;
            overflow: hidden;
            isolation: isolate;
            z-index: 0;
            .mdl-btn {
                position: absolute;
                bottom: 0;
            }
        }
        .mdl-btn{
            height: 6rem;
            border-radius: 0;
            background-color: #fff;
            span{color: #111;}
        }
        [data-type="text"]{
            height: auto;
            position: absolute;
            bottom: -3.8rem;
            left: 50%;
            transform: translateX(-50%);
            background-color: transparent;
            &::after{display: none;}
            span{
                font-size: 1.4rem;
                font-weight: 500;
                color: #999;
                text-decoration: underline;
            }
        }
    }
}

//NMDP_1_167V, NMDP_2_82V 
.ocr-mhcheckup {
    *,
    *::before,
    *::after {font-family: 'KBF';}
    // padding-top: 3.8rem;
    .mdl-subject{
        margin-bottom: 2rem;
    }
    .mdl-subject-tit {
        em[data-marker="yellow"] {
            &::after {
                height: 0.6rem;
                bottom: 0.1rem;
            }
        }
    }

    .mdl-subject-txt {
        font-size: 1.5rem;
        font-weight: 300;
        color: #777;
        
    }

    .checkup-list {
        li {
            &:last-child {
                button {
                    margin-bottom: 0;
                }
            }

            button {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 2.4rem 0;

                div {
                    position: relative;

                    &::before {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 6rem;
                        height: 6rem;
                    }

                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap:0.7rem;
                    padding: 0.9rem 0 0.9rem 7.6rem;
                }

                span {
                    font-size: 1.4rem;
                    font-weight: 300;
                    color: #000;
                }

                em {
                    display: flex;
                    font-size: 1.6rem;
                    font-weight: 500;
                    color: #000;
                }
            }

            &.reservation {
                button {
                    div {
                        &::before {
                            content: '';
                            background: url(../img/page/NMDP_1_167V/ico_checkup_1.png) 0 0/6rem no-repeat;
                        }
                    }
                }
            }

            &.result {
                button {
                    div {
                        &::before {
                            content: '';
                            background: url(../img/page/NMDP_1_167V/ico_checkup_2.png) 0 0/6rem no-repeat;
                        }
                    }
                }
            }
        }
    }
}

//NMPD_6_147P, NMPD_6_28P
.NMPD_6_28P .scrollBox,
.NMPD_6_147P .scrollBox{padding-bottom: 0;}
.scroll-select {
    $h: 6.4rem;
    position: relative;
    width: 100%;
    overflow: hidden;
    overflow-y: auto;
    display:flex;
    flex-direction: column;
    gap:0;
    // height: calc(100dvh - 20.4rem);
    max-height: calc($h * 6);
    margin-top: 2.4rem;
    // outline: 1px solid red;

    &--item {
        width:100%;
        // min-height: calc((100dvh - 20.4rem) / 8); 
        min-height: $h; 
        font: var(--font-b2-400);
        color: var(--color-gray-350);

        & + .scroll-select--item{
            border-top:1px solid #e5e5e5;
        }

        &:focus,
        &:active,
        &[data-selected="true"] {
            font: var(--font-b2-700);
            color: var(--color-gray-0);
        }
    }
}
.NMDP_2_132L-img,
.NMDP_2_131L-img {
    margin-bottom: 1.2rem;
    width: 32.7rem;
    height: 14.8rem;
    background-repeat: no-repeat;
    background-size: 32.7rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='327' height='148' viewBox='0 0 327 148' fill='none'%3E%3Cg clip-path='url(%23clip0_957_23143)'%3E%3Crect x='80' y='141' width='73' height='5' rx='2.5' fill='black' fill-opacity='0.1'/%3E%3Crect x='146' y='143' width='47' height='5' rx='2.5' fill='black' fill-opacity='0.1'/%3E%3Crect x='177' y='136' width='62' height='5' rx='2.5' fill='black' fill-opacity='0.1'/%3E%3Cmask id='mask0_957_23143' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='144' y='59' width='95' height='80'%3E%3Cpath d='M144 60C144 59.4477 144.448 59 145 59H238C238.552 59 239 59.4477 239 60V133C239 136.314 236.314 139 233 139H150C146.686 139 144 136.314 144 133V60Z' fill='%23FFD700'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_957_23143)'%3E%3Cpath d='M144 60C144 59.4477 144.448 59 145 59H238C238.552 59 239 59.4477 239 60V133C239 136.314 236.314 139 233 139H150C146.686 139 144 136.314 144 133V60Z' fill='%23FFD700'/%3E%3C/g%3E%3Cpath d='M193 59H189V138H193V59Z' fill='%23E26D00'/%3E%3Cpath d='M239 75V71H144V75H239Z' fill='%23E26D00'/%3E%3Cpath d='M236.831 24.784C237.744 23.5968 238.281 21.9926 238.04 20.4849C237.813 19.0494 236.822 17.7828 235.608 17.0249C233.035 15.3951 230.057 15.8223 227.478 17.2042C227.096 17.4149 226.707 17.6362 226.339 17.8722C226.355 17.8039 226.37 17.7357 226.386 17.6674C226.914 14.9521 226.85 11.8131 224.764 9.72899C223.734 8.70336 222.444 7.89383 220.949 7.79534C219.226 7.68259 217.773 8.57668 216.676 9.82604C214.815 11.9547 214.608 15.1437 215.235 17.7864C215.874 20.5482 217.315 23.0878 219.216 25.1871C219.324 25.6721 219.602 26.1164 220.003 26.3605C220.088 26.4195 220.193 26.4283 220.286 26.4766C220.403 26.6047 220.52 26.7327 220.677 26.8252C221.056 27.0546 221.527 27.1736 221.978 27.1372C226.733 28.9913 233.446 29.1944 236.824 24.7947L236.831 24.784ZM220.669 20.7401C220.63 20.6818 220.56 20.5545 220.546 20.5291C220.493 20.4453 220.44 20.3615 220.405 20.2744C220.279 20.0453 220.153 19.8161 220.037 19.5943C219.788 19.1072 219.576 18.6134 219.389 18.1056C219.347 17.9824 219.298 17.8698 219.268 17.7539C219.268 17.7539 219.268 17.7539 219.258 17.6997C219.186 17.4605 219.124 17.2287 219.07 16.9862C219.005 16.7364 218.959 16.4832 218.93 16.2266C218.921 16.1255 218.904 16.0351 218.884 15.9266C218.884 15.9266 218.849 15.6338 218.846 15.5689C218.821 15.0779 218.861 14.5844 218.912 14.0982C218.912 14.0982 218.92 14.0406 218.932 14.0011C218.947 13.9328 218.971 13.807 218.975 13.7782C219.047 13.5124 219.141 13.2613 219.243 12.9995C219.265 12.9674 219.272 12.9567 219.276 12.9279C219.335 12.8422 219.376 12.7599 219.424 12.6668C219.535 12.5062 219.653 12.3349 219.785 12.189C219.836 12.1609 220.107 11.9053 220.173 11.8558C220.18 11.8451 220.224 11.8277 220.249 11.8137C220.311 11.793 220.467 11.7268 220.518 11.6988C220.554 11.6921 220.583 11.6961 220.608 11.6821C220.644 11.6754 220.673 11.6795 220.673 11.6795C220.72 11.6802 220.72 11.6802 220.749 11.6842C220.828 11.7071 220.896 11.7225 220.975 11.7454C221.025 11.7642 221.075 11.783 221.126 11.8018C221.094 11.7797 221.126 11.8018 221.197 11.8353C221.219 11.8501 221.258 11.8615 221.287 11.8656C221.244 11.8361 221.226 11.8394 221.197 11.8353C221.219 11.8501 221.251 11.8722 221.262 11.8796C221.358 11.946 221.454 12.0124 221.551 12.0788C221.572 12.0935 221.701 12.1821 221.768 12.2444C221.822 12.2813 221.871 12.3469 221.893 12.3617C221.974 12.4495 222.045 12.5299 222.119 12.6285C222.19 12.7089 222.254 12.8 222.317 12.8912C222.383 13.0942 222.492 13.2798 222.583 13.4687C222.6 13.5123 222.61 13.5665 222.613 13.5846C222.658 13.7728 222.691 13.9537 222.724 14.1346C222.747 14.2612 222.76 14.3804 222.765 14.5103C222.759 14.4273 222.77 14.1821 222.768 14.5753C222.772 14.799 222.772 15.0046 222.755 15.2135C222.728 15.7794 222.647 16.3553 222.552 16.9057C222.374 17.9202 221.961 19.2773 221.475 20.3953C221.348 20.6711 221.206 20.9683 221.047 21.2689C220.983 21.1778 220.92 21.0866 220.856 20.9955C220.835 20.9807 220.715 20.7877 220.673 20.7113L220.669 20.7401ZM232.946 23.1812C232.888 23.22 232.629 23.3892 232.596 23.4139C232.341 23.5543 232.094 23.684 231.825 23.799C231.608 23.8858 231.383 23.9834 231.162 24.0522C231.107 24.0622 230.778 24.151 230.723 24.1609C230.195 24.2864 229.656 24.3575 229.125 24.418C229.06 24.4206 229.042 24.4239 229.006 24.4306C228.876 24.4358 228.728 24.4444 228.587 24.4423C228.299 24.4487 228.018 24.4444 227.733 24.4221C227.156 24.3881 226.566 24.3286 225.997 24.237C225.9 24.2175 225.803 24.1979 225.699 24.1891C225.677 24.1744 225.328 24.1078 225.328 24.1078C225.22 24.0809 225.131 24.0507 225.023 24.0238C225.849 23.0769 226.771 22.2432 227.941 21.4386C228.622 20.9765 229.699 20.3761 230.653 20.0227C230.653 20.0227 230.696 20.0053 230.715 20.002C230.83 19.9713 230.946 19.9406 231.073 19.9172C231.297 19.8666 231.525 19.8339 231.764 19.8087C231.774 19.8161 231.774 19.8161 231.81 19.8094C231.951 19.8116 232.074 19.817 232.207 19.8299C232.218 19.8373 232.293 19.842 232.358 19.8394C232.427 19.8549 232.621 19.8939 232.642 19.9086C232.822 19.9691 232.994 20.0402 233.176 20.1187C233.169 20.1295 233.523 20.326 233.587 20.3703C233.662 20.4219 233.748 20.4809 233.816 20.5433C233.837 20.558 233.837 20.558 233.851 20.5835C233.922 20.6639 234.004 20.7517 234.067 20.8429C234.067 20.8429 234.067 20.8429 234.078 20.8503C234.078 20.8503 234.078 20.8502 234.095 20.8938C234.095 20.8938 234.137 21.0171 234.157 21.0787C234.157 21.0787 234.161 21.0968 234.164 21.1149C234.142 21.147 234.133 21.4571 234.156 21.4249C234.11 21.583 234.054 21.7336 233.997 21.8842C233.997 21.8842 233.974 21.9632 233.948 22.0241C233.948 22.0241 233.941 22.0349 233.933 22.0456C233.852 22.1634 233.774 22.2992 233.683 22.4097C233.616 22.506 233.539 22.595 233.473 22.6914C233.473 22.6914 233.473 22.6914 233.465 22.7021C233.279 22.858 233.114 23.0286 232.917 23.1771L232.946 23.1812Z' fill='%23E26D00'/%3E%3Cmask id='mask1_957_23143' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='171' y='1' width='89' height='66'%3E%3Cpath d='M171.167 15.1251L251.337 66.0942L258.311 55.1236C260.089 52.3272 259.263 48.619 256.467 46.8412L186.424 2.31026C183.628 0.532401 179.92 1.35809 178.142 4.1545L171.167 15.1251Z' fill='%23FFD700'/%3E%3C/mask%3E%3Cg mask='url(%23mask1_957_23143)'%3E%3Cpath d='M171.704 14.2811C171.407 14.7472 171.545 15.3652 172.011 15.6615L250.493 65.5576C250.959 65.8539 251.577 65.7163 251.873 65.2502L258.311 55.1235C260.089 52.3271 259.263 48.619 256.467 46.8411L186.424 2.3102C183.628 0.53234 179.92 1.35803 178.142 4.15444L171.704 14.2811Z' fill='%23FFD700'/%3E%3Cpath d='M224.002 25.521L220.626 23.3752L210.121 39.9015L213.497 42.0473L224.002 25.521Z' fill='%23E26D00'/%3E%3C/g%3E%3Cpath d='M112.248 76.9069C112.248 76.9069 112.197 76.9069 112.171 76.9198C112.171 76.9198 112.223 76.9198 112.248 76.9069Z' fill='%235A0DD3'/%3E%3Cpath d='M132.483 78.7014C132.561 77.206 132.093 75.5805 131.039 74.4752C130.038 73.4219 128.504 72.9408 127.073 73.0058C124.03 73.1228 121.82 75.1644 120.48 77.7651C120.285 78.1552 120.09 78.5584 119.921 78.9615C119.895 78.8965 119.869 78.8314 119.843 78.7664C118.738 76.2307 116.904 73.682 114.005 73.1488C112.574 72.8888 111.053 72.9538 109.765 73.721C108.283 74.6053 107.594 76.1657 107.399 77.8172C107.074 80.6259 108.712 83.3697 110.728 85.1902C112.821 87.1018 115.448 88.3761 118.205 89.0263C118.569 89.3644 119.05 89.5724 119.518 89.5464C119.622 89.5464 119.713 89.4944 119.817 89.4814C119.986 89.5204 120.155 89.5594 120.337 89.5464C120.779 89.5204 121.235 89.3514 121.586 89.0653C126.553 87.895 132.197 84.2539 132.483 78.7144V78.7014ZM116.878 84.54C116.813 84.514 116.683 84.449 116.657 84.436C116.566 84.397 116.475 84.358 116.397 84.306C116.163 84.1889 115.929 84.0719 115.708 83.9549C115.227 83.6948 114.772 83.4087 114.33 83.0966C114.226 83.0186 114.122 82.9536 114.031 82.8756C114.031 82.8756 114.031 82.8756 113.992 82.8366C113.797 82.6805 113.614 82.5245 113.432 82.3554C113.237 82.1864 113.055 82.0043 112.886 81.8093C112.821 81.7312 112.756 81.6662 112.678 81.5882C112.678 81.5882 112.483 81.3671 112.444 81.3151C112.145 80.925 111.898 80.4959 111.664 80.0668C111.664 80.0668 111.638 80.0148 111.625 79.9758C111.599 79.9107 111.547 79.7937 111.534 79.7677C111.443 79.5076 111.378 79.2476 111.313 78.9745C111.313 78.9355 111.313 78.9225 111.3 78.8964C111.3 78.7924 111.287 78.7014 111.274 78.5974C111.274 78.4023 111.274 78.1943 111.3 77.9992C111.326 77.9472 111.404 77.5831 111.43 77.5051C111.43 77.4921 111.456 77.4531 111.469 77.427C111.508 77.375 111.599 77.232 111.625 77.18C111.651 77.154 111.677 77.141 111.69 77.115C111.716 77.0889 111.742 77.0759 111.742 77.0759C111.781 77.0499 111.781 77.0499 111.807 77.0369C111.885 77.0109 111.95 76.9849 112.028 76.9589C112.08 76.9459 112.132 76.9329 112.184 76.9199C112.145 76.9199 112.184 76.9199 112.262 76.9069C112.288 76.9069 112.327 76.8939 112.353 76.8809C112.301 76.8809 112.288 76.8939 112.262 76.9069C112.288 76.9069 112.327 76.9069 112.34 76.9069C112.457 76.9069 112.574 76.9069 112.691 76.9069C112.717 76.9069 112.873 76.9069 112.964 76.9199C113.029 76.9199 113.107 76.9459 113.133 76.9459C113.25 76.9719 113.354 76.9979 113.471 77.0369C113.575 77.0629 113.679 77.102 113.784 77.141C113.953 77.271 114.148 77.362 114.33 77.4661C114.369 77.4921 114.408 77.5311 114.421 77.5441C114.564 77.6741 114.694 77.8042 114.824 77.9342C114.915 78.0252 114.993 78.1162 115.071 78.2203C115.019 78.1553 114.889 77.9472 115.11 78.2723C115.24 78.4543 115.357 78.6234 115.461 78.8054C115.76 79.2866 116.02 79.8067 116.254 80.3139C116.683 81.2501 117.112 82.6025 117.347 83.7988C117.399 84.0979 117.451 84.423 117.49 84.7611C117.386 84.7221 117.281 84.6831 117.177 84.6441C117.151 84.6441 116.943 84.553 116.865 84.514L116.878 84.54ZM128.374 79.5857C128.348 79.6507 128.231 79.9367 128.218 79.9758C128.088 80.2358 127.957 80.4829 127.801 80.73C127.671 80.925 127.541 81.1331 127.398 81.3151C127.359 81.3541 127.138 81.6142 127.099 81.6532C126.735 82.0563 126.332 82.4204 125.929 82.7715C125.877 82.8106 125.864 82.8236 125.838 82.8496C125.734 82.9276 125.617 83.0186 125.5 83.0966C125.266 83.2657 125.032 83.4217 124.785 83.5648C124.29 83.8639 123.77 84.1499 123.25 84.397C123.159 84.436 123.068 84.475 122.977 84.527C122.951 84.527 122.626 84.6701 122.626 84.6701C122.522 84.7091 122.431 84.7351 122.327 84.7741C122.47 83.5257 122.756 82.3164 123.263 80.99C123.562 80.2228 124.108 79.1175 124.694 78.2853C124.694 78.2853 124.72 78.2463 124.733 78.2333C124.811 78.1422 124.889 78.0512 124.98 77.9602C125.136 77.7912 125.305 77.6351 125.487 77.4791C125.5 77.4791 125.5 77.4791 125.526 77.4531C125.643 77.375 125.747 77.31 125.864 77.245C125.877 77.245 125.942 77.206 125.994 77.167C126.059 77.141 126.241 77.0629 126.267 77.0629C126.449 77.0109 126.631 76.9719 126.826 76.9329C126.826 76.9459 127.229 76.9069 127.307 76.9069C127.398 76.9069 127.502 76.9069 127.593 76.9199C127.619 76.9199 127.619 76.9199 127.645 76.9329C127.749 76.9589 127.866 76.9849 127.97 77.0239C127.97 77.0239 127.97 77.0239 127.983 77.0239C127.983 77.0239 127.983 77.0239 128.023 77.0499C128.023 77.0499 128.127 77.128 128.179 77.167C128.179 77.167 128.192 77.18 128.205 77.193C128.205 77.232 128.374 77.4921 128.374 77.4531C128.426 77.6091 128.465 77.7651 128.504 77.9212C128.504 77.9212 128.53 77.9992 128.543 78.0642C128.543 78.0642 128.543 78.0772 128.543 78.0902C128.543 78.2333 128.556 78.3893 128.543 78.5323C128.543 78.6494 128.53 78.7664 128.53 78.8835C128.53 78.8835 128.53 78.8834 128.53 78.8964C128.465 79.1305 128.426 79.3646 128.348 79.5987L128.374 79.5857Z' fill='%235A0DD3'/%3E%3Cpath d='M128.568 78.0509C128.568 78.0509 128.542 77.9599 128.529 77.9078C128.529 77.9078 128.529 77.9338 128.568 78.0509Z' fill='%235A0DD3'/%3E%3Cpath d='M156.018 85.2947H84.6803C82.1308 85.2947 80.064 87.3615 80.064 89.911V139.182C80.064 141.731 82.1308 143.798 84.6803 143.798H156.018C158.568 143.798 160.635 141.731 160.635 139.182V89.911C160.635 87.3615 158.568 85.2947 156.018 85.2947Z' fill='%239151ED'/%3E%3Cpath d='M122.183 85.2943H118.386V143.798H122.183V85.2943Z' fill='%235A0DD3'/%3E%3Cpath d='M160.585 108.45V104.653H80.0019V108.45H160.585Z' fill='%235A0DD3'/%3E%3Cpath d='M190.128 99.4209H148.707C147.212 99.4209 146 100.633 146 102.128V143.549C146 145.044 147.212 146.256 148.707 146.256H190.128C191.623 146.256 192.835 145.044 192.835 143.549V102.128C192.835 100.633 191.623 99.4209 190.128 99.4209Z' fill='%23DA61F7'/%3E%3Cpath d='M179.018 93.4449C178.784 91.5809 177.21 90.2227 175.328 90.2508C173.454 90.2789 171.937 91.4778 170.972 93.0046C170.85 92.6019 170.71 92.2085 170.476 91.8431C169.155 89.745 166.204 89.3141 164.49 91.1968C162.701 93.1639 163.675 95.9459 164.959 97.9129C165.652 98.9714 166.56 99.8144 167.619 100.348C167.375 100.611 167.141 100.873 166.888 101.116C166.691 101.304 166.495 101.482 166.289 101.66C166.242 101.707 166.186 101.744 166.129 101.791C166.12 101.8 166.073 101.838 166.045 101.856C166.026 101.875 166.008 101.885 166.008 101.885C165.951 101.922 165.895 101.959 165.848 101.997C165.399 102.315 164.921 102.587 164.425 102.802C164.153 102.915 163.928 103.28 163.853 103.552C163.769 103.852 163.806 104.254 163.975 104.517C164.144 104.788 164.406 105.022 164.724 105.088C165.071 105.163 165.361 105.107 165.689 104.966C167.272 104.273 168.537 103.102 169.679 101.819C170.579 102.212 171.478 102.615 172.293 103.149C172.377 103.205 172.471 103.271 172.555 103.327C172.555 103.327 172.536 103.308 172.536 103.299C172.564 103.336 172.602 103.355 172.639 103.383C172.649 103.383 172.668 103.402 172.677 103.411C172.855 103.561 173.023 103.73 173.183 103.908C173.183 103.908 173.192 103.927 173.201 103.927C173.22 103.955 173.239 103.983 173.248 103.992C173.304 104.076 173.351 104.17 173.408 104.254C173.408 104.273 173.426 104.282 173.436 104.292C173.454 104.339 173.473 104.376 173.501 104.423C173.473 104.376 173.464 104.348 173.454 104.32C173.454 104.329 173.464 104.339 173.473 104.357C173.511 104.489 173.539 104.61 173.567 104.741C173.614 105.032 173.895 105.35 174.138 105.491C174.41 105.65 174.803 105.716 175.103 105.613C175.805 105.388 176.096 104.77 175.974 104.076C175.759 102.784 174.784 101.8 173.754 101.079C173.529 100.929 173.304 100.789 173.07 100.648C174.354 99.9643 175.553 99.1306 176.63 98.1471C177.95 96.9388 179.262 95.3089 179.028 93.3981L179.018 93.4449ZM166.392 92.836C166.729 92.5082 167.207 92.3583 167.656 92.5457C168.265 92.7986 168.537 93.4074 168.668 94.0163C168.855 94.8312 168.883 95.7023 168.968 96.536C169.024 97.1355 169.089 97.7256 169.146 98.3251C168.284 98.0253 167.553 97.3228 167.066 96.5735C166.476 95.6461 165.371 93.8383 166.382 92.8454L166.392 92.836ZM175.084 96.2081C174.129 97.1261 173.042 97.8755 171.881 98.4937C172.021 97.1636 172.255 95.8147 172.902 94.6439C173.286 93.9507 173.81 93.2295 174.569 92.9203C175.065 92.7143 175.749 92.6393 176.18 93.0234C177.276 93.9975 175.787 95.5337 175.075 96.2081H175.084Z' fill='%23903ED6'/%3E%3Cpath d='M172.574 103.346C172.574 103.346 172.565 103.346 172.555 103.336C172.602 103.383 172.658 103.421 172.639 103.402C172.63 103.402 172.611 103.383 172.574 103.355V103.346Z' fill='%23903ED6'/%3E%3Cpath d='M173.408 104.282C173.408 104.282 173.417 104.311 173.445 104.358C173.436 104.32 173.417 104.292 173.408 104.282Z' fill='%23903ED6'/%3E%3Cpath d='M192.835 121.171H172.106V99.421H168.771V121.171H146V124.506H168.771V146.256H172.106V124.506H192.835V121.171Z' fill='%23903ED6'/%3E%3Cellipse cx='92.4616' cy='86.4616' rx='4.55562' ry='4.58251' transform='rotate(-45 92.4616 86.4616)' fill='%23FFE279'/%3E%3Cellipse cx='85.8455' cy='51.6806' rx='6.03334' ry='3.59809' transform='rotate(102.8 85.8455 51.6806)' fill='%2383ACFF'/%3E%3Cellipse cx='168.611' cy='10.0151' rx='4.79076' ry='1.97845' transform='rotate(-97.8054 168.611 10.0151)' fill='%23F27DD1'/%3E%3Cellipse cx='51.1173' cy='89.4794' rx='4.79076' ry='1.97845' transform='rotate(13.2991 51.1173 89.4794)' fill='%23F27DD1'/%3E%3Cellipse cx='63.6977' cy='27.928' rx='4.99912' ry='2.98132' transform='rotate(60.9447 63.6977 27.928)' fill='%2356CECD'/%3E%3Cellipse cx='159.051' cy='46.16' rx='4.78575' ry='3.58722' transform='rotate(66.7183 159.051 46.16)' fill='%2383ACFF'/%3E%3Cellipse cx='133.147' cy='26.1461' rx='4.64485' ry='2.63346' transform='rotate(-18.8263 133.147 26.1461)' fill='%2356CECD'/%3E%3Cellipse cx='184.665' cy='42.6647' rx='4.42392' ry='3.58722' transform='rotate(-45 184.665 42.6647)' fill='%239BB4D0'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_957_23143'%3E%3Crect width='327' height='148' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}
