.guide_menuBox{
    width: 100%;
    padding: 15px 0;
    box-sizing: border-box;
    background-color: #dedbd1;
    border-bottom: 1px solid #222;
    /* background-color: #f34234; */
    position: fixed;
    left: 0;
}
.guide_logo_default{
    width: 50px;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.guide_logo_default img{
    width: 100%;
    height: 100%;
}
.guide_menu ul{
  width: 45%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.guide_menu ul li{
  margin-right: 10px;
  font-size: 20px;
}
.guide_menu ul li:last-child{
  margin-right: 0;
}
.guide_menu ul li::after{
  content: '';
  display: block;
  width: 3px;
  height: 3px;
  background-color: #222;
  border-radius: 3px;
  margin-top: 5px;
  transition: .3s;
}
.guide_menu ul li:hover::after{
  width: 100%;
  transition: .3s;
}
.guide_menu ul li a{
    width: 100%;
    padding-bottom: 10px;
    color: #222;
}