.guidePage{
    background-color: #DFE0E2;
}

/* ----------- color ----------- */
.guide_wrap.colorBg{
    background-color: #2c2216;
    height: 100vh;
}
.guide_wrap.colorBg h1,h2,h3,h4,h5,h6,p,span{
    color: #f1da9c;
}

.primaryGuide,
.grayGuide,
.bgGuide,
.dataGuide{
    display: flex;
    justify-content: baseline;
    align-items: center;
    margin-top: 10px;
}
.primaryGuide p,
.grayGuide p,
.bgGuide p,
.dataGuide p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    padding: 10px;
}
.primaryGuide p span,
.grayGuide p span,
.bgGuide p span,
.dataGuide p span{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: var(--primary03);
    border-radius: 50%;
    margin-right: 5px;
}
.primaryGuide p.primary01 span{
    background-color: var(--primary01);
}
.primaryGuide p.primary02 span{
    background-color: var(--primary02);
}
.grayGuide p.gray01 span{
    background-color: var(--gray01);
}
.grayGuide p.gray02 span{
    background-color: var(--gray02);
}
.grayGuide p.gray03 span{
    background-color: var(--gray03);
}
.grayGuide p.gray04 span{
    background-color: var(--gray04);
}
.grayGuide p.gray05 span{
    background-color: var(--gray05);
}
.grayGuide p.gray06 span{
    background-color: var(--gray06);
}
.grayGuide p.gray07 span{
    background-color: var(--gray07);
}
.bgGuide p.bgGuide01 span{
    background-color: #F3F7FF;
}
.bgGuide p.bgGuide02 span{
    background-color: #F1F7FE;
}
.dataGuide p.dataGuide01 span{
    background-color: var(--data01);
}
.dataGuide p.dataGuide02 span{
    background-color: var(--data02);
}
.dataGuide p.dataGuide03 span{
    background-color: var(--data03);
}
.dataGuide p.dataGuide04 span{
    background-color: var(--data04);
}
.dataGuide p.dataGuide05 span{
    background-color: var(--data05);
}
.dataGuide p.dataGuide06 span{
    background-color: var(--data06);
}
/* ----------- //color ----------- */