.tableDefault{
    width: 100%;
    border-top: 1px solid var(--gray07);
    color: #000;
    margin-top: 20px;
}

.tableDefault thead th,
.tableDefault tbody th{
    background-color: var(--gray02);
}

.tableDefault thead td,
.tableDefault tbody td{
  background-color: #fff;
}

.tableDefault thead th,
.tableDefault thead td,
.tableDefault tbody th,
.tableDefault tbody td{
    padding: 14px 50px;
    text-align: center;
    box-sizing: border-box;
}