
.guide_wrap{
  /*background-color: #2c2216;*/
  background-color: #dedbd1;
  color: #222;
}
.guide_wrap .innerWrap{
    width: 1200px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 171px 50px 50px 50px;
    box-sizing: border-box;
}

/* --------------- font --------------- */
:root{
    --bold: 700;
    --semibold: 600;
    --medium: 500;
    --regular: 400;
    --h1: 24px;
    --h2: 20px;
    --h3: 16px;
}

h1, .fs-h1{
    font-size: var(--h1);
    line-height: 36px;
    font-weight: var(--bold);
}
h2, .fs-h2{
    font-size: var(--h2);
    line-height: 30px;
    font-weight: var(--semibold);
}
h3, .fs-h3{
    font-size: var(--h3);
    line-height: 24px;
    font-weight: var(--medium);
}

.fw-bold{
    font-weight: var(--bold);
}
.fw-semibold{
    font-weight: var(--semibold);
}
.fw-midium{
    font-weight: var(--medium);
}
.fw-regular{
    font-weight: var(--regular);
}

 h1 + *{
    margin-top: 32px;
 }

 h2 + *,
 div + h2{
    margin-top: 24px;
 }
 h2 + p, 
 h2 + span{
    margin-top: 10px;
 }

 h3 + *{
    margin-top: 20px;
 }

/* --------------- //font --------------- */

/* --------------- color --------------- */
:root{
    --primary01: #EC008C;
    --primary02: #1A399E;
    --primary03: #FFFFFF;

    --gray01: #F7F8F8;   
    --gray02: #DFE0E2;   
    --gray03: #B9BBC6;   
    --gray04: #919199;   
    --gray05: #74757E;   
    --gray06: #2F3135;   
    --gray07: #222222;   

    --bg01: #F3F7FF;
    --bg02: #F1F7FE;
    
    --data01: #003975;
    --data02: #1E66F2;
    --data03: #58B84A;
    --data04: #E9B63E;
    --data05: #F46931;
    --data06: #F2303C;
}

.primary01{
    color: var(--primary01);
}
.primary02{
    color: var(--primary02);
}
.primary03{
    color: var(--primary03);
}

.gray01{
    color: var(--gray01);
}
.gray02{
    color: var(--gray02);
}
.gray03{
    color: var(--gray03);
}
.gray04{
    color: var(--gray04);
}
.gray05{
    color: var(--gray05);
}
.gray06{
    color: var(--gray06);
}
.gray07{
    color: var(--gray07);
}

.bg01{
    background-color: var(--bg01);
}
.bg02{
    background-color: var(--bg02);
}

.data01{
    color: var(--data01);
}
.data02{
    color: var(--data02);
}
.data03{
    color: var(--data03);
}
.data04{
    color: var(--data04);
}
.data05{
    color: var(--data05);
}
.data06{
    color: var(--data06);
}
/* --------------- //color --------------- */

/* --------------- tab --------------- */
.defualt_tab{
  width: 100%;
}
.defualt_tab_list{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.defualt_tab_list + .defualt_tab_list {
  margin-top: 20px;
}
.defualt_tab_item{
  flex: 1;
  text-align: center;
  background-color: #fff;
  border-bottom: 2px solid #DFE0E2;
}
.defualt_tab_item.on{
  border-bottom: 2px solid #EC008C;
}
.defualt_tab_item a{
  display: block;
  width: 100%;
  font-size: 20px;
  font-weight: var(--medium);
  line-height: 30px;
  color: #74757E;
  padding: 17px 24px;
}
.defualt_tab_item.on a{
  color: #222;
}
/* --------------- //tab --------------- */

/* --------------- table --------------- */
.tableDefault{
  width: 100%;
  border-top: 1px solid var(--gray07);
  border-bottom: 1px solid var(--gray02);
}
.tableDefault thead th,
.tableDefault tbody th{
  background-color: var(--gray01);
}
.tableDefault thead td,
.tableDefault tbody td{
  background-color: #fff;
}
.tableDefault thead th,
.tableDefault thead td,
.tableDefault tbody th,
.tableDefault tbody td{
  padding: 14px 50px;
  text-align: center;
  box-sizing: border-box;
}
.tableDefault tbody tr + tr{
  border-top: 1px solid var(--gray02);
}

.tableDefault.type02 th{
  font-weight: var(--nomal);
}
.tableDefault.type02 td{
  font-weight: var(--bold);
}
.tableDefault.type02 th{
  background-color: #f1f7fe;
} 
.tableDefault.type02 tbody tr + tr{
  border-top: 0;
}
.tableDefault.type02 tbody td + td{
  border-left: 1px solid var(--gray02);
}

.tableDefault + .tableDefault{
  margin-top: 20px;
}
.tableDefault .numup,
.tableDefault .numdown{
  position: relative;
  left: 5px;
  padding-left: 15px;
}
.tableDefault .numup::before,
.tableDefault .numdown::before{
  content: '';
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.tableDefault .numup::before{
  border-bottom: 6px solid var(--primary01);
}
.tableDefault .numdown::before{
  border-top: 6px solid #1E66F2;
}

.tableDefault.typenull tr td{
  padding: 80px 0 80px 0;
}
.tableDefault.typenull .null{
  position: relative;
  padding-top: 80px;
  font-size: 20px;
}
.tableDefault.typenull .null::before{
  content: '';
  display: block;
  background-image: url('../img/attention.png');
  background-size: 64px 64px;
  width: 64px;
  height: 64px;
  position: absolute;
  top: 6px;
  left: 50%;
  transform: translateX(-50%);
}

/* --------------- //table --------------- */

/* --------------- button --------------- */
.btnDefault,
.btnBlack,
.btnBig,
.btnBig-B{
  padding: 9px 20px;
  font-size: 16px;
  border-radius: 32px;
  background-color: #fff;
  box-sizing: border-box;
}
.btnDefault,
.btnBig{
  color: var(--primary01);
  border: 1px solid var(--primary01);
}
.btnBlack,
.btnBig-B{
  color: var(--gray07);
  border: 1px solid var(--gray07);
}
.btnDefault:hover,
.btnBig:hover{
  background-color: var(--primary01);
  color: #fff;
}
.btnBlack:hover,
.btnBig-B:hover{
  background-color: var(--gray01);
}
.btnDefault,
.btnBlack,
.btnBig,
.btnBig-B{
  width: 160px;
  height: 48px;
}
.btnDefault.lg,
.btnBlack.lg,
.btnBig.lg,
.btnBig-B.lg{
  width: 293px;
  height: 48px;
}
.btnDefault:disabled,
.btnBig:disabled{
  border: 1px solid var(--gray04);
  color: var(--gray04);
}
.btnDefault:disabled:hover,
.btnBig:disabled:hover{
  background-color: var(--gray01);
}
.btnDefault.fill,
.btnBig.fill{
  background-color: var(--primary01);
  color: #fff;
}
.btnDefault.fill:hover,
.btnBig.fill:hover{
  border: 1px solid #C02882;
  background-color: #C02882;
}
.btnDefault.fill:disabled,
.btnBig.fill:disabled{
  border: 1px solid var(--gray02);
  background-color: var(--gray02);
  color: var(--gray03);
  cursor: default;
}
.btnBig,
.btnBig-B{
  font-size: 20px;
}
/* --------------- //button --------------- */
