@charset "UTF-8";
html {
  font-size: 62.5%;
}
html * {
  font-family: "base";
}

@media screen and (max-width: 320px) {
  html {
    font-size: 50%;
  }
}
@media screen and (max-width: 360px) {
  html {
    font-size: 56.25%;
  }
}
html,
body,
div,
span,
iframe,
h1, h2, h3, h4, h5, h6, p, pre,
a,
code,
em,
img,
strong, b, u, i,
dl, dt, dd, ol, ul, li,
fieldset,
form,
label,
legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article,
figure, figcaption,
footer,
header,
section {
  margin: 0;
  padding: 0;
  border: 0;
  word-break: keep-all;
}

/* list */
ol,
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* table */
table {
  width: 100%;
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
}

/* font */
body {
  color: #222;
  font-size: 16px;
  font-weight: normal;
}

a {
  color: #222;
  text-decoration: none;
}

/* button */
button {
  background: transparent;
  outline: 0;
  border: 0;
  cursor: pointer;
}

/* hidden */
caption,
input[type=checkbox],
input[type=radio],
.ally-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  color: transparent !important;
  overflow: hidden !important;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: 0 !important;
  padding: 0 !important;
}

/* ============================= font ============================= */
@font-face {
  font-family: "Base";
  font-weight: 900;
  font-display: swap;
  src: local("Pretendard Black"), url(../font/pretendard/Pretendard-Black.subset.woff2) format("woff2"), url(../font/pretendard/Pretendard-Black.subset.woff) format("woff");
}
@font-face {
  font-family: "Base";
  font-weight: 800;
  font-display: swap;
  src: local("Pretendard ExtraBold"), url(../font/pretendard/Pretendard-ExtraBold.subset.woff2) format("woff2"), url(../font/pretendard/Pretendard-ExtraBold.subset.woff) format("woff");
}
@font-face {
  font-family: "Base";
  font-weight: 700;
  font-display: swap;
  src: local("Pretendard Bold"), url(../font/pretendard/Pretendard-Bold.subset.woff2) format("woff2"), url(../font/pretendard/Pretendard-Bold.subset.woff) format("woff");
}
@font-face {
  font-family: "Base";
  font-weight: 600;
  font-display: swap;
  src: local("Pretendard SemiBold"), url(../font/pretendard/Pretendard-SemiBold.subset.woff2) format("woff2"), url(../font/pretendard/Pretendard-SemiBold.subset.woff) format("woff");
}
@font-face {
  font-family: "Base";
  font-weight: 500;
  font-display: swap;
  src: local("Pretendard Medium"), url(../font/pretendard/Pretendard-Medium.subset.woff2) format("woff2"), url(../font/pretendard/Pretendard-Medium.subset.woff) format("woff");
}
@font-face {
  font-family: "Base";
  font-weight: 400;
  font-display: swap;
  src: local("Pretendard Regular"), url(../font/pretendard/Pretendard-Regular.subset.woff2) format("woff2"), url(../font/pretendard/Pretendard-Regular.subset.woff) format("woff");
}
@font-face {
  font-family: "Base";
  font-weight: 300;
  font-display: swap;
  src: local("Pretendard Light"), url(../font/pretendard/Pretendard-Light.subset.woff2) format("woff2"), url(../font/pretendard/Pretendard-Light.subset.woff) format("woff");
}
@font-face {
  font-family: "Base";
  font-weight: 200;
  font-display: swap;
  src: local("Pretendard ExtraLight"), url(../font/pretendard/Pretendard-ExtraLight.subset.woff2) format("woff2"), url(../font/pretendard/Pretendard-ExtraLight.subset.woff) format("woff");
}
@font-face {
  font-family: "Base";
  font-weight: 100;
  font-display: swap;
  src: local("Pretendard Thin"), url(../font/pretendard/Pretendard-Thin.subset.woff2) format("woff2"), url(../font/pretendard/Pretendard-Thin.subset.woff) format("woff");
}
/* ============================= 공통 ============================= */
.date-wrap {
  display: flex;
  flex-direction: column;
  gap: 0.3vw;
  position: absolute;
  top: 3.3vw;
  right: 2.5vw;
  text-align: right;
}
.date-wrap .today {
  font-size: 1vw;
  font-weight: 300;
  line-height: 1.2vw;
  color: #747474;
}
.date-wrap .time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3vw;
  font-weight: 500;
  line-height: 1.6vw;
  color: #747474;
}
.date-wrap .time span {
  font-size: 1.3vw;
  font-weight: 300;
  line-height: 1.6vw;
  color: #747474;
}

.main-select-wrap {
  margin-top: 0.3vw;
  position: relative;
}
.main-select-wrap.is-val .main-select-tit::after {
  transform: rotate(180deg);
}
.main-select-wrap.is-val .main-select-val {
  display: block;
}
.main-select-btn {
  width: 9.8vw;
  height: 1.8vw;
  background-color: #fff;
  border-radius: 0.3vw;
}
.main-select-tit {
  font-size: 0.8vw;
  font-weight: 600;
  color: #00090F;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-select-tit::after {
  content: "";
  display: block;
  width: 1.2vw;
  height: 1.2vw;
  background: url(../../camelotech/resource/img/ico-arrow.png) 0 0 no-repeat;
  background-size: 1.2vw 1.2vw;
}
.main-select-val {
  display: none;
  width: 9.8vw;
  padding: 0.2vw;
  background-color: #fff;
  border-radius: 0.3vw;
  position: absolute;
  top: 2vw;
  left: 0;
  box-sizing: border-box;
}
.main-select-val .select-val-item {
  width: 100%;
  min-height: 1.7vw;
  line-height: 2;
  padding: 0.3vw 0.7vw;
  font-size: 0.8vw;
  font-weight: 600;
  text-align: left;
  color: #00090F;
  background-color: #fff;
  border-radius: 0.3vw;
}
.main-select-val .select-val-item:focus {
  background-color: #E4EDF5;
}

.data-state {
  font-size: 0.8vw;
  font-weight: 600;
  line-height: 1.2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3vw;
}
.data-state::before {
  content: "";
  display: block;
  width: 0.5vw;
  height: 0.5vw;
  border-radius: 50%;
}
.data-state[data-type=green] {
  color: #1F9D00;
}
.data-state[data-type=green]::before {
  background-color: #1F9D00;
}
.data-state[data-type=yellow] {
  color: #ffc200;
}
.data-state[data-type=yellow]::before {
  background-color: #ffc200;
}
.data-state[data-type=blue] {
  color: #008fff;
}
.data-state[data-type=blue]::before {
  background-color: #008fff;
}
.data-state[data-type=red] {
  color: #F10000;
}
.data-state[data-type=red]::before {
  background-color: #F10000;
}

/* ============================= 버튼 ============================= */
.camel-btn {
  width: 100%;
  min-height: 2.7vw;
  font-size: 1vw;
  font-weight: 500;
  line-height: 1.2vw;
  text-align: center;
  border-radius: 0.3vw;
}
.camel-btn-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8vw;
}
.camel-btn[data-style=primary] {
  color: #85A0BA;
  background-color: #E4EDF5;
}
.camel-btn[data-style=primary-skyblue] {
  color: #fff;
  background-color: #002943;
}

/* ============================= 팝업 ============================= */
.camel-modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}
.camel-modal[aria-hidden=false] {
  display: flex;
}
.camel-modal::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 0;
  opacity: 1;
}
.camel-modal-wrap {
  position: relative;
  display: block;
  width: 100%;
  max-width: 33.3vw;
  padding: 2.5vw 2.9vw;
  border: 0.1rem solid #E4EDF5;
  border-radius: 0.3vw;
  background-color: #fff;
}
.camel-modal-head {
  min-height: 2vw;
  position: relative;
}
.camel-modal-body {
  margin-top: 1.3vw;
  text-align: center;
}
.camel-modal-foot {
  margin-top: 3.7vw;
}
.camel-modal-close {
  width: 2vw;
  height: 2vw;
  padding: 0;
  position: absolute;
  right: 0;
}
.camel-modal-close::before {
  content: "";
  display: block;
  width: 2vw;
  height: 2vw;
  background: url(../../camelotech/resource/img/ico-close.png);
  background-size: 2vw;
}
.camel-modal-tit {
  font-size: 1.7vw;
  font-weight: 500;
  color: #00090F;
}
.camel-modal-tit + .camel-modal-txt {
  margin-top: 1.7vw;
}
.camel-modal-txt {
  font-size: 1.2vw;
  font-weight: 300;
  color: #747474;
}

/* ============================= 개별 ============================= */
.wrapper {
  width: 100%;
  position: relative;
  box-sizing: border-box;
}

.header {
  max-width: 87.5vw;
  height: 5rem;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 9;
}
.header-wrap {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header-info {
  min-width: 26.5vw;
  height: 100%;
  min-height: 3vw;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}
.header-info-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.3vw;
}
.header-info-name {
  font-size: 1vw;
  font-weight: 600;
  color: #254667;
}
.header-info-btn {
  min-height: 1.7vw;
  padding: 0 0.8vw;
  font-size: 0.8vw;
  font-weight: 600;
  color: #254667;
  background-color: #E4EDF5;
  border-radius: 0.3vw;
}
.header-action {
  height: 100%;
  padding: 0 2vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.8vw;
  background-color: #002943;
}
.header-action[data-type=action02] .header-action-item:last-child {
  width: -moz-fit-content;
  width: fit-content;
}
.header-action-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  gap: 0.8vw;
}
.header-action-item {
  width: 100%;
}
.header-action-item[data-action=true] .header-action-name {
  color: #85A0BA;
}
.header-action-item[data-action=true] .header-action-name[data-color=green] {
  padding: 0.2vw 0.5vw;
  color: #32FF00;
  border: 0.1rem solid #32FF00;
  border-radius: 0.3vw;
}
.header-action-item[data-action=true] .header-action-name[data-color=green] + .progress-container {
  background-color: #254667;
}
.header-action-item[data-action=true] .progress-container {
  background-color: #85A0BA;
}
.header-action-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.8rem;
}
.header-action-name {
  font-size: 0.8vw;
  font-weight: 600;
  color: #254667;
}
.header-action-btn {
  width: 5.8vw;
  height: 1.7vw;
  font-size: 0.8vw;
  font-weight: 600;
  color: #fff;
  border-radius: 0.3vw;
  background-color: #008fff;
}
.header-action-btn[data-type=reserve] {
  background-color: #ffc200;
}
.header .progress-container {
  width: 100%;
  min-width: 6.9vw;
  background-color: #254667;
  border-radius: 25px;
  overflow: hidden;
}
.header .progress-bar {
  height: 2px;
  width: 0;
  background-color: #32ff00;
  border-radius: 25px 0 0 25px;
  transition: width 0.5s ease-in-out;
}

.content {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
}

.main-bar-wrap {
  width: 12.5vw;
  background-color: #EAF6FF;
}
.main-bar-wrap::before {
  content: "";
  display: block;
  width: 100%;
  height: 22vw;
  background: url(../../camelotech/resource/img/img-mainbarbg.png) 0 0 no-repeat;
  background-size: 100% 22vw;
}
.main-logo {
  position: absolute;
  top: 3.6vw;
  left: 1.7vw;
}
.main-logo img {
  width: 9.2vw;
  height: 1.1vw;
}
.main-facility-wrap {
  padding: 3vw 1vw 2vw;
}
.main-facility-title {
  margin-bottom: 2.3vw;
  font-size: 1vw;
  font-weight: 600;
  color: #00090F;
}
.main-setting-menu {
  display: flex;
  flex-direction: column;
  gap: 2vw;
  position: absolute;
  bottom: 2vw;
  left: 1vw;
}
.main-setting-list {
  display: flex;
  flex-direction: column;
  gap: 0.7vw;
}
.main-setting-item {
  font-size: 0.8vw;
  font-weight: 600;
  color: #254667;
  gap: 0.5vw;
}
.main-setting-item[data-icon=report]::before {
  background: url(../../camelotech/resource/img/ico-report.png) 0 0 no-repeat;
}
.main-setting-item[data-icon=settings]::before {
  background: url(../../camelotech/resource/img/ico-settings.png) 0 0 no-repeat;
}
.main-setting-item[data-icon=power]::before {
  background: url(../../camelotech/resource/img/ico-power.png) 0 0 no-repeat;
}
.main-setting-item[data-icon] {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.main-setting-item[data-icon]::before {
  content: "";
  display: block;
  width: 1vw;
  height: 1vw;
  background-size: 1vw;
}
.main-setting-btn {
  font-size: 0.8vw;
  font-weight: 600;
  color: #254667;
}
.main-setting-ver {
  font-size: 0.9vw;
  font-weight: 400;
  color: #4B5976;
}

.content-body {
  width: calc(100% - 12.5vw);
  padding: 3.3vw 2.5vw 0;
  background-color: #F5FBFF;
  position: relative;
  box-sizing: border-box;
}
.content-body .content-body-title[data-style=img] img {
  width: 7.9vw;
  height: 2.1vw;
}
.content-body .content-body-title[data-style=text] {
  font-size: 2vw;
  font-weight: 600;
  line-height: 2.3vw;
  color: #000E16;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.7vw;
}
.content-body .content-body-title[data-style=text] span {
  font-size: 1.2 0.5vw;
  font-weight: 300;
  line-height: 1.82vw;
  color: #000E16;
}

.manufacturing-wrap {
  width: 100%;
  margin-top: 11vw;
}
.manufacturing-list {
  width: 100%;
  max-width: 100vw;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.7vw;
  flex-wrap: wrap;
}
.manufacturing-item {
  width: auto;
  height: 21vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.manufacturing-item[data-style=temperature] {
  width: 22.5vw;
  border: 0.1rem solid #E4EDF5;
  border-radius: 0.3vw;
  background-color: #EDF5FC;
}
.manufacturing-item[data-style=temperature] .temp-wrap {
  width: 22.5vw;
  height: 100%;
  box-sizing: border-box;
  padding: 1vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 2vw;
}
.manufacturing-item[data-style=temperature] .temp-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3vw;
  position: relative;
}
.manufacturing-item[data-style=temperature] .temp-list:nth-of-type(1)::after {
  content: "";
  width: 0.1vw;
  height: calc(100% + 1.2vw);
  background-color: #E4EDF5;
  position: absolute;
  bottom: -1.2vw;
  right: -1vw;
}
.manufacturing-item[data-style=temperature] .temp-list:nth-of-type(2)::after {
  content: "";
  width: calc(100% + 1.2vw);
  height: 0.1vw;
  background-color: #E4EDF5;
  position: absolute;
  bottom: -1.2vw;
  left: -1.2vw;
}
.manufacturing-item[data-style=temperature] .temp-list:nth-of-type(3)::after {
  content: "";
  width: calc(100% + 1.2vw);
  height: 0.1vw;
  background-color: #E4EDF5;
  position: absolute;
  top: -0.9vw;
  right: -1.2vw;
}
.manufacturing-item[data-style=temperature] .temp-list:nth-of-type(4)::after {
  content: "";
  width: 0.1vw;
  height: calc(100% + 1.2vw);
  background-color: #E4EDF5;
  position: absolute;
  top: -1.1vw;
  left: -1.1vw;
}
.manufacturing-item[data-style=temperature] .temp-list-btn {
  min-height: 3.2vw;
  padding: 0 1.3vw;
  margin-top: 1.3vw;
  font-size: 0.9vw;
  font-weight: 500;
  line-height: 1.1vw;
  color: #85A0BA;
  background-color: #fff;
  border-radius: 0.3vw;
}
.manufacturing-item[data-style=temperature] .temp-item {
  font-size: 2.5vw;
  font-weight: 300;
  line-height: 3vw;
  color: #85A0BA;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.1vw;
}
.manufacturing-item[data-style=temperature] .temp-item::before {
  content: "";
  display: block;
  width: 2.5vw;
  height: 2.5vw;
}
.manufacturing-item[data-style=temperature] .temp-item[data-style=thermometer]::before {
  background: url(../../camelotech/resource/img/ico-thermometer.png) 0 0 no-repeat;
  background-size: 2.5vw;
}
.manufacturing-item[data-style=temperature] .temp-item[data-style=humid]::before {
  background: url(../../camelotech/resource/img/ico-humid.png) 0 0 no-repeat;
  background-size: 2.5vw;
}
.manufacturing-item[data-style=temperature] .temp-item[data-style=tanktemp]::before {
  background: url(../../camelotech/resource/img/ico-tanktemp.png) 0 0 no-repeat;
  background-size: 2.5vw;
}
.manufacturing-item[data-style=temperature] .temp-item[data-style=change]::before {
  background: url(../../camelotech/resource/img/ico-change.png) 0 0 no-repeat;
  background-size: 2.5vw;
}
.manufacturing-item[data-style=temperature] .temp-item-txt {
  font-size: 1vw;
  font-weight: 600;
  line-height: 1.4vw;
  text-align: center;
  color: #85A0BA;
}
.manufacturing-item:nth-last-child(1) {
  align-self: flex-start;
}
.manufacturing-btn {
  width: 18vw;
  min-width: 15vw;
  height: 100%;
  padding: 3.9vw 2.5vw 1.7vw;
  background-color: #fff;
  border: 0.1rem solid #E4EDF5;
  border-radius: 0.3vw;
}
.manufacturing-btn:focus {
  border: 0.1rem solid #008FFF;
}
.manufacturing-content-tit {
  font-size: 1.7vw;
  font-weight: 500;
  line-height: 2vw;
  color: #00090F;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vw;
}
.manufacturing-content-tit[data-style=processing]::before {
  background: url(../../camelotech/resource/img/img-processing.png) 0 0 no-repeat;
  background-size: 6.7vw 6.7vw;
}
.manufacturing-content-tit[data-style=flow]::before {
  background: url(../../camelotech/resource/img/img-flow.png) 0 0 no-repeat;
  background-size: 6.7vw 6.7vw;
}
.manufacturing-content-tit[data-style=cartridge]::before {
  background: url(../../camelotech/resource/img/img-cartridge.png) 0 0 no-repeat;
  background-size: 6.7vw 6.7vw;
}
.manufacturing-content-tit::before {
  content: "";
  display: block;
  width: 6.7vw;
  height: 6.7vw;
}
.manufacturing-content-tit::after {
  content: "";
  width: 100%;
  height: 0.1rem;
  background-color: #E4EDF5;
}
.manufacturing-content-txt {
  margin-top: 1vw;
  font-size: 1vw;
  font-weight: 600;
  line-height: 1.4vw;
  color: #747474;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3vw;
}
.manufacturing-content-txt span {
  color: #008FFF;
  position: relative;
}
.manufacturing-content-txt span.on::before {
  content: "";
  width: 0.3vw;
  height: 0.3vw;
  border-radius: 50%;
  background-color: #F10000;
  position: absolute;
  top: -0.2vw;
  right: -0.2vw;
}/*# sourceMappingURL=camelotech.css.map */