/* ==================================== menu ================================= */
.menu {
  width: 95%;
  height: 100vh;
  background-color: #000;
  position: fixed;
  top: 0;
  left: -95%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 9999;
}
.menu.blackStyle .ui-nav::before {
  background: url(./resource/img/ico_menu_black.png) 0 0 no-repeat;
}
.menu.blackStyle.open {
  left: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.menu.blackStyle.open .ui-nav::before {
  background: url(./resource/img/ico_menu_black.png) -36px 0 no-repeat;
}
.menu.open {
  left: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.menu.open .ui-nav::before {
  background: url(./resource/img/ico_menu_white.png) -36px 0 no-repeat;
}
.menu .ui-nav {
  width: 30px;
  height: 30px;
  position: absolute;
  right: -23px;
  overflow: hidden;
}
.menu .ui-nav::before {
  content: "";
  width: 50px;
  height: 30px;
  background: url(./resource/img/ico_menu_white.png) 0 0 no-repeat;
  background-size: 100% 100%;
  display: block;
}
.menu ul {
  width: 100%;
  padding-top: 30px;
}
.menu ul li {
  width: 100%;
  border-bottom: 1px solid #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.menu ul li a {
  display: inline-block;
  width: 100%;
  padding: 20px;
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 18px;
  font-weight: 500;
}
.menu ul li a:hover {
  background-color: rgba(255, 255, 255, 0.195);
}
.menu ul li a:focus {
  color: #000;
  background-color: #fff;
}