@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;0,600;0,700;1,500;1,600;1,700&display=swap");
html,
body,
div,
span,
iframe,
h1, h2, h3, h4, h5, h6, p, pre,
a,
code,
em,
img,
strong, b, u, i,
dl, dt, dd, ol, ul, li,
fieldset,
form,
label,
legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article,
figure, figcaption,
footer,
header,
section {
  margin: 0;
  padding: 0;
  border: 0;
}

/* list */
ol,
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* table */
table {
  width: 100%;
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
}

/* font */
body {
  color: #222;
  font-size: 16px;
  font-weight: normal;
}

a {
  color: #222;
  text-decoration: none;
}

i,
em {
  font-style: normal;
}

/* button */
button {
  padding: 0;
  margin: 0;
  background: transparent;
  outline: 0;
  border: 0;
  cursor: pointer;
}

/* hidden */
caption,
input[type=checkbox],
input[type=radio],
.ally-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0); /* 구형 브라우저를 위해 사용 */
  -webkit-clip-path: polygon(0 0, 0 0, 0 0);
          clip-path: polygon(0 0, 0 0, 0 0); /* inset(50%) 와 동일한 표현 */
  border: 0;
}

/* ============================================================== */
.playfair {
  font-family: "Playfair Display", serif;
}
.playfair * {
  font-family: "Playfair Display", serif;
}

@font-face {
  font-family: "Base";
  font-weight: 900;
  font-display: swap;
  src: local("Pretendard Black"), url(../font/pretendard/Pretendard-Black.subset.woff2) format("woff2"), url(../font/pretendard/Pretendard-Black.subset.woff) format("woff");
}
@font-face {
  font-family: "Base";
  font-weight: 800;
  font-display: swap;
  src: local("Pretendard ExtraBold"), url(../font/pretendard/Pretendard-ExtraBold.subset.woff2) format("woff2"), url(../font/pretendard/Pretendard-ExtraBold.subset.woff) format("woff");
}
@font-face {
  font-family: "Base";
  font-weight: 700;
  font-display: swap;
  src: local("Pretendard Bold"), url(../font/pretendard/Pretendard-Bold.subset.woff2) format("woff2"), url(../font/pretendard/Pretendard-Bold.subset.woff) format("woff");
}
@font-face {
  font-family: "Base";
  font-weight: 600;
  font-display: swap;
  src: local("Pretendard SemiBold"), url(../font/pretendard/Pretendard-SemiBold.subset.woff2) format("woff2"), url(../font/pretendard/Pretendard-SemiBold.subset.woff) format("woff");
}
@font-face {
  font-family: "Base";
  font-weight: 500;
  font-display: swap;
  src: local("Pretendard Medium"), url(../font/pretendard/Pretendard-Medium.subset.woff2) format("woff2"), url(../font/pretendard/Pretendard-Medium.subset.woff) format("woff");
}
@font-face {
  font-family: "Base";
  font-weight: 400;
  font-display: swap;
  src: local("Pretendard Regular"), url(../font/pretendard/Pretendard-Regular.subset.woff2) format("woff2"), url(../font/pretendard/Pretendard-Regular.subset.woff) format("woff");
}
@font-face {
  font-family: "Base";
  font-weight: 300;
  font-display: swap;
  src: local("Pretendard Light"), url(../font/pretendard/Pretendard-Light.subset.woff2) format("woff2"), url(../font/pretendard/Pretendard-Light.subset.woff) format("woff");
}
@font-face {
  font-family: "Base";
  font-weight: 200;
  font-display: swap;
  src: local("Pretendard ExtraLight"), url(../font/pretendard/Pretendard-ExtraLight.subset.woff2) format("woff2"), url(../font/pretendard/Pretendard-ExtraLight.subset.woff) format("woff");
}
@font-face {
  font-family: "Base";
  font-weight: 100;
  font-display: swap;
  src: local("Pretendard Thin"), url(../font/pretendard/Pretendard-Thin.subset.woff2) format("woff2"), url(../font/pretendard/Pretendard-Thin.subset.woff) format("woff");
}
h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.8rem;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

/* text */
h2 + h3,
h2 + div > h3 {
  margin-top: 4.8rem;
}

h3 + h4,
p + h4 {
  margin-top: 1.6rem;
}

h2 + p,
h3 + p,
h4 + p,
h2 + .listDefault,
h3 + .listDefault,
h4 + .listDefault,
h2 + table,
h3 + table,
h4 + table {
  margin-top: 1.6rem;
}

p + p {
  margin-top: 0.8rem;
}

strong + p {
  margin-top: 1.6rem;
}

/* list */
.listDefault + table,
table + .listDefault,
.listDefault + p,
p + .listDefault,
.listDefault + h3,
.listDefault + h4 {
  margin-top: 1.6rem;
}

/* table */
table + table {
  margin-top: 4.8rem;
}
table + p {
  margin-top: 0.8rem;
}

:root {
  --point-color: #dedbd1;
  --000: #000;
  --222: #222;
  --333: #333;
  --fff: #fff;
}

html {
  font-size: 62.5%;
}

/* ======================= 타이핑 ======================= */
.home {
  width: 100%;
  height: 100dvh;
  margin: 0 auto;
  background-color: #282726;
  overflow: auto;
}
.home * {
  font-size: 8vw;
}
.home::-webkit-scrollbar {
  display: none;
}
.home[data-bg=red] .typingArea {
  background-color: #650911;
}
.home[data-bg=red] .typingArea .typingBox {
  color: var(--fff);
}
.home[data-bg=orange] .typingArea {
  background-color: #BC5542;
}
.home[data-bg=orange] .typingArea .typingBox {
  color: #F6F0E4;
  text-shadow: 0.1rem 0.5rem 1rem #474747;
}
.home[data-bg=beige] .typingArea {
  background-color: var(--point-color);
}
.home[data-bg=beige] .typingArea .typingBox {
  color: var(--222);
  text-shadow: 0.1rem 0.5rem 1rem #474747;
}

.typingArea {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  position: relative;
}
.typingArea::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  opacity: 0.1;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/662025/grain.jpg") repeat center center;
  animation: grain 0.5s steps(1) infinite;
}
.typingArea .typingBox {
  width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  font-size: 10rem;
  font-weight: bolder;
  text-shadow: 1rem 1rem 0.1rem var(--000);
  text-align: center;
  z-index: 1;
}
.typingArea .typingBox .typing-txt {
  display: none;
}
.typingArea .typingBox .typing-txt ul li.on {
  display: inline-block;
  animation-name: cursor;
  animation-duration: 0.3s;
  animation-iteration-count: infinite;
  font-size: 1rem;
}

@keyframes cursor {
  0% {
    border-right: 0.1rem solid var(--fff);
  }
  50% {
    border-right: 0.1rem solid var(--000);
  }
  100% {
    border-right: 0.1rem solid var(--fff);
  }
}
@media (min-width: 0px) and (max-width: 375px) {
  .typingArea .typingBox {
    font-size: 5rem;
  }
}
@media (min-width: 376px) and (max-width: 650px) {
  .typingArea .typingBox {
    font-size: 6rem;
  }
}
/* ======================= 포폴 ======================= */
.container {
  width: 100%;
  position: sticky;
  top: 0;
}
.container .wrap {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  gap: 4.8rem;
  padding: 0 4rem;
  position: sticky;
  top: 0;
  box-sizing: border-box;
  background-color: var(--point-color);
}
.container .wrap.square {
  margin: 0 auto;
  background-color: var(--333);
}

.pf-img-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pf-img-wrap img {
  width: 53rem;
  height: 72rem;
  border-radius: 4rem;
}
.pf-txt {
  width: 100%;
}
.pf-txt::before {
  content: "";
  display: block;
  width: 0.2rem;
  height: 108%;
  margin: -2rem 0;
  background-color: var(--000);
  position: absolute;
  left: 59.4rem;
}
.pf-txt h2 {
  font-size: 12rem;
}
.pf-txt .sub-txt {
  position: absolute;
  bottom: 20rem;
  color: #6f6e74;
}
.pf-txt .sub-txt strong {
  font-size: 5rem;
  line-height: 1.1;
}
.pf-txt .sub-txt p {
  font-size: 1.5rem;
  font-weight: 300;
}
.pf-txt-em {
  position: absolute;
  bottom: 2rem;
  right: 4rem;
  font-size: 1.3rem;
}

.pf-top::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.1;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/662025/grain.jpg") repeat center center;
  animation: grain 0.5s steps(1) infinite;
}
.pf-top .sub-txt strong {
  color: var(--222);
}

.square-wrap {
  width: 40rem;
  height: 40rem;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.square-wrap:hover {
  cursor: pointer;
}
.square-wrap:hover .square-item {
  background-color: var(--point-color);
}
.square-wrap:hover .square-item:nth-child(1) {
  opacity: 0.3;
}
.square-wrap:hover .square-item:nth-child(2) {
  opacity: 0.5;
}
.square-wrap:hover .square-item:nth-child(3) {
  opacity: 0.8;
}
.square-wrap:hover .square-content-tit,
.square-wrap:hover .square-content-txt,
.square-wrap:hover p {
  color: var(--222);
}
.square-item {
  position: absolute;
  width: inherit;
  height: inherit;
  border: 0.1rem solid var(--fff);
  border-radius: 45% 60% 65% 35%/40% 45% 55% 60%;
  transition: 0.5s;
}
.square-item:nth-child(1) {
  animation: circle 6s linear infinite;
}
.square-item:nth-child(2) {
  animation: circle 4s linear infinite;
  animation-direction: reverse;
}
.square-item:nth-child(3) {
  animation: circle 10s linear infinite;
}
.square-content {
  width: 70%;
  text-align: left;
  color: var(--fff);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.square-content.skill {
  text-align: center;
}
.square-content-tit {
  text-align: center;
  color: var(--point-color);
  font-size: 4rem;
  font-weight: 700;
}
.square-content-btn {
  color: var(--fff);
  border: 0.1rem solid var(--fff);
  border-radius: 45% 60% 65% 35%/40% 45% 55% 60%;
  padding: 0.9rem;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  margin: 1.2rem auto 0;
}
@keyframes circle {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.career {
  padding: 4rem !important;
  height: auto !important;
  flex-direction: column;
  justify-content: center !important;
  align-items: center;
  gap: 0 !important;
}
.career::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.1;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/662025/grain.jpg") repeat center center;
  animation: grain 0.5s steps(1) infinite;
}
.career .pf-img-wrap {
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
  overflow: hidden;
}
.career .pf-img-wrap img {
  width: 150%;
  height: 30rem;
}
.career .pf-txt {
  text-align: center;
}
.career .pf-txt * {
  position: relative;
}
.career .pf-txt::before {
  display: none;
}
.career .pf-txt .sub-txt {
  margin-top: 3rem;
  color: var(--222);
  position: relative;
  bottom: initial;
  right: initial;
  text-align: center;
}
.career .pf-txt strong + p {
  margin-top: 3rem;
}
.career .pf-txt-em {
  display: inline-block;
  margin-top: 3rem;
  right: initial;
  bottom: initial;
  color: var(--222);
}

.loading {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}
.loading .loading-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loading .loading-wrap span {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  animation: loading 1s linear infinite;
  margin-right: 6px;
  background-color: var(--fff);
}
.loading .loading-wrap span:nth-of-type(2) {
  animation-delay: 0.2s;
}
.loading .loading-wrap span.squareBox {
  animation-delay: 0.4s;
  margin-right: 0;
}

@keyframes loading {
  0%, 100% {
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    opacity: 1;
    transform: scale(1.2);
  }
}
@media (min-width: 758px) and (max-width: 1360px) {
  .container {
    position: relative;
  }
  .container .wrap {
    position: relative;
  }
  .pf-img-wrap {
    margin-left: 8rem;
  }
  .pf-txt::before {
    display: none;
  }
  .pf-txt h2 {
    position: absolute;
    right: 2rem;
  }
  .pf-txt .sub-txt {
    position: absolute;
    right: 4rem;
    bottom: 15rem;
    text-align: right;
  }
  .container .square {
    height: auto;
    flex-wrap: wrap;
    padding: 6rem 0 9rem;
  }
  .container .square-wrap {
    top: 0;
    transform: translateY(0);
  }
  .container .square-item {
    top: 0;
    transform: translateY(0);
    padding: 1rem;
  }
  .container .square-item:last-child {
    margin-bottom: 0;
  }
  .career .pf-img-wrap {
    margin-left: 0;
  }
}
@media (min-width: 500px) and (max-width: 757px) {
  .container {
    position: relative;
  }
  .container .wrap {
    height: auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding: 4rem;
  }
  .pf-img-wrap img {
    width: 50vw;
    height: 62vw;
  }
  .pf-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
    text-align: center;
  }
  .pf-txt::before {
    display: none;
  }
  .pf-txt h2 {
    font-size: 6rem;
  }
  .pf-txt .sub-txt {
    position: relative;
    bottom: 0;
  }
  .pf-txt .pf-txt-em {
    position: relative;
    bottom: 0;
    right: 0;
  }
  .container .square-wrap {
    top: 0;
    transform: translateY(0);
    margin-bottom: 3rem;
  }
  .container .square-wrap:last-child {
    margin-bottom: 0;
  }
  .container .square-content p {
    text-align: center;
    font-size: 1.6rem;
  }
}
@media all and (max-width: 499px) {
  .container {
    position: relative;
  }
  .container .wrap {
    height: auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding: 2rem;
  }
  .home,
  .typingArea {
    height: 50dvh;
  }
  .pf-img-wrap img {
    width: 100%;
    height: 110vw;
  }
  .pf-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
    text-align: center;
  }
  .pf-txt::before {
    display: none;
  }
  .pf-txt h2 {
    font-size: 15vw;
  }
  .pf-txt .sub-txt {
    position: relative;
    bottom: 0;
  }
  .pf-txt .sub-txt strong {
    font-size: 8vw;
  }
  .pf-txt .pf-txt-em {
    font-size: 1.3rem;
    position: relative;
    bottom: 0;
    right: 0;
  }
  .container .square-wrap {
    width: 100%;
    height: auto;
    top: 0;
    transform: translateY(0);
    margin-bottom: 3rem;
  }
  .container .square-wrap:last-child {
    margin-bottom: 0;
  }
  .container .square-wrap:hover .square-content-tit,
  .container .square-wrap:hover .square-content-txt,
  .container .square-wrap:hover p {
    color: var(--point-color);
  }
  .container .square-wrap .square-content {
    color: var(--point-color);
  }
  .container .square-item {
    display: none;
  }
  .container .square-content {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    text-align: center;
  }
  .container .square .square-content p {
    text-align: center;
    font-size: 1.6rem;
  }
  .container .square .container .wrap.career {
    background-size: 225% 183%;
    background-position: -13rem 0;
  }
  .career .pf-img-wrap {
    width: 20rem;
    height: 20rem;
  }
}/*# sourceMappingURL=portfolio.css.map */