@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;0,600;0,700;1,500;1,600;1,700&display=swap");
html,
body,
div,
span,
iframe,
h1, h2, h3, h4, h5, h6, p, pre,
a,
code,
em,
img,
strong, b, u, i,
dl, dt, dd, ol, ul, li,
fieldset,
form,
label,
legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article,
figure, figcaption,
footer,
header,
section {
  margin: 0;
  padding: 0;
  border: 0;
}

/* list */
ol,
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* table */
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

table tr {
  border-bottom: 1px solid #000;
}
table tr th,
table tr td {
  border-right: 1px solid #000;
}
table tr th:last-child,
table tr td:last-child {
  border-right: 0;
}

/* font */
body {
  color: #222;
}
body font {
  size: 16px;
  weight: normal;
}

a {
  color: #222;
  text-decoration: none;
}

/* button */
button {
  background: transparent;
  outline: 0;
  border: 0;
  cursor: pointer;
}

/* hidden */
caption,
input[type=checkbox],
input[type=radio],
.ally-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  color: transparent !important;
  overflow: hidden !important;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: 0 !important;
  padding: 0 !important;
}

/* ============================================================== */
* {
  font-family: "Playfair Display", serif;
}

.container {
  position: sticky;
  top: 0;
}
.container .loading {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}
.container .loading .loading-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.container .loading .loading-wrap span {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-animation: loading 1s linear infinite;
          animation: loading 1s linear infinite;
  margin-right: 6px;
  background-color: #fff;
}
.container .loading .loading-wrap span:nth-of-type(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.container .loading .loading-wrap span.squareBox {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
  margin-right: 0;
}
@-webkit-keyframes loading {
  0%, 100% {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
@keyframes loading {
  0%, 100% {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
.container .wrap {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem;
  position: sticky;
  top: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #dedbd1;
}
.container .wrap.squareBox {
  margin: 0 auto;
  background-color: #333;
}
.container .wrap.squareBox .square {
  width: 25rem;
  height: 25rem;
  margin: 0 auto;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.container .wrap.squareBox .square span {
  position: absolute;
  width: inherit;
  height: inherit;
  border: 1px solid #fff;
  border-radius: 45% 60% 65% 35%/40% 45% 55% 60%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.container .wrap.squareBox .square span:nth-child(1) {
  -webkit-animation: circle 6s linear infinite;
          animation: circle 6s linear infinite;
}
.container .wrap.squareBox .square span:nth-child(2) {
  -webkit-animation: circle 4s linear infinite;
          animation: circle 4s linear infinite;
  animation-direction: reverse;
}
.container .wrap.squareBox .square span:nth-child(3) {
  -webkit-animation: circle 10s linear infinite;
          animation: circle 10s linear infinite;
}
.container .wrap.squareBox .square:hover {
  cursor: pointer;
}
.container .wrap.squareBox .square:hover span {
  background-color: crimson;
}
.container .wrap.squareBox .square:hover span:nth-child(1) {
  opacity: 0.3;
}
.container .wrap.squareBox .square:hover span:nth-child(2) {
  opacity: 0.5;
}
.container .wrap.squareBox .square:hover span:nth-child(3) {
  opacity: 0.8;
}
.container .wrap.squareBox .square:nth-child(2):hover span {
  background-color: dodgerblue;
}
.container .wrap.squareBox .square:nth-child(3):hover span {
  background-color: yellowgreen;
}
.container .wrap.squareBox .square > div {
  width: 70%;
  text-align: center;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.container .wrap.squareBox .square > div > h2 {
  padding-bottom: 1rem;
  font-size: 2rem;
  font-weight: 600;
}
.container .wrap.squareBox .square > div > p {
  line-height: 1.5rem;
  font-size: 0.8rem;
}
.container .wrap.squareBox .square > div > a {
  color: #fff;
  border: 1px solid #fff;
  border-radius: 45% 60% 65% 35%/40% 45% 55% 60%;
  padding: 9px;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 1.2rem auto 0;
}
@-webkit-keyframes circle {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes circle {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.container .wrap .pf_img {
  width: auto;
  height: 100%;
  margin-right: 2rem;
}
.container .wrap .pf_img img {
  width: 100%;
  height: 100%;
}
.container .wrap > span {
  width: 2px;
  height: 108%;
  margin: -2rem 0;
  background-color: #000;
}
.container .wrap .pf_txt {
  margin-left: 2rem;
}
.container .wrap .pf_txt h2 {
  font-size: 8rem;
}
.container .wrap .pf_txt .sub-txt {
  position: absolute;
  bottom: 5rem;
  font-size: 1rem;
  color: #6f6e74;
  line-height: 1.5rem;
}
.container .wrap .pf_txt .sub-txt strong {
  display: block;
  padding-bottom: 1rem;
  font-size: 2rem;
}
.container .wrap em {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  font-size: 1rem;
}

@media (min-width: 360px) and (max-width: 499px) {
  .container {
    position: relative;
  }
  .container .wrap {
    height: auto;
    display: block;
    position: relative;
    padding: 0;
  }
  .container .wrap.squareBox {
    display: block;
    height: auto;
    padding: 2rem 0;
  }
  .container .wrap.squareBox .square {
    width: 100%;
    height: 400px;
    top: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    margin-top: 50px;
  }
  .container .wrap.squareBox .square:last-child {
    margin-bottom: 50px;
  }
  .container .wrap.squareBox .square:hover span {
    background-color: transparent;
  }
  .container .wrap.squareBox .square:nth-child(2):hover span {
    background-color: transparent;
  }
  .container .wrap.squareBox .square:nth-child(3):hover span {
    background-color: transparent;
  }
  .container .wrap.squareBox .square > div > h2 {
    font-size: 1.5rem;
  }
  .container .wrap.squareBox .square > div > p {
    line-height: 1.5rem;
    font-size: 0.8rem;
  }
  .container .wrap.squareBox .square > div > a {
    padding: 9px;
    margin: 1.2rem auto 0;
  }
  .container .wrap:last-child .pf_txt .sub-txt {
    font-size: 0.8rem;
    padding: 0 1rem;
  }
  .container .wrap .pf_img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
  .container .wrap .pf_img img {
    width: 100%;
    height: 100%;
  }
  .container .wrap > span {
    display: none;
  }
  .container .wrap .pf_txt {
    width: 100%;
    margin-left: 0;
    text-align: center;
    margin-bottom: 5rem;
  }
  .container .wrap .pf_txt h2 {
    font-size: 1rem;
    margin-bottom: 2rem;
  }
  .container .wrap .pf_txt .sub-txt {
    position: relative;
    bottom: 0;
  }
  .container .wrap .pf_txt .sub-txt strong {
    font-size: 1.5rem;
  }
  .container .wrap em {
    right: 3rem;
    font-size: 0.7rem;
  }
}
@media (min-width: 500px) and (max-width: 757px) {
  .container {
    position: relative;
  }
  .container .wrap {
    height: auto;
    display: block;
    position: relative;
    padding: 3rem;
  }
  .container .wrap.squareBox {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .container .wrap.squareBox .square {
    width: 80%;
    height: 400px;
    top: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    margin-bottom: 3rem;
  }
  .container .wrap.squareBox .square:last-child {
    margin-bottom: 0;
  }
  .container .wrap.squareBox .square span {
    left: 9%;
  }
  .container .wrap.squareBox .square > div > h2 {
    font-size: 1.5rem;
  }
  .container .wrap.squareBox .square > div > p {
    line-height: 1.2rem;
    font-size: 0.7rem;
  }
  .container .wrap.squareBox .square > div > a {
    padding: 9px;
    margin: 1.2rem auto 0;
  }
  .container .wrap:last-child .pf_txt .sub-txt {
    font-size: 0.5rem;
  }
  .container .wrap .pf_img {
    width: 25rem;
    height: 30rem;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
  .container .wrap .pf_img img {
    width: 100%;
    height: 100%;
  }
  .container .wrap > span {
    display: none;
  }
  .container .wrap .pf_txt {
    width: 100%;
    margin-left: 0;
    text-align: center;
    margin-bottom: 2rem;
  }
  .container .wrap .pf_txt h2 {
    font-size: 1rem;
    margin-bottom: 2rem;
  }
  .container .wrap .pf_txt .sub-txt {
    position: relative;
    bottom: 0;
  }
  .container .wrap .pf_txt .sub-txt strong {
    font-size: 1.5rem;
  }
  .container .wrap em {
    right: 3rem;
    font-size: 0.7rem;
  }
}
@media (min-width: 758px) and (max-width: 1359px) {
  .container {
    position: relative;
  }
  .container .wrap {
    position: relative;
    padding: 0;
  }
  .container .wrap.squareBox {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: auto;
  }
  .container .wrap.squareBox .square {
    height: 400px;
    top: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    padding: 1rem;
  }
  .container .wrap.squareBox .square:last-child {
    margin-bottom: 0;
  }
  .container .wrap.squareBox .square > div > h2 {
    padding-bottom: 1rem;
    font-size: 1.3rem;
    font-weight: 600;
  }
  .container .wrap.squareBox .square > div > p {
    line-height: 1.3rem;
    font-size: 0.7rem;
  }
  .container .wrap.squareBox .square > div > a {
    padding: 9px;
    margin: 1.2rem auto 0;
  }
  .container .wrap:last-child .pf_txt .sub-txt {
    font-size: 0.5rem;
  }
  .container .wrap .pf_img {
    width: 40%;
    height: 100%;
    margin-right: 0.5rem;
  }
  .container .wrap .pf_img img {
    width: 100%;
    height: 100%;
  }
  .container .wrap .pf_txt {
    width: 60%;
    margin-left: 0.5rem;
  }
  .container .wrap .pf_txt h2 {
    font-size: 2rem;
  }
  .container .wrap .pf_txt .sub-txt {
    font-size: 1rem;
    line-height: inherit;
    padding-right: 0.5rem;
  }
  .container .wrap .pf_txt .sub-txt strong {
    font-size: 1.5rem;
  }
  .container .wrap em {
    bottom: 1rem;
    right: 1rem;
  }
}