.ocr-body {
    position: relative;
    z-index: 0;
    width: 100%;
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    -webkit-box-orient:horizontal;
    padding: $x2 $x3 calc(env(safe-area-inset-bottom) + $x5);
    display: flex; 
    flex-direction: column;
}

