.ocr-header {
    position: relative;
    z-index: 2;
    width: 100%;
    padding: env(safe-area-inset-top) calc(env(safe-area-inset-right) + $x3) 0 calc(env(safe-area-inset-left) + $x3);
    transition: background-color .2s ease-in;
    min-height: 5.6rem;
    background: #FFE8BF;
    
    &-wrap {
        width: 100%;
        min-height: 5.6rem;
        margin: 0 auto;
        padding: 0 $x4;
        position: relative;
        // max-width: calc($maxwidth + $x6);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &-tit {
        display: flex;
        align-items: center;
        line-height: 1;
        position: relative;

        &[aria-label]::before {
            content: attr(aria-label);
            display: block;
            position: relative;
            font-family: 'KBF';
            font-weight: 700;
            font-size: 2rem;
            line-height: 2.6rem;
            color: #222;
            top:0.2rem;
        }
    }
    &-group {
        position: relative;
        display: flex;
        justify-content: flex-end;
        gap: $x2;
    }
    .ocr-header-group[data-type="popup"] {display: none;}
    &.arrow-type2 .ocr-hbtn[data-icon=back]::before{background: url(../img/common/ico_h_back.svg) 0 0/cover;}
    .ocr-hbtn {
        position: relative;
        width: 3rem;
        height: 3rem;

        &::before {
            width: 3rem;
            height: 3rem;
        }

        &[data-icon="back"] {
            position: absolute;
            left:0;
            display: block;
        }

        &[data-icon="popupclose"]::before {background: url(../img/common/ico_h_close_dark.svg) 0 0 / cover;}
        &[data-icon="back"]::before {background: url(../img/common/ico_h_back_dark.svg) 0 0 / cover;}
        
        .ocr-badge {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 0;
            width: 0.6rem;
            height: 0.6rem;
            @include setRound(0.3rem);
            background-color: orangered;
        }
    }

    //main page(ocare) : title + button
    &[data-color="light"] .ocr-header-tit::before {color: var(--gray_0);}

    //sub page : back + title
    &[data-type="sub"] {
        .ocr-header-wrap{
            > .ocr-header-tit ~ .mdl-btn {
                position: absolute; 
                right:0;
                top: 2.2rem;
            }
        }
        .ocr-header-group {
            display: none;
            width: 3rem;
            .ocr-hbtn {display: none;}
        }
        
    }

    //popup
    &[data-type="popup"] {
        .ocr-header-wrap{
            justify-content: center;
            padding: 0 $x4
        }
        .ocr-header-group[data-type="popup"] {
            position: absolute;
            right:0;
            display: block;
        }
        .ocr-header-group {
            display: none;
            width: 3rem;
        }
    }
}

.ocr-wrap .ocr-header {
    position: relative;
}

@media screen and (max-width:320px) {
    .ocr-header-group {
        gap: $x1;
    }
}



