.ocr-footer {
	position: relative;
	display: flex;
	justify-content: center;
	width: 100%;
	min-height: 7.2rem;
	background-color: var(--gray_0);
	border-top: .1rem solid #F7F7F7;
	padding: 0 2.9rem env(safe-area-inset-bottom);

	&-wrap {
		position: relative;
		display: flex;
		width: 100%;
		max-width: $maxwidth;
	}

	&[data-type="sub"] {
		padding: 2rem 2.4rem calc(env(safe-area-inset-bottom) + 3rem);
		min-height: auto;
		border-top: 0;

		.mdl-btn-wrap {
			max-width: $maxwidth;
			margin: 0 auto;
			gap: .6rem;
		}
	}
}

.ocr-nav {
	position: relative;
	display: flex;
	width: 100%;
	justify-content: space-between;
	padding: 0.8rem 0;

	&-btn {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 4.5rem;

		&::before {
			content: "";
			display: block;
			width: 4rem;
			height: 4rem;
			transform: scale(1, 1) translate(0, 0);
			transform-origin: center 80%;
			background-repeat: no-repeat;
			background-position: 50% 50%;
			background-size: 4.1rem 4rem
		}
/*
		&[data-nav="health"]::before {
			background-image: url("data:image/svg+xml,%3Csvg width='41' height='40' viewBox='0 0 41 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.4657 30.2945C16.2391 29.1693 9 24.4354 9 16.411C9 12.8658 11.7716 10 15.205 10C17.2319 10 19.0314 10.9977 20.1689 12.5686C21.2858 11.019 23.1059 10 25.1329 10C28.5663 10 31.3379 12.8658 31.3379 16.411C31.3379 24.4354 24.0988 29.1693 20.8515 30.2945C20.4792 30.4218 19.838 30.4218 19.4657 30.2945Z' fill='%23DADCDF'/%3E%3Cpath d='M13.3413 19.7745H16.3545L17.6409 17.9053L20.0003 22.2667L21.998 19.7745H26.9922' stroke='%23B7BABF' stroke-width='1.8' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
		}
		&[data-nav="health"][aria-selected="true"]::before,
		&[data-nav="health"].selected::before {
			background-image: url("data:image/svg+xml,%3Csvg width='41' height='40' viewBox='0 0 41 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.4657 30.2945C16.2391 29.1693 9 24.4354 9 16.411C9 12.8658 11.7716 10 15.205 10C17.2319 10 19.0314 10.9977 20.1689 12.5686C21.2858 11.019 23.1059 10 25.1329 10C28.5663 10 31.3379 12.8658 31.3379 16.411C31.3379 24.4354 24.0988 29.1693 20.8515 30.2945C20.4792 30.4218 19.838 30.4218 19.4657 30.2945Z' fill='%23FFC700'/%3E%3Cpath d='M13.3413 19.7745H16.3545L17.6409 17.9053L20.0003 22.2667L21.998 19.7745H26.9922' stroke='%23333A44' stroke-width='1.8' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
		}

		&[data-nav="store"]::before {
			background-image: url("data:image/svg+xml,%3Csvg width='41' height='40' viewBox='0 0 41 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5 19V24.4545C10.5 27.5418 10.5 29.08 11.4778 30.04C12.4556 31 14.0222 31 17.1667 31H23.8333C26.9778 31 28.5444 31 29.5222 30.04C30.5 29.08 30.5 27.5418 30.5 24.4545V19' fill='%23EEEEEE'/%3E%3Cpath d='M23.5 26C22.82 26.61 21.73 27 20.5 27C19.27 27 18.18 26.61 17.5 26' stroke='%23C0C0C0' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M32.2031 15.1486L31.4445 12.7257C31.2102 11.9943 31.0205 11.3657 30.8086 10.8857C30.5854 10.3829 30.3177 9.93714 29.8714 9.60571C29.4252 9.26286 28.9454 9.12571 28.4099 9.06857C27.8967 9 27.2831 9 26.5468 9H14.4532C13.7169 9 13.1033 9 12.5901 9.05714C12.0657 9.12571 11.5748 9.26286 11.1286 9.59429C10.6935 9.92571 10.4146 10.3714 10.1914 10.8743C9.97945 11.3543 9.78979 11.9829 9.55551 12.7143L8.79687 15.1486C8.59605 15.8 8.41755 16.3029 8.54027 17.08C8.5849 17.3886 8.65184 17.6514 8.75224 17.8914C8.85265 18.1314 8.98653 18.3029 9.07578 18.44C10.1691 19.9943 12.1884 21 14.0739 21C15.2899 21 16.3944 20.5886 17.2981 19.8914C18.1906 20.5771 19.2951 21 20.5 21C21.7049 21 22.8205 20.5886 23.7242 19.8914C24.6167 20.5771 25.7212 21 26.9261 21C28.8116 21 30.8197 19.9943 31.9242 18.44C32.0135 18.3029 32.1474 18.1314 32.2478 17.8914C32.3482 17.6514 32.4151 17.4 32.4597 17.08C32.5825 16.3029 32.4039 15.8 32.2031 15.1486Z' fill='%23C0C0C0'/%3E%3C/svg%3E%0A");
		}
		&[data-nav="store"][aria-selected="true"]::before,
		&[data-nav="store"].selected::before {
			background-image: url("data:image/svg+xml,%3Csvg width='41' height='40' viewBox='0 0 41 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5 19V24.4545C10.5 27.5418 10.5 29.08 11.4778 30.04C12.4556 31 14.0222 31 17.1667 31H23.8333C26.9778 31 28.5444 31 29.5222 30.04C30.5 29.08 30.5 27.5418 30.5 24.4545V19' fill='%23FFC700'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.7556 25.3323C17.1244 24.9211 17.7567 24.8868 18.1678 25.2556C18.6259 25.6666 19.4596 26 20.5 26C21.5404 26 22.3741 25.6666 22.8323 25.2556C23.2434 24.8868 23.8756 24.9211 24.2444 25.3323C24.6132 25.7434 24.5789 26.3756 24.1678 26.7444C23.2659 27.5534 21.9196 28 20.5 28C19.0804 28 17.7341 27.5534 16.8323 26.7444C16.4211 26.3756 16.3868 25.7434 16.7556 25.3323Z' fill='black'/%3E%3Cpath d='M32.2031 15.1486L31.4445 12.7257C31.2102 11.9943 31.0205 11.3657 30.8086 10.8857C30.5854 10.3829 30.3177 9.93714 29.8714 9.60571C29.4252 9.26286 28.9454 9.12571 28.4099 9.06857C27.8967 9 27.2831 9 26.5468 9H14.4532C13.7169 9 13.1033 9 12.5901 9.05714C12.0657 9.12571 11.5748 9.26286 11.1286 9.59429C10.6935 9.92571 10.4146 10.3714 10.1914 10.8743C9.97945 11.3543 9.78979 11.9829 9.55551 12.7143L8.79687 15.1486C8.59605 15.8 8.41755 16.3029 8.54027 17.08C8.5849 17.3886 8.65184 17.6514 8.75224 17.8914C8.85265 18.1314 8.98653 18.3029 9.07578 18.44C10.1691 19.9943 12.1884 21 14.0739 21C15.2899 21 16.3944 20.5886 17.2981 19.8914C18.1906 20.5771 19.2951 21 20.5 21C21.7049 21 22.8205 20.5886 23.7242 19.8914C24.6167 20.5771 25.7212 21 26.9261 21C28.8116 21 30.8197 19.9943 31.9242 18.44C32.0135 18.3029 32.1474 18.1314 32.2478 17.8914C32.3482 17.6514 32.4151 17.4 32.4597 17.08C32.5825 16.3029 32.4039 15.8 32.2031 15.1486Z' fill='black'/%3E%3C/svg%3E%0A");
		}

		&[data-nav="challenge"]::before {
			background-image: url("data:image/svg+xml,%3Csvg width='41' height='40' viewBox='0 0 41 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='40' height='40' transform='translate(0.5)' fill='white'/%3E%3Cpath d='M30.8237 11.5639C28.1584 8.86151 24.5466 9.14972 23.0738 9.63162L20.5061 19.9299C24.686 19.5336 27.4144 21.053 28.2561 21.8622C30.4241 23.3912 32.3139 22.9139 33.1704 22.3854C33.311 22.2986 33.4008 22.1535 33.4407 21.9932L35.6719 13.0444C35.7441 12.7548 35.4613 12.4976 35.1712 12.5676C32.9684 13.0988 31.3793 12.157 30.8237 11.5639Z' fill='%23DADCDF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M23.2528 9.30247C22.8532 9.20284 22.4485 9.44601 22.3489 9.84561L19.636 20.7266L20.5001 23.4254L23.796 10.2064C23.8956 9.80681 23.6524 9.4021 23.2528 9.30247ZM19.5856 27.0932L18.7666 24.2132L17.2977 30.1047C17.1981 30.5043 17.4413 30.909 17.8409 31.0086C18.2405 31.1083 18.6452 30.8651 18.7448 30.4655L19.5856 27.0932Z' fill='%23DADCDF'/%3E%3Cpath d='M9.67688 11.7175C12.2946 8.96904 15.911 9.19416 17.3919 9.65028L20.1389 19.9022C15.9528 19.5789 13.2513 21.1457 12.4239 21.9695C10.2829 23.536 8.38508 23.0918 7.51941 22.5783C7.37734 22.494 7.28507 22.3505 7.24231 22.1909L4.85528 13.2824C4.77804 12.9941 5.05631 12.732 5.34758 12.7969C7.55929 13.2897 9.13172 12.3203 9.67688 11.7175Z' fill='%23B7BABF'/%3E%3Cpath d='M18.1032 9.83356C17.9966 9.43576 17.5877 9.19969 17.1899 9.30628C16.7921 9.41287 16.556 9.82176 16.6626 10.2196L22.0666 30.3874C22.1731 30.7852 22.582 31.0213 22.9798 30.9147C23.3776 30.8081 23.6137 30.3992 23.5071 30.0014L18.1032 9.83356Z' fill='%23B7BABF'/%3E%3C/svg%3E%0A");
		}
		&[data-nav="challenge"][aria-selected="true"]::before,
		&[data-nav="challenge"].selected::before {
			background-image: url("data:image/svg+xml,%3Csvg width='41' height='40' viewBox='0 0 41 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='40' height='40' transform='translate(0.5)' fill=''/%3E%3Cpath d='M30.8237 11.5639C28.1584 8.86151 24.5466 9.14972 23.0738 9.63162L20.5061 19.9299C24.686 19.5336 27.4144 21.053 28.2561 21.8622C30.4241 23.3912 32.3139 22.9139 33.1704 22.3854C33.311 22.2986 33.4008 22.1535 33.4407 21.9932L35.6719 13.0444C35.7441 12.7548 35.4613 12.4976 35.1712 12.5676C32.9684 13.0988 31.3793 12.157 30.8237 11.5639Z' fill='black'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M23.2528 9.30247C22.8532 9.20284 22.4485 9.44601 22.3489 9.84561L19.636 20.7266L20.5001 23.4254L23.796 10.2064C23.8956 9.80681 23.6524 9.4021 23.2528 9.30247ZM19.5856 27.0932L18.7666 24.2132L17.2977 30.1047C17.1981 30.5043 17.4413 30.909 17.8409 31.0086C18.2405 31.1083 18.6452 30.8651 18.7448 30.4655L19.5856 27.0932Z' fill='black'/%3E%3Cpath d='M9.67688 11.7175C12.2946 8.96904 15.911 9.19416 17.3919 9.65028L20.1389 19.9022C15.9528 19.5789 13.2513 21.1457 12.4239 21.9695C10.2829 23.536 8.38508 23.0918 7.51941 22.5783C7.37734 22.494 7.28507 22.3505 7.24231 22.1909L4.85528 13.2824C4.77804 12.9941 5.05631 12.732 5.34758 12.7969C7.55929 13.2897 9.13172 12.3203 9.67688 11.7175Z' fill='%23FFC700'/%3E%3Cpath d='M18.1032 9.83356C17.9966 9.43576 17.5877 9.19969 17.1899 9.30628V9.30628C16.7921 9.41287 16.556 9.82176 16.6626 10.2196L22.0666 30.3874C22.1731 30.7852 22.582 31.0213 22.9798 30.9147V30.9147C23.3776 30.8081 23.6137 30.3992 23.5071 30.0014L18.1032 9.83356Z' fill='%23FFC700'/%3E%3C/svg%3E%0A");
		}

		&[data-nav="menu"]::before {
			background-image: url("data:image/svg+xml,%3Csvg width='41' height='40' viewBox='0 0 41 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='40' height='40' transform='translate(0.5)' fill='white'/%3E%3Cpath d='M11 12.5H29' stroke='%23B7BABF' stroke-width='2.8' stroke-linecap='round'/%3E%3Cpath d='M11 19.5H29' stroke='%23B7BABF' stroke-width='2.8' stroke-linecap='round'/%3E%3Cpath d='M11 26.5H29' stroke='%23B7BABF' stroke-width='2.8' stroke-linecap='round'/%3E%3C/svg%3E%0A");
		}
		&[data-nav="menu"][aria-selected="true"]::before,
		&[data-nav="menu"].selected::before {
			background-image: url("data:image/svg+xml,%3Csvg width='41' height='40' viewBox='0 0 41 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='40' height='40' transform='translate(0.5)' fill='white'/%3E%3Cpath d='M11 12.5H29' stroke='%23000000' stroke-width='2.8' stroke-linecap='round'/%3E%3Cpath d='M11 19.5H29' stroke='%23000000' stroke-width='2.8' stroke-linecap='round'/%3E%3Cpath d='M11 26.5H29' stroke='%23000000' stroke-width='2.8' stroke-linecap='round'/%3E%3C/svg%3E%0A");
		}
*/

		&[data-nav="health"]::before {
			background-image: url("data:image/svg+xml,%3Csvg width='41' height='40' viewBox='0 0 41 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.2176 10C13.3824 10.0594 12.3 10.2615 11.5353 11.0222C10.5 12.0681 10.5 13.7558 10.5 17.1194V24.8568C10.5 28.2204 10.5 29.9082 11.5353 30.9541C12.5706 32 14.2294 32 17.5588 32H23.4412C26.7706 32 28.4294 32 29.4647 30.9541C30.5 29.9082 30.5 28.2204 30.5 24.8568V17.1194C30.5 13.7558 30.5 12.0681 29.4647 11.0222C28.7118 10.2615 27.6176 10.0475 25.7824 10' fill='%23EEEEEE'/%3E%3Cpath d='M16.5 23H20.5ZM16.5 18H24.5Z' fill='%23C0C0C0'/%3E%3Cpath d='M16.5 23H20.5M16.5 18H24.5' stroke='%23C0C0C0' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M15.5 10C15.5 8.89143 16.3667 8 17.4444 8H23.5556C24.6333 8 25.5 8.89143 25.5 10C25.5 11.1086 24.6333 12 23.5556 12H17.4444C16.3667 12 15.5 11.1086 15.5 10Z' fill='%23C0C0C0'/%3E%3C/svg%3E%0A");
		}
		&[data-nav="health"][aria-selected="true"]::before,
		&[data-nav="health"].selected::before {
			background-image: url("data:image/svg+xml,%3Csvg width='41' height='40' viewBox='0 0 41 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.2176 10C13.3824 10.0594 12.3 10.2615 11.5353 11.0222C10.5 12.0681 10.5 13.7558 10.5 17.1194V24.8568C10.5 28.2204 10.5 29.9082 11.5353 30.9541C12.5706 32 14.2294 32 17.5588 32H23.4412C26.7706 32 28.4294 32 29.4647 30.9541C30.5 29.9082 30.5 28.2204 30.5 24.8568V17.1194C30.5 13.7558 30.5 12.0681 29.4647 11.0222C28.7118 10.2615 27.6176 10.0475 25.7824 10' fill='%23FFD700'/%3E%3Cpath d='M16.5 23H20.5ZM16.5 18H24.5Z' fill='%23444'/%3E%3Cpath d='M16.5 23H20.5M16.5 18H24.5' stroke='%23444' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M15.5 10C15.5 8.89143 16.3667 8 17.4444 8H23.5556C24.6333 8 25.5 8.89143 25.5 10C25.5 11.1086 24.6333 12 23.5556 12H17.4444C16.3667 12 15.5 11.1086 15.5 10Z' fill='%23444'/%3E%3C/svg%3E%0A");
		}

		&[data-nav="store"]::before {
			background-image: url("data:image/svg+xml,%3Csvg width='41' height='40' viewBox='0 0 41 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5 19V24.4545C10.5 27.5418 10.5 29.08 11.4778 30.04C12.4556 31 14.0222 31 17.1667 31H23.8333C26.9778 31 28.5444 31 29.5222 30.04C30.5 29.08 30.5 27.5418 30.5 24.4545V19' fill='%23EEEEEE'/%3E%3Cpath d='M23.5 26C22.82 26.61 21.73 27 20.5 27C19.27 27 18.18 26.61 17.5 26' stroke='%23C0C0C0' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M32.2031 15.1486L31.4445 12.7257C31.2102 11.9943 31.0205 11.3657 30.8086 10.8857C30.5854 10.3829 30.3177 9.93714 29.8714 9.60571C29.4252 9.26286 28.9454 9.12571 28.4099 9.06857C27.8967 9 27.2831 9 26.5468 9H14.4532C13.7169 9 13.1033 9 12.5901 9.05714C12.0657 9.12571 11.5748 9.26286 11.1286 9.59429C10.6935 9.92571 10.4146 10.3714 10.1914 10.8743C9.97945 11.3543 9.78979 11.9829 9.55551 12.7143L8.79687 15.1486C8.59605 15.8 8.41755 16.3029 8.54027 17.08C8.5849 17.3886 8.65184 17.6514 8.75224 17.8914C8.85265 18.1314 8.98653 18.3029 9.07578 18.44C10.1691 19.9943 12.1884 21 14.0739 21C15.2899 21 16.3944 20.5886 17.2981 19.8914C18.1906 20.5771 19.2951 21 20.5 21C21.7049 21 22.8205 20.5886 23.7242 19.8914C24.6167 20.5771 25.7212 21 26.9261 21C28.8116 21 30.8197 19.9943 31.9242 18.44C32.0135 18.3029 32.1474 18.1314 32.2478 17.8914C32.3482 17.6514 32.4151 17.4 32.4597 17.08C32.5825 16.3029 32.4039 15.8 32.2031 15.1486Z' fill='%23C0C0C0'/%3E%3C/svg%3E%0A");
		}
		&[data-nav="store"][aria-selected="true"]::before,
		&[data-nav="store"].selected::before {
			background-image: url("data:image/svg+xml,%3Csvg width='41' height='40' viewBox='0 0 41 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5 19V24.4545C10.5 27.5418 10.5 29.08 11.4778 30.04C12.4556 31 14.0222 31 17.1667 31H23.8333C26.9778 31 28.5444 31 29.5222 30.04C30.5 29.08 30.5 27.5418 30.5 24.4545V19' fill='%23FFD700'/%3E%3Cpath d='M23.5 26C22.82 26.61 21.73 27 20.5 27C19.27 27 18.18 26.61 17.5 26' stroke='%23444' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M32.2031 15.1486L31.4445 12.7257C31.2102 11.9943 31.0205 11.3657 30.8086 10.8857C30.5854 10.3829 30.3177 9.93714 29.8714 9.60571C29.4252 9.26286 28.9454 9.12571 28.4099 9.06857C27.8967 9 27.2831 9 26.5468 9H14.4532C13.7169 9 13.1033 9 12.5901 9.05714C12.0657 9.12571 11.5748 9.26286 11.1286 9.59429C10.6935 9.92571 10.4146 10.3714 10.1914 10.8743C9.97945 11.3543 9.78979 11.9829 9.55551 12.7143L8.79687 15.1486C8.59605 15.8 8.41755 16.3029 8.54027 17.08C8.5849 17.3886 8.65184 17.6514 8.75224 17.8914C8.85265 18.1314 8.98653 18.3029 9.07578 18.44C10.1691 19.9943 12.1884 21 14.0739 21C15.2899 21 16.3944 20.5886 17.2981 19.8914C18.1906 20.5771 19.2951 21 20.5 21C21.7049 21 22.8205 20.5886 23.7242 19.8914C24.6167 20.5771 25.7212 21 26.9261 21C28.8116 21 30.8197 19.9943 31.9242 18.44C32.0135 18.3029 32.1474 18.1314 32.2478 17.8914C32.3482 17.6514 32.4151 17.4 32.4597 17.08C32.5825 16.3029 32.4039 15.8 32.2031 15.1486Z' fill='%23444'/%3E%3C/svg%3E%0A");
		}

		&[data-nav="event"]::before {
			background-image: url("data:image/svg+xml,%3Csvg width='41' height='40' viewBox='0 0 41 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5 17.9998V22.727C10.5 26.627 10.5 28.577 11.7875 29.7825C13.075 30.9998 15.1375 30.9998 19.25 30.9998H21.75C25.875 30.9998 27.9375 30.9998 29.2125 29.7825C30.5 28.5652 30.5 26.6152 30.5 22.727V17.9998' fill='%23EEEEEE'/%3E%3Cpath d='M9.5 15.4998C9.5 14.5623 9.5 14.0998 9.74444 13.7498C9.90333 13.5248 10.1356 13.3373 10.4167 13.1998C10.8444 12.9998 11.4189 12.9998 12.5556 12.9998H28.4444C29.5811 12.9998 30.1556 12.9998 30.5833 13.1998C30.8644 13.3373 31.0967 13.5248 31.2556 13.7498C31.5 14.0998 31.5 14.5623 31.5 15.4998C31.5 16.4373 31.5 16.8998 31.2556 17.2498C31.0967 17.4748 30.8644 17.6623 30.5833 17.7998C30.1556 17.9998 29.5811 17.9998 28.4444 17.9998H12.5556C11.4189 17.9998 10.8444 17.9998 10.4167 17.7998C10.1356 17.6623 9.90333 17.4748 9.74444 17.2498C9.5 16.8998 9.5 16.4373 9.5 15.4998Z' fill='%23C0C0C0'/%3E%3Cpath d='M24.7385 8.99976H24.3782C22.2465 8.99976 20.515 10.7298 20.515 12.8598C20.515 10.7298 18.7836 8.99976 16.6518 8.99976H16.2915C15.3007 8.99976 14.5 9.79976 14.5 10.7898C14.5 12.5698 15.9412 13.9998 17.7127 13.9998H23.2873C25.0688 13.9998 26.5 12.5598 26.5 10.7898C26.5 9.79976 25.6993 8.99976 24.7085 8.99976H24.7385Z' stroke='%23C0C0C0' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M20.5 17.9998L20.5 29.9998' stroke='%23C0C0C0' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
		}
		&[data-nav="event"][aria-selected="true"]::before,
		&[data-nav="event"].selected::before {
			background-image: url("data:image/svg+xml,%3Csvg width='41' height='40' viewBox='0 0 41 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5 17.9998V22.727C10.5 26.627 10.5 28.577 11.7875 29.7825C13.075 30.9998 15.1375 30.9998 19.25 30.9998H21.75C25.875 30.9998 27.9375 30.9998 29.2125 29.7825C30.5 28.5652 30.5 26.6152 30.5 22.727V17.9998' fill='%23FFD700'/%3E%3Cpath d='M9.5 15.4998C9.5 14.5623 9.5 14.0998 9.74444 13.7498C9.90333 13.5248 10.1356 13.3373 10.4167 13.1998C10.8444 12.9998 11.4189 12.9998 12.5556 12.9998H28.4444C29.5811 12.9998 30.1556 12.9998 30.5833 13.1998C30.8644 13.3373 31.0967 13.5248 31.2556 13.7498C31.5 14.0998 31.5 14.5623 31.5 15.4998C31.5 16.4373 31.5 16.8998 31.2556 17.2498C31.0967 17.4748 30.8644 17.6623 30.5833 17.7998C30.1556 17.9998 29.5811 17.9998 28.4444 17.9998H12.5556C11.4189 17.9998 10.8444 17.9998 10.4167 17.7998C10.1356 17.6623 9.90333 17.4748 9.74444 17.2498C9.5 16.8998 9.5 16.4373 9.5 15.4998Z' fill='%23444'/%3E%3Cpath d='M24.7385 8.99976H24.3782C22.2465 8.99976 20.515 10.7298 20.515 12.8598C20.515 10.7298 18.7836 8.99976 16.6518 8.99976H16.2915C15.3007 8.99976 14.5 9.79976 14.5 10.7898C14.5 12.5698 15.9412 13.9998 17.7127 13.9998H23.2873C25.0688 13.9998 26.5 12.5598 26.5 10.7898C26.5 9.79976 25.6993 8.99976 24.7085 8.99976H24.7385Z' stroke='%23444' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M20.5 17.9998L20.5 29.9998' stroke='%23444' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
		}

		&[data-nav="challenge"]::before {
			background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.1401 6.01584C22.0886 5.5624 21.5948 5.27582 21.2238 5.5416C16.3035 9.06673 16.5151 16.8333 16.5748 17.9819C16.5784 18.0528 16.5117 18.0998 16.4465 18.0718C15.9501 17.8583 14.2562 16.9464 13.8997 14.3279C13.838 13.875 13.3448 13.5888 12.9677 13.8472C10.1682 15.7651 8.3335 18.9711 8.3335 22.5C8.3335 28.299 13.2584 33.0001 19.3335 33.0001C25.4086 33.0001 30.3335 28.299 30.3335 22.5C30.3334 14.3837 22.8664 12.405 22.1401 6.01584Z' fill='%23EEEEEE'/%3E%3Cpath d='M21.6096 18.4511C21.5041 18.0071 21.0078 17.7266 20.6706 18.0341C18.6159 19.907 18.7116 23.3936 18.7398 23.9354C18.7416 23.9708 18.7082 23.9943 18.6756 23.9803C18.4619 23.8884 17.804 23.5374 17.5117 22.6054C17.3749 22.1693 16.8816 21.8823 16.5306 22.1751C15.3619 23.1497 14.6191 24.6067 14.6191 26.1945C14.6191 29.094 17.0816 31.4445 20.1191 31.4445C23.1567 31.4445 25.6191 29.094 25.6191 26.1945C25.6191 22.3553 22.2777 21.2627 21.6096 18.4511Z' fill='%23C0C0C0'/%3E%3C/svg%3E%0A");
		}
		&[data-nav="challenge"][aria-selected="true"]::before,
		&[data-nav="challenge"].selected::before {
			background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.1401 6.01584C22.0886 5.5624 21.5948 5.27582 21.2238 5.5416C16.3035 9.06673 16.5151 16.8333 16.5748 17.9819C16.5784 18.0528 16.5117 18.0998 16.4465 18.0718C15.9501 17.8583 14.2562 16.9464 13.8997 14.3279C13.838 13.875 13.3448 13.5888 12.9677 13.8472C10.1682 15.7651 8.3335 18.9711 8.3335 22.5C8.3335 28.299 13.2584 33.0001 19.3335 33.0001C25.4086 33.0001 30.3335 28.299 30.3335 22.5C30.3334 14.3837 22.8664 12.405 22.1401 6.01584Z' fill='%23FFD700'/%3E%3Cpath d='M21.6096 18.4511C21.5041 18.0071 21.0078 17.7266 20.6706 18.0341C18.6159 19.907 18.7116 23.3936 18.7398 23.9354C18.7416 23.9708 18.7082 23.9943 18.6756 23.9803C18.4619 23.8884 17.804 23.5374 17.5117 22.6054C17.3749 22.1693 16.8816 21.8823 16.5306 22.1751C15.3619 23.1497 14.6191 24.6067 14.6191 26.1945C14.6191 29.094 17.0816 31.4445 20.1191 31.4445C23.1567 31.4445 25.6191 29.094 25.6191 26.1945C25.6191 22.3553 22.2777 21.2627 21.6096 18.4511Z' fill='%23444444'/%3E%3C/svg%3E%0A");
		}

		&[aria-selected="true"]::before,
		&:hover::before {
			animation-name: ocr_navEff;
			animation-delay: 0;
			animation-duration: .3s;
			animation-iteration-count: 1;
			animation-timing-function: ease-in;
			animation-fill-mode: forwards;
		}
		&:hover span,
		&[aria-selected="true"] span{
			color:#000
		}

		span {
			display: block;
			width: 100%;
			text-align: center;
			color: #999EAA;
			font-size: 1.2rem;
		}
		.icon {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 5.2rem;
			height: 5.2rem;
			@include setRound(50%);
			background: linear-gradient(to bottom, #FFC40E, #FFD700);
			box-shadow: 0 .6rem 1.2rem rgba(255, 215, 0, 30%) !important;
		}

		&[data-nav="challenge"] {
			.mdl-tooltip {
				top: -3.9rem;
				left: -7.6rem;
				border-radius: 0.8rem;
				background: #FFD700;
				display: inherit;
				width: max-content;
				text-align: inherit;
				color: inherit;
				box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.10);
				pointer-events: none;
				border-color: #FFD700 !important;

				.mdl-tooltip-txt {
					background: #FFD700;
				}
				&::before {
					background: #FFD700;
					border-color: #FFD700 !important;
				}
				&[data-type="hide"] {
					animation-name: tthide;
					animation-delay: 0.2s;
					animation-duration: 0.2s;
					animation-iteration-count: 1;
					animation-timing-function: ease-in;
					animation-fill-mode: forwards;
					@keyframes tthide {
						0% {
							opacity: 1;
						}
						100% {
							opacity: 0;
						}
					}
				}

				&[data-type="show"] {
					opacity: 1;
					display: block;
				}
				&-txt {
					display: flex;
					width: inherit;
					text-align: inherit;
					color: #000;
					font-size: 1.4rem;
					padding: 0.4rem 0 0.4rem 4.8rem;
					font-family: 'KBF' !important;

					&::before {
						content: '';
						width: 10rem;
						height: 7rem;
						background: url(../img/challenge/rewardball/ico-challenge-tooltip.png) no-repeat 0 0 /8rem;
						position: absolute;
						left: -2.2rem;
						bottom: -2.3rem;
					}
				}
			}
		}
	}

}