.nmok_3_2p {
	.ocr-body {
		padding: 0;
	}
}

.walk-history-wrap {
	background-color: #EDF4FF;

	.mdl-tab {
		padding: 1.6rem 1.6rem 0;

		.mdl-tab-wrap {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			gap: .8rem;
		}
	}

	.ocr-point-box {
		background: linear-gradient(140deg, #ffe331, #ffd700), 0 0 no-repeat;
		border-radius: 0;
		padding: 3.6rem 2rem 3.4rem;

		.mdl-wrap {
			position: relative;
			z-index: 1;
		}

		.mdl-subject-group {
			margin-left: 1.2rem;

			.mdl-subject-tit {
				font-family: 'KBF';
				font-size: 1.6rem;
				font-weight: 500;
				color: #444;
			}

			.mdl-subject-txt {
				display: flex;
				align-items: center;
				gap: 0.8rem;
				margin-top: 0;
				position: relative;
				padding-right: 2.4rem;

				span {
					font-family: 'KBF';
					font-size: 3.2rem;
					font-weight: 700;
					color: #1E1F23;
				}

				&::after {
					content: '';
					position: absolute;
					right: 0;
					width: 2.4rem;
					height: 2.4rem;
					background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M9.75 16.5L15.75 10.5L9.75 4.5' stroke='%23444444' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") 0 0 no-repeat;
				}
			}

			.mdl-subject-em {
				font-size: 1.4rem;
				font-weight: 300;
				line-height: 2rem;

				color: #666;
				margin: 1rem auto 0;
			}
		}

		.ocr-number {
			border-radius: 10rem;
			background-color: #FFF;
			padding: 1.4rem 0.8rem;
			margin-top: 2.4rem;

			dl {
				display: flex;
				justify-content: space-evenly;
				gap: 1.6rem;
				;

				div {
					position: relative;
					display: flex;
					align-items: center;
					gap: 0.8rem;

					dt {
						font-size: 1.5rem;
						font-weight: 500;
						color: #666;
						min-width: 4.9rem;
						font-family: 'KBF';
					}

					dd {
						font-family: 'KBF';
						font-size: 1.5rem;
						font-weight: 700;
						color: #000;
					}

					&::after {
						content: '';
						width: 0.1rem;
						height: 1.4rem;
						background-color: #E7E9ED;
						position: absolute;
						top: 50%;
						right: -20%;
						transform: translateY(-50%);
					}

					&:last-child {
						padding-right: 0;

						&::after {
							display: none;
						}
					}
				}
			}
		}
	}

	.mdl-wrap[data-id="history_list"] {
		padding: 0 2.4rem;
	}

	.mdl-tab {
		margin: 4rem 2.4rem 0;

		.mdl-tab-btn {
			min-width: 8rem;
			width: 100%;
			height: 4rem;
			border-radius: 2rem;
		}
	}

	.no-data {
		width: 100%;
		height: 30rem;
		display: flex;
		flex-direction: column;
		gap: 1.6rem;
		min-height: calc(100dvh - 17rem);
		padding: 2.4rem 2.4rem 8rem;
	}

	.ods-subject--group {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-right: 0.5rem;
	}

	.ods-subject--title {
		font: var(--font-h3);
		color: #1E1F23;
	}

	.ods-subject--text {
		font: var(--font-b2-500);
		color: var(--gray2);
	}

	.ods-card {
		margin-top: 1.6rem;
	}

	.ods-card--item {
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
		gap: 2.4rem;
		padding: 3.2rem;
		border: .1rem solid var(--line_light);
		border-radius: 4rem;
		box-shadow: 0 1.2rem 3rem rgba(0, 0, 0, 0.1);
	}

	.ods-card--title {
		width: 100%;

		span {
			display: flex;
			flex-direction: column;
			gap: .5rem;
			font: var(--font-b2-500);
			font-family: 'KBF';
			color: var(--gray2);

			&::after {
				content: '';
				display: block;
				width: 6.3rem;
				height: .3rem;
				background-color: #FFE108;
				border-radius: 3rem;
			}
		}
	}

	.mdl-list {
		display: flex;
		flex-direction: column;
		gap: 1.6rem;

		.mdl-list-item {
			margin: 0;
			line-height: 0;

			&:first-child {

				.mdl-list-key,
				.mdl-list-value {
					margin-top: 0;
				}
			}

			&+.mdl-list-item::before {
				top: 0;
				border-top: 0.1rem solid #E7E9ED;
			}
		}

		.mdl-list-key {
			margin-top: 1.6rem;
			font: var(--font-b2-500);
			color: var(--gray2);
		}

		.mdl-list-value {
			margin-top: 1.6rem;
			font: var(--font-b2-500);
			color: #1E1F23;
		}
	}
}

.ocr-challenge-list {
	.ocr-body {
		padding: 0 0 calc(env(safe-area-inset-bottom) + 3.6rem);

		* {

			word-break: keep-all;
			font-family: 'KBF';
		}
	}

	.ocr-point-box {
		background: linear-gradient(140deg, #ffe331, #ffd700), 0 0 no-repeat;
		border-radius: 0;
		padding: 3.6rem 2rem 3.4rem;

		.mdl-wrap {
			position: relative;
			z-index: 1;
		}

		.mdl-subject-group {
			margin-left: 1.2rem;

			.mdl-subject-tit {
				font-family: 'KBF';
				font-size: 1.6rem;
				font-weight: 500;
				color: #444;
			}

			.mdl-subject-txt {
				display: flex;
				align-items: center;
				gap: 0.8rem;
				margin-top: 0;
				position: relative;
				padding-right: 2.4rem;

				span {
					font-family: 'KBF';
					font-size: 3.2rem;
					font-weight: 700;
					color: #1E1F23;
				}

				&::after {
					content: '';
					position: absolute;
					right: 0;
					width: 2.4rem;
					height: 2.4rem;
					background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M9.75 16.5L15.75 10.5L9.75 4.5' stroke='%23444444' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") no-repeat 0 0 / 2.4rem;
				}
			}

			.mdl-subject-em {
				font-size: 1.4rem;
				font-weight: 300;
				line-height: 2rem;
				color: #666;
				margin: 1rem auto 0;

			}
		}

		.ocr-number {
			border-radius: 10rem;
			background-color: #FFF;
			padding: 1.4rem 0.8rem;
			margin-top: 2.4rem;

			dl {
				display: flex;
				justify-content: space-evenly;
				gap: 1.6rem;
				;

				div {
					position: relative;
					display: flex;
					align-items: center;
					gap: 0.8rem;

					dt {
						font-size: 1.5rem;
						font-weight: 500;
						color: #666;
						min-width: 4.9rem;
						font-family: 'KBF';
					}

					dd {
						font-family: 'KBF';
						font-size: 1.5rem;
						font-weight: 700;
						color: #000;
					}

					&::after {
						content: '';
						width: 0.1rem;
						height: 1.4rem;
						background-color: #E7E9ED;
						position: absolute;
						top: 50%;
						right: -20%;
						transform: translateY(-50%);
					}

					&:last-child {
						padding-right: 0;

						&::after {
							display: none;
						}
					}
				}
			}
		}
	}

	.mdl-wrap[data-id="history_list"] {
		padding: 0 2.4rem;
	}

	.mdl-tab {
		margin: 4rem 2.4rem 0;

		.mdl-tab-btn {
			min-width: 8rem;
			width: 100%;
			height: 4rem;
			border-radius: 2rem;

			&[aria-selected="true"] {
				background-color: #000;
			}
		}
	}

	.no-data {
		width: 100%;
		height: 30rem;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: .8rem;

		&::before {
			content: "";
			display: block;
			width: 17.8rem;
			height: 12rem;
			background: url(../img/challenge/complete/no_data.png) no-repeat 50% 0 / 17.8rem;
		}

		p {
			font-size: 1.6rem;
			font-weight: 400;
			color: #999;
		}
	}

	.ocr-challenge-history-wrap+.ocr-month-title {
		margin-top: 4rem;
	}

	.ocr-challenge-history {
		* {
			font-family: 'KBF';
		}

		&-wrap {
			margin-top: 3.2rem !important;
		}

		.ocr-month-title {
			display: flex;
			flex-direction: column;

			h2 {
				font-family: 'KBF';
				font-size: 2.2rem;
				font-weight: 700;
				color: #000;
				margin-top: 0;
			}

			.mdl-btn {
				margin-top: 1.2rem;
				font-family: 'KBF';
				font-size: 1.6rem;
				font-weight: 500;
				color: #666;
				justify-content: right;
				gap: 0.4rem;

				&.on {
					color: #000;
				}
			}
		}

		.ocr-challenge-mission-item {
			min-height: 2.4rem;
			margin-top: 1.6rem;
			max-width: 100%;
			padding-bottom: 0;
			border: 0.1rem solid #eee;

			&[data-type="week-step"] {
				padding-bottom: 3.2rem;

				.mdl-subject {
					flex-direction: row;
				}

				.mark {
					top: 6.6rem;
					right: 1.6rem;
					z-index: 9;
				}

				.mdl-subject-em {
					margin-bottom: .4rem !important;
					color: #999;

					&[data-style] {
						min-height: 2.6rem;
						font-size: 1.3rem;
						font-weight: 700;
						line-height: 0.5;
						padding-top: .7rem;
						display: flex;
						justify-content: center;
						align-items: center;
						color: #fff;
						padding: 0.6rem 1rem;
						border-radius: 0.8rem;
					}

					&[data-style="individual"] {
						background-color: #30A1F3;
					}

					&[data-style="team"] {
						background-color: #F3306A;
					}

					&[data-style="week"] {
						background-color: #F27759;
					}

					&[data-style="booster"] {
						background-color: #F27759;
						display: flex;
						gap: 0.4rem;

						&::before {
							content: '';
							width: 1.3rem;
							height: 1.2rem;
							background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='12' viewBox='0 0 13 12' fill='none'%3E%3Cg clip-path='url(%23clip0_82_84314)'%3E%3Cpath d='M6.8133 0C6.72266 0 6.63912 0.04906 6.59496 0.128219L3.00925 6.5568C2.9163 6.72344 3.03678 6.92858 3.22758 6.92858H6.25905C6.4456 6.92858 6.56643 7.1255 6.48194 7.29182L4.76382 10.6736C4.63609 10.925 4.95745 11.1626 5.16033 10.9667L10.822 5.50129C10.9838 5.34511 10.8732 5.07142 10.6484 5.07142H8.07699C7.87278 5.07142 7.75471 4.83984 7.87466 4.67458L10.9793 0.396843C11.0992 0.231574 10.9812 0 10.777 0H6.8133Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_82_84314'%3E%3Crect width='12' height='12' fill='white' transform='translate(0.80188)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") no-repeat 0 0 / 1.3rem;
						}
					}
				}
			}

			.mdl-subject {
				min-height: auto;
				flex-direction: column;
				align-items: flex-start;
				padding-right: 10rem;

				.mdl-subject-em {
					padding-bottom: 0;
					margin-bottom: 1.6rem;
					font-family: 'KBF';
					font-size: 1.4rem;
					font-weight: 700;
					color: #999;

					&::after {
						display: none;
					}

					span {
						font-family: 'KBF';
						font-size: 1.4rem;
						font-weight: 700;
						color: #999;
						padding-left: 1.1rem;
						position: relative;

						&::before {
							content: '';
							width: 0.3rem;
							height: 0.3rem;
							background-color: #999;
							position: absolute;
							left: 0.2rem;
							top: 50%;
							transform: translateY(-50%);
							border-radius: 50%;
						}
					}
				}

				.mdl-subject-tit {
					margin-bottom: 0;
					word-break: keep-all;
				}

				.mdl-btn {
					margin-top: 0.8rem;
				}
			}

			.mark {
				position: absolute;
				top: 1.6rem;
				right: 2rem;
				width: 7.3rem;
				height: 7.3rem;
				text-indent: -999rem;
				background: url(../../assets/img/challenge/new/list_stamp_off.svg) 0 0 / cover no-repeat;
			}

			&[data-mark="on"] {
				.booster {
					position: absolute;
					top: 7.4rem;
					right: 2rem;
					width: 7.8rem;
					height: 7.8rem;
					text-indent: -999rem;
					z-index: 9;
					background: url(../../assets/img/challenge/new/list_stamp_booster.png) 0 0 / cover no-repeat;
				}
			}

			&[data-mark="on"] {
				.mark {
					background: url(../../assets/img/challenge/new/list_stamp_on.svg) 0 0 / cover no-repeat;
				}
			}

			.mission-state {
				margin: 2.4rem 0 3.2rem;

				&[data-n="1"] {
					dl {
						padding: 0 1.6rem;
						min-height: 5rem;
						align-items: center;
					}

					dt::before {
						background-color: transparent;
						transform: translate(-0.6rem, -0.8rem) scale(0.8);
					}

					dd::before {
						display: none;
					}

					dl div {
						width: 100%;
						justify-content: space-between;
						padding-left: 3rem;
					}
				}
			}

			&[data-type="week-step"] {
				border: .1rem solid #eee;

				.mdl-subject {
					padding: 3.2rem 3.2rem 0.7rem;
				}

				.mdl-subject-tit {
					font-size: 1.6rem;
					color: #777;
					font-weight: 500;
					border-bottom: .3rem solid #FFE108;
					padding-bottom: .6rem;
					line-height: 1;
					padding-top: 0.5rem;
				}

				.mission-state {
					padding: 0 3.2rem;
					margin-bottom: 0;

					dl {
						padding: 2rem 1.6rem;
						justify-content: center;
						gap: 3.6rem;

						dd {
							min-width: 5.5rem;
						}
					}
				}

				.mission-top {
					text-align: center;
					margin-top: 2.4rem;
					padding: 0 3.2rem 0;
					width: 100%;

					h4 {
						font-size: 2rem;
						font-weight: 700;
						color: #1E1F23;
						margin-bottom: 2.4rem;
						text-align: left;
					}

					ol {
						counter-reset: dep1 0;
						display: flex;
						flex-direction: column;
						gap: 1.6rem;
						width: 100%;
					}

					li {
						position: relative;
						width: 100%;
						display: flex;
						font-size: 1.6rem;
						color: #1E1F23;
						font-weight: 500;
						counter-increment: dep1 1;
						align-items: center;
						justify-content: space-between;
						gap: .8rem;
						padding-left: 4.5rem;

						&::before {
							content: counter(dep1)'ìœ„';
							position: absolute;
							left: 0;
							font-size: 1.4rem;
							font-weight: 700;
							color: #fff;
							width: 3.7rem;
							max-height: 2.4rem;
							height: 100%;
							padding-top: .3rem;
							line-height: 1;
							border-radius: 1.2rem;
							background-color: #FFC700;
							display: flex;
							justify-content: center;
							align-items: center;
						}

						div+div {
							color: #777777;
						}
					}

					li:nth-child(2)::before {
						background-color: #BFC2C8;
					}

					li:nth-child(3)::before {
						background-color: #DBA48C;
					}

					&+.mission-luck {
						margin-top: 3.2rem;

						h4 {
							border-top: 1px solid #E7E9ED;
						}
					}
				}

				.mission-luck {
					padding: 0 3.2rem;
					width: 100%;

					h4 {
						padding-top: 2.4rem;
						font-size: 2rem;
						font-weight: 700;
						color: #1E1F23;
						margin-bottom: 2.4rem;
					}

					ul {
						display: flex;
						flex-direction: row;
						justify-content: space-between;
						width: 100%;
					}

					li {
						font-size: 1.6rem;
						color: #1E1F23;
						font-weight: 500;
					}

				}
			}

			.mdl-btn[data-icon-after="arrow-dark"]::after {
				width: 2.4rem;
				height: 2.4rem;
				background: url(../img/common/ico_arrow_dark.svg) no-repeat 50% 50% / 2.4rem;
				transform: translateY(-0.1rem) translateX(-1rem);
			}
		}

		.ocr-challenge-mission-item+.ocr-month-title {
			margin-top: 4.8rem;
		}
	}

	.mdl-banner {
		box-shadow: 0 1.2rem 3rem 0 rgba(0, 0, 0, 0.1);
		padding: 1.9rem 2.6rem;
		z-index: 1;
		border-radius: 4rem;
		margin: 5.6rem 0;

		&[data-banner="challenge point"] {
			padding: 2.6rem 3.2rem;
			background-color: #266EFA;
			color: #fff;
		}

		.mdl-banner-em {
			font-family: 'KBF';
			font-size: 1.8rem;
			font-weight: 700;
			color: #FFF;
			line-height: 2.4rem;
		}

		.mdl-banner-tit {
			font-family: 'KBF';
			font-size: 1.3rem;
			font-weight: 300;
			color: #FFF;
		}
	}
}