.ocr-challenge[data-challenge="12"] {
    $currentSPimg: url(../img/challenge/main/sp_NMOK_1_1V_2407.png);
    $currentSPsize: 24rem;

    .ocr-wrap *::after,
    .ocr-wrap *::before,
    .ocr-wrap * {font-family: 'KBF';}

    .ocr-body {
        padding: 0;
        background:#f5f5f5;
        &::before{
            content: '';
            display: block;
         }
        .mdl-line{
            display: none;
            width: calc(100vw + 4.8rem);
            min-width: calc(100% + 4.8rem);
            margin: 4.8rem 0;
            border-top: 1.3rem solid #ECEDF4;
        } 
    }
    .challenge-dday{
        margin-top: 1.8rem;
        padding-left: 1.3rem;
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        dt{
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.6rem;
            color: #fff;
        } 
        dd{
            font-size: 2.2rem;
            font-weight: 500;
            line-height: 2.2rem;
            display: flex;
            justify-content: flex-start;
            align-items: baseline;
            gap: .4rem;
            color: #fff;
            span{
                font-size: 3.6rem;
                font-weight: 700;
                line-height: 3.6rem;
                color: #fff;
            }
        }
    }
    .ocr-challenge{
        &-title{
            width: calc(100vw + 2px);
            margin-left: -1px;
            padding: calc(5.6rem + env(safe-area-inset-top) + 1.8rem) 2.4rem 5.7rem;
            background: linear-gradient(180deg, #245F43 0%,#245F43 46rem, rgb(105 156 129) 78.2rem, rgb(255 255 255) 100%);
            
            
            .mdl-subject[data-style="title"] {
                min-height: 18rem;
                margin: 0;
                padding: 0;

                &::before {
                    content: "";
                    width: 69.1rem;
                    max-width:100rem;
                    height: 81.2rem;
                    background: url(../img/challenge/m12/bg.png)  no-repeat  0 0;
                    background-size: 69.1rem;
                    position: absolute;
                    top: -9rem;
                    left: 50%;
                    transform: translateX(-50%);
                    pointer-events: none;
                    overflow:hidden;
                }

                &::after{
                    content: "";
                    width: 105rem;
                    height: 25.9rem;
                    position: absolute;
                    top: -10rem;
                    left: 50%;
                    transform: translateX(-40%);
                    background: url(../img/challenge/m12/snow3.png)  no-repeat  0 0;
                    background-size: 105rem;
                    // animation: snowBlink 9s infinite 2s;
                    // animation-delay: 3s;
                }

                .mdl-subject-group{
                    position: absolute;
                    left: 0;
                    display: flex;
                    flex-direction: column;
                    gap: 3.3rem;
                    z-index: 99;
                }
                .mdl-subject-tit{
                    font-size: 1.8rem;
                    font-weight: 700;
                    line-height: 2.4rem;
                    color: #1E1F23;
                }
                
                .linkup{
                    height: 3.8rem;
                    line-height: 0;
                    padding: 0 1.6rem;
                    border-radius: 4rem;
                    background-color: #004036;
                    position: relative;
                    &::before{
                        content: '';
                        width: 6.4rem;
                        height: 2.1rem;
                        background: url(../img/challenge/m12/ico-linkup.png)  no-repeat  0 0;
                        background-size: 6.4rem;
                        position: absolute;
                        top: -1rem;
                        right: 1.8rem;
                        transition: .3s;
                    }
                    span{
                        font-size: 1.4rem;
                        font-weight: 700;
                        line-height: 3;
                        color: #fff;
                    }
                }

            }
            .mdl-subject[data-item="text"]{
                margin-top: 1.6rem;
                .mdl-subject-group{
                    position: relative;
                    &::after{
                        content: '';
                        display: block;
                        width: 17.4rem;
                        height: 11.5rem;
                        background: url(../../assets/img/challenge/m06/ico-participate.png) no-repeat 0 0;
                        background-size: 17.4rem 11.5rem;
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        border-bottom: 0;
                        opacity: 1;
                    }
                }
                .mdl-subject-txt{
                    font-size: 1.6rem;
                    line-height: 2.24rem;
                    padding-bottom: 8.7rem;
                }
            }
        }
        &-banner{
            max-width: 43rem;
            width: 100%;
            margin-top:0;
            .mdl-banner{
                padding: 2.4rem 2rem;
                &[data-banner]{
                    border-radius: 1.6rem;
                    &::before{
                        width: 11.2rem;
                        height: 11.2rem;
                        bottom: -2.8rem;
                        right: -2.3rem;
                    }
                    &::after{
                        content: '';
                        display: block;
                        width: 6rem;
                        height: 6rem;
                        background-size: 32rem;
                        bottom: 1rem;
                        right: 1.2rem;
                        position: absolute;
                        z-index: 1;
                    }
                    .mdl-banner-group{gap: .4rem;}
                    .mdl-banner-em{
                        font-weight: 300;
                        line-height: 1.82rem;
                    } 
                }
                &[data-banner="guide"]{
                    background-color: #354462;
                    &::before{background-color: #354462;}
                    &::after {
                        background-position: -11.7rem -3.3rem;
                        background-size: 25rem;    
                    }
                }
                &[data-banner="past"]{
                    background-color: #6C7891;
                    &::before{background-color: #6C7891;}
                    &::after {
                        background-position: -0.1rem -3.5rem;
                        background-size: 25rem;   
                    }
                } 

                &[data-banner="guide"]::after,
                &[data-banner="past"]::after{
                    content:"";
                    background-image: $currentSPimg;
                    background-size: $currentSPsize;
                    background-repeat: no-repeat;
                }
            }
        }
    }
    [data-banner="luckyball"]{
        width: 100%;
        height: 11.2rem;
        margin: 0 auto 0;
        border-radius: 2rem;
        background: #8141EE;
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: .3rem;
        &::before{
            content: '';
            display: block;
            width: 8.8rem;
            height: 6.8rem;
            background: url(../../assets/img/challenge/m08/bn-icoLuckyball.png) no-repeat 0 0;
            background-size: 8.8rem 6.8rem;
        }
        .mdl-banner-em {
            color:#FFF173;
            font-size: 1.6rem;
            font-weight: 300;
            line-height: 2.4rem;
        }
        .mdl-banner-tit {
            color:#fff;
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 2.4rem;
            display: flex;
            align-items: center;
            &::after{
                content:"";
                display: inline-block; 
                transform: translateX(.6rem);
                background-image: url("data:image/svg+xml,%3Csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 13L7 7L1 1' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
                width: .8rem;
                height: 1.4rem;
            }
        }
        .mdl-tooltip{
            top: -1.2rem;
            right: 0.6rem;
            left:auto;
            height: 3rem;
            background-color: #FFD700;
            &::before {
                background-color: #FFD700;
            }
        }
        .mdl-tooltip-txt {
            font-size: 1.3rem;
            color:#000;
        }
    }

    /* =============== 카드 ===============*/
    .mdl-box[data-chain="true"] {
        margin-top: -0.4rem !important;
        &::before {
            width: calc(100% - 8rem);
            left: 4rem;
            border-top: 1px dashed #666666;
        }
    }
    .card-walk--list{margin-top: 10rem;}

    /* =============== ani ===============*/
    //BG(눈)
    .ani-snow{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        &::before{
            content: "";
            width: 106.6rem;
            height: 24.1rem;
            position: absolute;
            top:0;
            left: 40%;
            transform: translate(-40%, -32rem);
            background: url(../img/challenge/m12/snow2.png)  no-repeat  0 0;
            background-size: 106.6rem;
            animation: snowBlink 8s infinite;
            animation-timing-function: ease-in;
        }
        &::after{
            content: "";
            width: 31.1rem;
            height: 22.1rem;
            position: absolute;
            top:0;
            left: 50%;
            transform: translate(-50%, -31rem);
            background: url(../img/challenge/m12/snow1.png)  no-repeat  0 0;
            background-size: 31.1rem;
            animation: snowBlink 10s infinite;
            animation-timing-function: ease-in;
        }
    }
    .ani-snow2{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        &::before{
            content: "";
            width: 106.6rem;
            height: 24.1rem;
            position: absolute;
            top: 0;
            left: 40%;
            transform: translate(-47%, -32rem);
            background: url(../img/challenge/m12/snow2.png)  no-repeat  0 0;
            background-size: 106.6rem;
            animation: snowBlink 15s infinite;
            animation-delay: 3s;
            animation-duration: 10s;
            animation-timing-function: ease-in;
        }
        &::after{
            content: "";
            width: 31.1rem;
            height: 22.1rem;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-34%, -31rem);
            background: url(../img/challenge/m12/snow1.png)  no-repeat  0 0;
            background-size: 31.1rem;
            animation: snowBlink 17s infinite;
            animation-delay: 6s;
            animation-duration: 13s;
            animation-timing-function: ease-in;
        }
    }

    @keyframes snowBlink {
        0% {
            top: 0rem;
            opacity: 1;                   
        }
        100% {
            top: 73rem;
            opacity: 0;                     
        }
    }
    //사슴
    .deer{
        position: absolute;
        top: 24rem;
        left: 50%;
        transform: translateX(calc(50% + 15.6rem));
        z-index: 9;
        &::before,
        &::after{
            content: "";
            display: block;
            position: absolute;
        }
        &::before{
            width: 4.9rem;
            height: 5.3rem;
            background: url(../img/challenge/m12/ico-deer1.png)  no-repeat  0 0;
            background-size: 4.9rem;
            bottom: 1.7rem;
            right: 0.3rem;
            z-index: 9;
            animation: anideer 4s ease-in-out infinite;
        }
        &::after{
            width: 3.6rem;
            height: 3.5rem;
            background: url(../img/challenge/m12/ico-deer2.png)  no-repeat  0 0;
            background-size: 3.6rem;
            bottom: 0.3rem;
            right: 1.1rem;
        }
    }
    @keyframes anideer {
        0%, 100% {
            transform: rotate(-20deg);
        }
        50% {
            transform: rotate(10deg);
        }
    }
}


//따뜻한 한마디 챌린지 팝업
.positive-message{
    .ocr-body{
        padding: 3.2rem 2.4rem 0;
        background: linear-gradient(180deg, #FFEDE4 0%, #FFE1D8 100%);
    }
    &-box{
        min-width: 16.1rem;
        width: fit-content;
        min-height: 8rem;
        display: flex;
        align-items: center;
        padding: 2.4rem;
        border: .1rem solid #FFACA0;
        border-radius: 2.4rem;
        background-color: #fff;
        box-shadow: 0 .4rem .8rem rgba(0, 0, 0, 0.08);
        position: relative;
        &::after{
            content: "";
            display: block;
            width: 1rem;
            height: 1rem;
            border-top: 0;
            border-right: 0;
            border-bottom: 0.1rem solid #FFACA0;
            border-left: 0.1rem solid #FFACA0;
            background-color: #fff;
            transform: rotate(-45.3deg);
            position: absolute;
            bottom: -0.6rem;
            left: 2.9rem;
        }
        & + .positive-message-box{margin-top: 2.4rem;}
        p{
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 2.2rem;
            color: #666;
        }
    }
    &-tit{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 3.2rem;
        margin-bottom: 2.4rem;
        &::after{
            content: '';
            display: block;
            width: 6.4rem;
            height: 6.4rem;
            background: url(../img/challenge/m12/ico-heart.png) no-repeat 0 0;
            background-size: 6.4rem;
        }
        h2{
            font-family: 'KBF';
            display: flex;
            flex-direction: column;
            gap: .4rem;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 2rem;
            color: #000;
            
            span{
                font-family: 'KBF';
                font-size: 2rem;
                font-weight: 700;
                line-height: 2.4rem;
                color: #000;
                
            }
        }
    }
    [data-message]{
        padding-bottom: 15rem;
    }
    [data-message="false"]{
        display: flex;
        justify-content: center;
        .no-data{
            height: 28.5rem;
            h3{
                font-family: 'KBF';
                font-size: 1.8rem;
                font-weight: 700;
                line-height: 2.23rem;
                color: #999;
            }
            p{
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 2rem;
                color: #999;
                text-align: center;
            }
        }
    }
    .mdl-btn-wrap{
        background: linear-gradient(180deg, rgba(255, 225, 216,0) 0%, #FFE1D8 80%);
        position: fixed;
        bottom: 0;
        left: 0;
        padding: 2rem 2.4rem calc(3.2rem + env(safe-area-inset-bottom));
        // max-width: 32.7rem;
        // position: fixed;
        // bottom: calc(3.2rem + env(safe-area-inset-bottom));
        // left: 50%;
        // transform: translateX(-50%);
    }

    //지난 챌린지 현황
    &.ocr-question-list{
        .ocr-body{padding: 1.6rem 2.4rem calc(env(safe-area-inset-bottom) + 1.6rem);}
        .mdl-wrap{margin-top: 4rem;}
        .mdl-box{border: 0.1rem solid #FFACA0;}
        .mdl-subject-txt{
            padding-left: 2.8rem;
            font-size: 1.3rem;
            font-weight: 500;
            line-height: 1.3rem;
            color: #999;
        }
    }
}

//응원의 한마디 바텀시트
[data-type="nmok_17_5"]{
    .pop-body{
        .pop-body-txt{
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 2.3rem;
            color: #000;
        }
        .textarea-box{
            margin-top: 2.4rem;
            position: relative;
            textarea{
                height: 12rem;
                margin: 0;
                padding: 2.4rem;
                font-size: 1.5rem;
                font-weight: 400;
                line-height: 1.2;
                color: #9C9C9C;
                text-align: left;
                border: .1rem solid #eee;
                border-radius: 2.4rem;
                background-color: #F7F8FA;
                box-shadow: 0 1.2rem 3rem rgba(0, 0, 0, 0.06);
                &::placeholder{
                    font-size: 1.5rem;
                    font-weight: 400;
                    line-height: 1.6rem;
                    color: #9C9C9C;
                    text-align: left;
                }
            }
        }
        .answer-textnumber{
            display: flex;
            justify-content: flex-start;
            gap: 0.4rem;
            position: absolute;
            bottom: 1.2rem;
            right: 2.4rem;
            strong,
            span{
                font-size: 1.3rem;
                font-weight: 300;
                line-height: 1.8rem;
                color: #999;
            }
            strong{font-weight: 700;}
        }
        .mdl-bul-star{
            gap: .5rem;
            margin-top: 1.6rem;
            padding-left: 1rem;
            div{
                font-size: 1.4rem;
                font-weight: 300;
                line-height: 1.4rem;
                color: #666;
            }
        }
    }
    .pop-foot{margin-top: 4rem;}
}