.mdl-banner {
    position: relative;
    width: 100%;
    display: flex;
    padding: $x2 $x3;
    align-items: center;
    justify-content: space-between;
    @include setRound($x3);
    
    &[data-icon-after="arrow-long"]::after {
        content: '';
        width: 5.2rem;
        height: 5.2rem;
        @include setRound(2.6rem);
        border: .1rem solid rgba(255,255,255,30%);
        background-size: 2.4rem;
        background-color: rgba(255,255,255,10%);
    }
    &[data-style]::after {
        background-position: 50% 50%;
        background-repeat: no-repeat;
    }

    &[data-style="ocr-test"] {
        background-color: #34AA87; 
        padding: 1rem 2.4rem;
        position: relative;

        &::after {
            content: '';
            min-width: 7.9rem;
            min-height: 7.8rem;
            background-image: url(../img/icon/ico_banner01.png);
            background-size: 100% 100%;
            transform: translate(1rem, .2rem);
        }

        .mdl-banner-txt{line-height: 1.8rem;}
    }

    &[data-style="score"] {
        background-color: #8E67F7;
        padding: 1.5rem 2.4rem;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            right: 1.6rem;
            width: 8.0rem;
            height: 5.6rem; 
            background-image: url(../img/health/img_score.png);
            background-size: 8.0rem 5.6rem;
        }
        .mdl-banner-tit {
            font-family: 'KBF';
            font-size: 1.5rem;
            font-weight: 500;
        }
    }

    &[data-style="program"] {
        background-color: #3CCEBC;
        padding: 1.5rem 2.4rem;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            right: 1.6rem;
            width: 8.0rem;
            height: 5.6rem; 
            background-image: url(../img/health/img_program.png);
            background-size: 8.0rem 5.6rem;
        }
        .mdl-banner-tit {
            font-family: 'KBF';
            font-size: 1.5rem;
            font-weight: 500;
        }
    }

    &[data-color="light"] {
        .mdl-banner-txt,
        .mdl-banner-tit {color: var(--gray_0);}
    }
    &[data-color="dark"] {
        .mdl-banner-txt {color: var(--gray_90);}
        .mdl-banner-tit {color: var(--gray_100);}
    }

    &-group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        gap: 0.6rem;

        & + .mdl-banner-img {
            margin-right: 0;
            margin-left: $x2;
        }
    }
    &-txt {
        font-family: "KBF";
        font-size: 1.3rem;
        font-weight: 300;
        color: var(--gray_0);
    }
    &-tit {
        font-family: "KBF";
        font-size: 1.8rem; 
        line-height: 2.4rem;
        font-weight: 700;
        color: var(--gray_0);
    }
    &-img {
        width: 8rem;
        height: 8rem;
        margin-right: $x2;
        margin-left: 0;

        img {
            display:block;
            width: 100%;
        }
    }
}

.mdl-label {
    display: flex;
    align-items: center;
    min-height: 2.6rem;
    color: var(--gray_0);
    background: var(--gray_90);
    padding: 0.4rem 0.8rem;
    @include setRound(0.8rem);
    font-family: "KBF";
    font-size: 1.3rem;
    font-weight: 500;
    word-break: keep-all;
    line-height: 1.8rem;
}