.mdl-tooltip {
    position: absolute;
    top: 0;
    left: 0;
    padding: .7rem 1.2rem 0.4rem;
    @include setRound(.8rem);
    background: #3B7AF6;

    &-txt {
        display: flex;
        position: relative;
        font-family: 'KBF';
        font-size: 1.1rem;
        line-height: 1.4;
        text-align: center;
        color:var(--gray_0);
        background: #3b7af6;
        z-index: 1;
        width: max-content;
    }
    &-style {
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        flex-direction: column;
        color: #FFF;
        font-size: 1.2rem;
        font-weight: 700;
        padding-left: $x1;
        em{
            color: #FFD700;
            font-size: 1.2rem;
            font-weight: 700;
        }
    }
     
    &[data-arrow="tl"]::before {
        top: -.4rem;
        left: 1.4rem;
        bottom: auto;
        right: auto;
    }
    &[data-arrow="tr"]::before {
        top: -.4rem;
        right: 1.4rem;
        bottom: auto;
        left: auto;
    }
    &[data-arrow="tc"]::before {
        top: -.4rem;
        left: 50%;
        bottom: auto;
        right: auto;
        margin-left: -.4rem;
    }
    &[data-arrow="bl"]::before {
        bottom: -.4rem;
        left: 1.4rem;
        top: auto;
        right: auto;
    }
    &[data-arrow="br"]::before {
        bottom: -.4rem;
        right: 1.4rem;
        top: auto;
        left: auto;
    }
    &[data-arrow="bc"]::before {
        bottom: -.4rem;
        left: 50%;
        top: auto;
        right: auto;
        margin-left: -.4rem;
    }
    &[data-eff="fluffy"] {
        animation-name: fluffy;
        animation-duration: .8s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
    &[aria-hidden="true"] {
        animation:tooltipHide;
        animation-duration: .2s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    &[aria-hidden="false"] {
        animation-delay: .3s;
        animation:tooltipShow;
        animation-duration: .3s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    &[data-color="black"]{
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 9.9rem;
        min-width: 2.8rem;
        min-height: 2.8rem;
        padding: 0 $x1;
        &::before{
            background: #000;
            bottom: -0.3rem;
        }
        background-color: #000;
        .mdl-tooltip-txt{
            background: #000;
            font-size: 1.3rem;
            font-weight: 700;
        }
    }
    &[data-color="charcoal"]{
        background: #292929;
        padding: 1.0rem $x2;
        border-radius: 1.2rem;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.08) !important;
        &::before{background-color: #292929;}
        .mdl-tooltip-txt{background: #292929;}
    }
    &::before {
        content:"";
        display: block;
        position: absolute;
        bottom: -0.4rem;
        width: .8rem;
        height: .8rem;
        transform: rotate(45deg);
        background: #3b7af6;
        z-index: 0;
    }
}

@keyframes tooltipShow {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes tooltipHide {
    0% {opacity: 1;}
    100% {opacity: 0; pointer-events: none;}
}