.mdl-form {
	position: relative;
	border: .1rem solid var(--gray_50);
	display: flex;
	flex-direction: column;
	gap: 1.0rem;
	padding: 1.4rem;
	border-radius: 1.0rem;

	&-header {
		width: 100%;
		display: flex;
		align-items: center;
		gap: 0.6rem;

		&+.unit {
			margin: 0 $x1 ;
			font-size: 1.6rem;
			color: #000;
		}

		.inp-btn {
			font-weight: 400;
			font-size: 1.6rem;
			color: #999;
		}

		.inp-val {
			font-weight: 400;
			font-size: 1.6rem;
			color: #000;
		}

		.btn-use {
			font-size: 1.3rem;
			font-weight: 400;
			border: .1rem solid #ccc;
			border-radius: 1.4rem;
			color: #666;
			padding: 0.5rem 1.3rem;
			word-break: keep-all;
			z-index: 1;
			background-color: #FFF;
		}

		.mdl-form-sel {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;
			color: #999;

			&[data-icon-after] {
				&::after {
					transform: rotate(90deg);
				}
			}

			&.is-val {
				color: #000;
				font-weight: 400;
			}
		}

		.mdl-form-calendar {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;
			color: #999;

			&.is-val {
				color: #000;
				font-weight: 400;
			}
		}

		input {
			&:focus~.mdl-input-bg {
				display: block;
				border: 0.1rem solid #000 !important;
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				border-radius: 1rem;
			}
		}
	}

	&-tit {
		display: inline-flex;
		align-items: center;
		gap: 0.6rem;
		font-family: 'KBF';
		font-size: 1.3rem;
		font-weight: 700;
		line-height: 1.0;
		color: #666;

		em {
			font-size: 1.3rem;
			color: #000;
			font-weight: 700;
		}
	}

	&-input {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 1rem;
		width: 100%;

		&::placeholder {
			font-family: 'KBF';
			font-size: 1.6rem;
			font-weight: 400;
			color: var(--gray_60);
		}

		.inp {
			font-size: 1.6rem;
			font-weight: 400;
			color: var(--gray_100);
			width: 100%;
			background-color: transparent;

			&:focus {
				&~.mdl-input-bg {
					display: block;
					border: 0.1rem solid #000 !important;
				}
			}

			&-bold {
				font-weight: 700;
			}

			&-error {
				&~.mdl-input-bg {
					display: block;
					border: 0.1rem solid #E14868 !important;
				}
			}

			&:disabled {
				&~.mdl-input-bg {
					display: block;
					background-color: rgb(247 247 247 / 60%);
					border: 0.1rem solid #D7D7D7 !important;
				}
			}

			&[readonly] {
				color: #000;
				z-index: 1;

				&~.mdl-input-bg {
					display: block;
					background-color: rgb(247 247 247 / 60%);
					border: 0.1rem solid #D7D7D7 !important;
				}
			}
		}

		.unit {
			font-size: 1.6rem;
			font-weight: 400;
			color: #000;
			word-break: keep-all;
		}

	}

	&-body {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 1rem;

		&+.unit {
			margin: 0 $x1 ;
			font-size: 1.6rem;
			color: #000;
		}

		.inp-btn {
			font-weight: 400;
			font-size: 1.6rem;
			color: #999;
		}

		.inp-val {
			font-weight: 400;
			font-size: 1.6rem;
			color: #000;
		}

		.btn-use {
			font-size: 1.3rem;
			font-weight: 400;
			border: .1rem solid #ccc;
			border-radius: 1.4rem;
			color: #666;
			padding: 0.5rem 1.3rem;
			word-break: keep-all;
			z-index: 1;
			background-color: #FFF;
		}

		// .mdl-form-sel{
		//     display: flex;
		//     align-items: center;
		//     justify-content: space-between;
		//     width: 100%;
		//     color: #999;
		//     &[data-icon-after]{
		//         &::after{
		//             transform: rotate(90deg);
		//         }
		//     }
		//     &.is-val{
		//         color: #000;
		//         font-weight: 400;
		//     }
		// }
		// .mdl-form-calendar{
		//     display: flex;
		//     align-items: center;
		//     justify-content: space-between;
		//     width: 100%;
		//     color: #999;
		//     &.is-val{
		//         color: #000;
		//         font-weight: 400;
		//     }
		// }
		input {
			&:focus~.mdl-input-bg {
				display: block;
				border: 0.1rem solid #000 !important;
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				border-radius: 1rem;
			}
		}

		.mdl-form-bg {
			display: none;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			border-radius: 1rem;
		}
	}

	&-cost {
		display: flex;
		justify-content: flex-end;
		width: 100%;
		gap: 0.6rem;

		dt {
			font-size: 1.3rem;
			font-weight: 700;
			color: #666;
		}

		dd {
			font-size: 1.3rem;
			font-weight: 700;
			color: #000;
		}
	}

	&-search {
		color: #999;
		font-size: 1.6rem;
		width: 100%;
	}

	&+.mdl-error-txt {
		margin-top: $x1;
	}
}

.mdl-error-txt {
	font-size: 1.3rem;
	color: #E14868;
	font-weight: 400;
}

.mdl-switch {
	position: relative;

	&[data-type="tab"] {
		display: flex;
		width: 100%;
		height: 4.8rem;
		border-radius: 2.4rem;
		justify-content: center;
		align-items: center;
		background-color: rgba(255, 255, 255, 0.56);

		label::before {
			display: none;
		}

		label::after {
			display: none;
		}

		label {
			position: relative;
			flex: 1;
			width: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 1.5rem;
			color: #000;
			opacity: 0.5;
			z-index: 2;
			padding-top: .3rem;
		}

		:checked+label {
			opacity: 1;
		}

		.mdl-switch-bg {
			position: absolute;
			width: 50%;
			background-color: #fff;
			border-radius: 2rem;
			height: 4rem;
			z-index: 1;
			top: .4rem;
			box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.1);
			transition: left .3s cubic-bezier(.45, 1.81, .85, .81);
		}

		input~input:checked~.mdl-switch-bg {
			left: calc(50% - .4rem)
		}

		input:checked~input~.mdl-switch-bg {
			left: .4rem
		}
	}

	input {
		opacity: 0;
		filter: alpha(opacity=0);
		display: inline-block;
		position: absolute;
		z-index: -1;
		vertical-align: top;
		appearance: none;
		-moz-appearance: none;
		-webkit-appearance: none;
		margin: 0;
	}

	label {
		display: flex;
		align-items: center;
		gap: 0.8rem;
		color: var(--color-gray-50);
		line-height: 2rem;
		font-size: 1.6rem;

		span {
			display: inline-block;
			color: var(--color-gray-50);
			line-height: 2rem;
			font-size: 1.6rem;
		}

		&::before {
			content: "";
			display: block;
			width: 4.8rem;
			height: 3rem;
			background-color: var(--color-gray-550);
			border-radius: 4rem;
			transition: all 0.2s ease-in;
		}

		&::after {
			content: "";
			display: block;
			position: absolute;
			left: 0.6rem;
			top: 0.6rem;
			width: 1.8rem;
			height: 1.8rem;
			background-color: #fff;
			border-radius: 50%;
			transition: all 0.1s ease-in;
			box-shadow: 0 0 0 0 #B7BABF;
		}

	}
	
	:checked+label::before {
		background-color: #FFD700;
	}

	:checked+label::after {
		box-shadow: -0.1rem 0.1rem 0.4rem rgba(0, 0, 0, 0.1);
		transform: translate(2.6rem, .4rem);
	}


  :checked+.mdl-selection-item[data-type="switch"]::before {
		background-color: var(--color-kb-yellow-200);
	}

	:checked+.mdl-selection-item[data-type="switch"]::after {
		content: "";
		display: block;
		position: absolute;
		left: 2.1rem;
		top: 0.3rem;
		width: 2.4rem;
		height: 2.4rem;
		background-color: #fff;
		border-radius: 50%;
		transition: left 0.1s ease-in;
		box-shadow: 0 0.1rem 0.4rem 0 #E5B21B;
		background-image: url("data:image/svg+xml,%3Csvg width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 3.58695L3.44103 6.02798C3.63155 6.2185 3.93877 6.22379 4.13574 6.03995L8.99997 1.5' stroke='%23DADCDF' stroke-width='1.4' stroke-linecap='round'/%3E%3C/svg%3E%0A");
		background-size: 1.2rem;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		box-sizing: border-box;
	}

	
}


.ipt-wrap {
	&[data-style="jumin"] {
		flex-direction: row;
		align-items: center;

		.ipt-line-box {
			flex: 1;
		}
		.pw_marking {
			font-size: 1.6rem;
		}
		input {
			caret-color:var(--color-kb-yellow-70);
		}
		.ipt-line-box~.ipt-line-box {
			.ipt-item {
				gap: 0.2rem;
				justify-content: center;
			}
			input::placeholder {
				color: #fff;
				font-size: 1.8rem;
			}
			input {
				position: relative;
				background-color: transparent;
				color:transparent;
				flex: 0;
				width: 1.6rem;
				text-align: center;
				border-bottom: .1rem solid #000;
				z-index: 2;
				border-radius: 0;
				-webkit-appearance: none;
   			-webkit-border-radius: 0;
			}
			input + .pw_marking{margin-left: -1.7rem;}
		}
	}
	&[data-style="jumin6-7"] {
		flex-direction: row;
		align-items: center;

		.ipt-line-box {
			flex: 1;
		}
		.pw_marking {
			font-size: 1.6rem;
		}
		input {
			caret-color:var(--color-kb-yellow-70);
		}
		.ipt-line-box~.ipt-line-box {
			.ipt-item {
				gap: 0.2rem;
				justify-content: center;
			}
			input::placeholder {
				color: #fff;
				font-size: 1.8rem;
			}
			input {
				position: relative;
				width: 100%;
				z-index: 2;
				border-radius: 0;
				-webkit-appearance: none;
   			-webkit-border-radius: 0;
			}
			input + .pw_marking{margin-left: -1.7rem;}
		}
	}
}

.form-item {
    display: flex;
    gap:0.8rem;
}

.calendar-tbl {
    .date::after {
        content:"";
        display: block;
        position: absolute;
        top:0; left:0;
        width: 100%;
        height: 4rem;
        z-index: -2;
    }
    .period--start{
        .date{
            font-weight: 700;
            &::before {
                background-color: #FFD700;
            }
        }
    }
    .period--end{
        .date{
            font-weight: 700;
            &::before {
                background-color: #FFD700;
            }
        }
    }
   
    tr td button.today .date::before{
        background-color: #DADCDF;
        border:.2rem solid #DADCDF;
    }
    
    &.period--complete{
        .period--start-td .date::after,
        .period--start-td ~ td .date::after{background-color: #FFFCEA;}
        .period--start-tr:not(.period--end-tr) ~ tr:not(.period--end-tr) .date::after{background-color: #FFFCEA;}
        .period--start-tr .period--start .date::after {
            width:50%;
            left:50%;
            background-color: #FFFCEA !important;
        }
        .period--end-tr .period--end .date::after {
            width:50%;
            left:0%;
            background-color: #FFFCEA !important;
        }
        .period--end-td .date::after,
        .period--end-td ~ td .date::after{background-color: transparent;}
        .period--end-tr:not(.period--start-tr) .date::after{background-color: #FFFCEA;}
        .period--end-tr:not(.period--start-tr) .period--end-td ~ td .date::after{background-color: transparent;}
        .period--end-tr:not(.period--start-tr) ~ tr .date::after{background-color: transparent !important;}

        &.period--complete[data-end="false"][data-start="false"],
        &.period--complete[data-end="true"][data-start=""],
        &.period--complete[data-end="true"][data-start="false"] {
            tbody tr td .date::after{background-color: #FFFCEA;}
            .period--end-td .date::after,
            .period--end-td ~ td .date::after{background-color: transparent;}
        }
    } 
}