.mdl-subject {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;

    &-group {
        position: relative;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }
    &-em {
        display: block;
        position: relative;
        font-family: 'KBF';
        font-size: 1.3rem;
        font-weight: 500;
        margin-bottom: $x1;
        color: var(--gray_90);
    }
    &-tit {
        display: block;
        position: relative;
        font: var(--font-h3);
        
        color: var(--gray_100);

        * {
            font:inherit;
            color:inherit;
        }
    }
    &-txt {
        display: block;
        position: relative;
        // font-family: 'KBF';
        font: var(--font-b2-300);
        color: var(--gray_70); 
        margin-top: $x1;
    }
    &-img {
        position: relative;
    }

    &[data-font="noto"] {
        .mdl-subject-tit {font-family: 'NotoSansCJKkr';}
    }
    
    &[data-align="left"] {
        .mdl-subject-em,
        .mdl-subject-tit,
        .mdl-subject-txt {text-align: left;}
    }
    &[data-align="center"] {
        justify-content: center;
        .mdl-subject-group{align-items: center;}
    }
    &[data-align="right"] {
        justify-content: flex-end;
        
        .mdl-subject-em,
        .mdl-subject-tit,
        .mdl-subject-txt {text-align: right;}
    }
    
    &[data-color="dark"] {
        .mdl-subject-em {color: var(--gray_90);}
        .mdl-subject-tit {color: var(--gray_100);}
        .mdl-subject-txt {color: var(--gray_70);}
    }
    &[data-color="light"] {
        .mdl-subject-em {color: #ccc;}
        .mdl-subject-tit {color: var(--gray_0);}
        .mdl-subject-txt {color: var(--gray_0);}
        .mdl-btn span {color: var(--gray_0);}
    }

    &[data-type="sub"] {
        .mdl-subject-tit {
            color: var(--gray_100);
            font-size: 1.8rem;
            font-weight: 700;

            em[data-marker]{
                font-family: 'KBF';
                position: relative;
                color: var(--gray_100);
                font-size: 1.8rem;
                font-weight: 700;
                z-index: 1;
            }
        }
    }
    &[data-type="+icon"] {
        .mdl-subject-tit {
            display: block;
            word-break: keep-all;
            
            &[data-icon-after]::after {
                width: 3.2rem;
                height: 3.2rem;
                display: inline-block;
                vertical-align: middle;
                transform:translate(2.6rem, -.2rem);
                margin-left: -3.2rem;
            }
        }
    }
    &[data-type="catagory"] {
        .mdl-subject-em {
            color: #888;
            font-size: 1.3rem;
        }
        .mdl-btn {
            width: 2.4rem;
            height: 2.4rem;
            background-color: #f7f7f7;
            @include setRound(50%);
            margin-top: $x1-5;
        }
    }

    &[data-type="section"] {
        .mdl-subject-em {
            color: #888;
            font-size: 1.3rem;
        }
        .mdl-subject-tit {
            font-size: 2.2rem;
        }
    }

    &[data-type="h1"] {
        margin-bottom: $x2-5;

        .mdl-subject-tit {
            font-size: 2.6rem;
            font-weight: 700;
            line-height: 3.8rem;
            font-family: 'Base';
            color: $gray-100;

            [data-marker="yellow"]::after{
                height: 2rem;
                border-radius: 0;
                left: -0.1rem;
                width: calc(100% + .2rem);
            }
        }
    }
    &[data-type="h2"] {
        margin-bottom: $x6;
        
        .mdl-subject-tit {
            font-size: 2.2rem;
            font-weight: 400;
            line-height: 3rem;
            font-family: 'Base';
            color: $gray-90;

            [data-marker="yellow"]::after{
                height: 1.6rem;
                bottom:.2rem;
                border-radius: 0;
                left: -0.1rem;
                width: calc(100% + .2rem);
            }
        }
    }
    &[data-type="h3"] {
        margin-bottom: $x2-5;
        
        .mdl-subject-tit {
            font-size: 2rem;
            font-weight: 700;
            line-height: 2.6rem;
            font-family: 'Base';
            color: $gray-100;
        }
    }
    &[data-type="h4"] {
        margin-bottom: $x2-5;
        
        .mdl-subject-tit {
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 2.4rem;
            font-family: 'Base';
            color: $gray-100;
        }
    }

    &[data-type="intro"] {
        margin-bottom: 0;

        .mdl-subject-img {
            width: 100%; 
            overflow: hidden;
            border-radius: 1.2rem;

            img{
                display: block;
                width: 100%;
            }
        }
        .mdl-subject-tit {
            width: 100%;
            text-align: center;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 2.4rem;
            font-family: 'Base';
            color: $gray-100;
            margin: 3rem 0 2rem;

            b { 
                font:inherit;
                line-height: 2.4rem;
                color: $gray-100;
                font-weight: 700;
                display: inline-block;
                vertical-align: bottom;
            }
        }
        .mdl-subject-txt {
            margin-top: 0;
            font-family: 'Base';
            font-size: 1.5rem;
            font-weight: 400;
            color: $gray_90;
            text-align: center;
            word-break: keep-all;
        }
    }
    


    &[data-style="ocaremain"] {
        margin-top: $x4;
        
        .mdl-subject-em {
            color: rgba(255,255,255,70%); 
            font-size: 2.6rem;
            line-height: 3.2rem;
            margin-bottom: 1.2rem;
        }
        .mdl-subject-tit {
            color: var(--gray_0);
            font-size: 3.6rem;
            line-height: 4.8rem;
            font-weight: 700;
        }
    }
       
    
}

