.accordian{
    max-width: 50rem;
    margin: 0 auto;
    padding: 0;
    font-size: 62.5%;
    font-family: 'Noto Sans KR', sans-serif;  
    font-weight: 400;
    color: #222;
    letter-spacing: -1px;
    background-color: #fff;
    button{
        background: transparent;
        border: none;
        cursor: pointer;
        &:disabled{
            background-color: #ddd;
        }
    }
    textarea{
    line-height: 1.8rem;
    font-size: 1.2rem;
    padding: 1.6rem;
    background-color: #fff;
    border: .1rem solid #ddd;
    border-radius: .4rem;
    box-sizing: border-box;
        &:focus{
            outline: none;
        }
    }
    .terms{
        position: relative;
    }
      /* button */
    .termsBtn{
        width: 5rem;
        height: 2.8rem;
        font-size: 1.4rem;
        font-weight: 500;
        color: #666;
        background-color: #f3f3f3;
        border-radius: .4rem;
        text-align: center;
        cursor: pointer;
      }
      .termsStartBtn{
        width: 100%;
        height: 6rem;
        background-color: #019af9;
        color: #fff;
        font-size: 1.8rem;
        font-weight: 700;
        border-radius: 1rem;
      }
      .accoClick{
        display: inline-block;
        width: 1.6rem;
        height: 1.6rem;
        background: url('../img/acco-ico-check.png') -38px -5px no-repeat;
        position: absolute;
        top: .7rem;
        right: 0;
        cursor: pointer;
      }
      .accoClick.active + .termsBox{
        display: none;
      }
      /* //button */
    
      .boxwrap{
        width: 100%;
        margin: 0 auto;
        padding: 4.8rem 2.4rem 2.4rem 2.4rem;
        box-sizing: border-box;
        background-color: #fff;
        h2{
            font-size: 3rem;
            font-weight: 400;
            color: #000;
        }
        p{
            font-size: 1.6rem;
            color: #666;
            padding: 2rem 0 3.6rem 0;
        }
        .accordian-area{
            &+.accordian-area,
            &+.termsStartBtn{
                margin-top: 3.2rem;
            }
            .terms{
                > label{
                    font-size: 1.6rem;
                    font-weight: 500;
                    display: flex;
                    align-items: center;
                    position: relative;
                    padding-bottom: 1.9rem;
                    border-bottom: .1rem solid #ddd;
                    &::before{
                        content: '';
                        display: inline-block;
                        width: 2.4rem;
                        height: 2.4rem;
                        background: #ddd url('../img/acco-ico-check.png') -5px -2px no-repeat;
                        border-radius: 50%;
                        margin-right: .8rem;
                    }
                }
                > input{
                    &:checked{
                        &+label{
                            &::before{
                                background-color: #019af9;
                            }
                            &::after{
                                background: url('../img/acco-ico-check.png') -67px -5px no-repeat;
                            }
                        }
                    }
                }
                .termsBox{
                    .terms-content{
                        margin-top: 2.4rem;
                        .terms-subtxt{
                            display: flex;
                            align-items: center;
                            position: relative;
                            input{
                                display: none;
                                &:checked{
                                    &+label{
                                        &::before{
                                            background: url('../img/acco-ico-check.png') -10px -33px no-repeat;
                                        }
                                    }
                                }
                            }
                            >label{
                                font-size: 1.4rem;
                                font-weight: 400;
                                color: #666;
                                &::before{
                                    content: '';
                                    display: inline-block;
                                    width: 16px;
                                    height: 16px;
                                    background: url('../img/acco-ico-check.png') -38px -33px no-repeat;
                                    border-radius: 50%;
                                    margin-right: .8rem;
                                }
                            }
                            >.termsBtn{
                                position: absolute;
                                right: 0;
                              }
                        }
                        >form{
                            >textarea{
                                width: 100%;
                                height: 6.4rem;
                                color: #666;
                                margin-top: 1.6rem; 
                            }
                        }
                    }
                }
            }
        }
      }
}