/* button */
.btn{
    /* 기본 */
    &-default{
        width: 5rem;
        min-width: 10rem;
        max-width: 5rem;
        border: .1rem solid transparent;
        border-radius: .6rem;
        background: linear-gradient(#3771ff, #313eda);
        span{
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1;
            color: #fff;
        }

        //상태별 스타일
        &:focus{
            border: .1rem solid #3771ff;
            background-color: #fff;
        }
        &:hover{background-color: #94abe6;}
        &:active{
            background: linear-gradient(#3061db, #2935b5);
            box-shadow: none;
        }
        &:disabled{
            background-color: #eee;
            span{
                color: #000;
                opacity: .3;
            }
        }

        //button color
        &[data-color="white"]{
            background-color: #fff;
            span{color: #3771ff;}

            &:focus{opacity: 1;}
            &:hover{
                background-color: #3061db;
                border: .1rem solid #3061db;
                span{color: #fff;}
            }
            &:active{
                background-color: #3061db;
                border: 1px solid #3061db;
                span{color: #fff;}
            }

            &.focus{
                opacity: 1;
                border: .1rem solid #000;
            }
            &.hover{
                background-color: #3061db;
                border: .1rem solid #3061db;
                span{color: #fff;}
            }
        }
        &[data-color="gray"]{
            background-color: #eee;
            span{color: #000;}

            &:hover{
                background-color: #eee;
                span{color: #000;}
            }
            &:focus,
            &:active{opacity: 1;}

            &.hover{
                background-color: #eee;
                span{color: #000;}
            }
            &.focus,
            &.active{opacity: 1;}
        }

        //화면용
        &.focus{
            opacity: .3;
            border: .1rem solid #000;
        }
        &.hover{background-color: #94abe6;}
        &.active{opacity: .3;}
        &.disabled{
            background-color: #eee;
            span{
                color: #000;
                opacity: .3;
            }
        }
    }

    /* btn-text */
    &-txt{
        color: #3771ff;
        &:focus{
            border: .1rem solid #3771ff;
            padding: .5rem;
            border-radius: 0;
        }
        &:hover{color: #224396;}
        &:active{color: #224396;}
    }
}

/* btn-pagination */
.pagination{
    &-wrap{
        margin: 0 auto;
        text-align: center;
        box-sizing: border-box;
        &[data-style="text"],
        &[data-style="circle"]{
            .pagination-item{
                &.pre,
                &.next{
                    position: relative;
                    background-color: #fff;
                    border: .1rem solid #fff;
                    .pagination-btn{
                        &::before{
                            content: '';
                            width: 1.2rem;
                            height: 1.2rem;
                            background: url(../img/ico_nextBlack.png) 0 0 no-repeat;
                            background-size: 1.2rem;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }
                }
                &.pre{
                    .pagination-btn::before{transform: translate(-50%, -50%) scaleX(-1);}
                }
            }
        }
        &[data-style="circle"]{
            .pagination-list{gap: .8rem;}
            .pagination-item{
                background: none;
                border: 0;
                border-radius: 0;
                &.pre,
                &.next{
                    background: transparent;
                    border: .1rem solid transparent;
                    .pagination-btn{
                        &::before{background-image: url(../img/ico_nextWhite.png);}
                    }
                }
            }
            .pagination-btn{
                min-width: 4rem;
                color: #fff;
                border: .1rem solid #fff;
                border-radius: 50%;
                &:active,
                &:focus{
                    color: #337ab7;
                    border: .1rem solid #337ab7ed;
                }
            }
        }
    }
    &-list{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &-item{
        height: 4rem;
        line-height: 1.6;
        border: .1rem solid #ddd;
        background-color: #ffffff;
        box-sizing: border-box;
        &:first-child{
            border-top-left-radius: .3rem;
            border-bottom-left-radius: .3rem;
        }
        &:last-child{
            border-top-right-radius: .3rem;
            border-bottom-right-radius: .3rem;
        }
        &:hover{
            background-color: #eee;
            button{color: #23527c;}
        }
    }
    &-btn{
        width: 100%;
        height: 4rem;
        color: #337ab7;
        padding: 0 1.5rem;
        line-height: 4rem;
        box-sizing: border-box;
        font: {
            size: 1.2rem;
            weight: 500;
        }
    }
}
    