/* button */
.btn{
    /* 기본 */
    &-default{
        min-width: 10rem;
        border: .1rem solid transparent;
        border-radius: .6rem;
        background: linear-gradient(#3771ff, #313eda);
        span{
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1;
            color: #fff;
        }

        //상태별 스타일
        &:focus{
            border: .1rem solid #3771ff;
            background-color: #fff;
        }
        &:hover{background: #94abe6;}
        &:active{
            background: linear-gradient(#3061db, #2935b5);
            box-shadow: none;
        }
        &:disabled{
            background: #eee;
            span{
                color: #000;
                opacity: .3;
            }
            
        }

        //button color
        &[data-color="white"]{
            background: #fff;
            span{color: #3771ff;}

            &:focus{opacity: 1;}
            &:hover{
                background: #3061db;
                border: .1rem solid #3061db;
                span{color: #fff;}
            }
            &:active{
                background: #3061db;
                border: 1px solid #3061db;
                span{color: #fff;}
            }

            &.focus{
                opacity: 1;
                border: .1rem solid #000;
            }
            &.hover{
                background: #3061db;
                border: .1rem solid #3061db;
                span{color: #fff;}
            }
        }
        &[data-color="gray"]{
            background: #eee;
            span{color: #000;}

            &:hover{
                background: #eee;
                span{color: #000;}
            }
            &:focus,
            &:active{opacity: 1;}

            &.hover{
                background: #eee;
                span{color: #000;}
            }
            &.focus,
            &.active{opacity: 1;}
        }

        //화면용
        &.focus{
            opacity: .3;
            border: .1rem solid #000;
        }
        &.hover{background: #94abe6;}
        &.active{opacity: .3;}
        &.disabled{
            background: #eee;
            span{
                color: #000;
                opacity: .3;
            }
        }
    }

    /* btn-text */
    &-txt{
        color: #3771ff;
        &:focus{
            border: .1rem solid #3771ff;
            padding: .5rem;
            border-radius: 0;
        }
        &:hover{color: #224396;}
        &:active{color: #224396;}
    }
}

/* btn-pagination */
.pagination{
    &-wrap{
        margin: 0 auto;
        text-align: center;
        box-sizing: border-box;
    }
    &-list{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &-item{
        height: 4rem;
        line-height: 1.6;
        border: .1rem solid #ddd;
        background-color: #ffffff;
        box-sizing: border-box;
        &:first-child{
            border-top-left-radius: .3rem;
            border-bottom-left-radius: .3rem;
        }
        &:last-child{
            border-top-right-radius: .3rem;
            border-bottom-right-radius: .3rem;
        }
        &:hover{
            background-color: #eee;
            button{color: #23527c;}
        }
        &.active{
            background-color: #337ab7;
            border-color: #337ab7;
            button{
                color: #fff;
                cursor: default;
            }
        }
    }
    &-btn{
        width: 100%;
        height: 4rem;
        color: #337ab7;
        padding: 0 1.5rem;
        line-height: 4rem;
        box-sizing: border-box;
        font: {
            size: 1.2rem;
            weight: 500;
        }
    }

    &.textStyle,
    &.circleStyle{
        .inner-pagination{
            li{
                &.link-page{
                    background: transparent;
                    border: .1rem solid transparent;
                    button{color: #fff;}
                }
                &.pre,
                &.next{
                    position: relative;
                    background: #fff;
                    border: .1rem solid #fff;
                    >button{
                        &::before{
                            content: '';
                            width: 1.6rem;
                            height: 1.6rem;
                            background: url(../img/ico_nextBlack.png) 0 0 no-repeat;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }
                    &.active{
                        background-color: #fff;
                        border-color: #fff;
                        button{cursor: pointer;}
                    }
                }
                &.pre{
                    >button{
                        &::before{
                            transform: translate(-50%, -50%) scaleX(-1);
                        }
                    }
                }
                &.active{
                    background-color: #e8444b;
                    border: .1rem solid #e8444b;
                    margin: 0;
                    button{
                        color: #fff;
                        cursor: default;
                    }
                }
            }
        }
    }
    &.circleStyle{
        .inner-pagination{
            .link-page{
                margin: .5rem;
                &.active{
                    margin: .5rem;
                    background-color: transparent;
                    border: .1rem solid #fff;
                    border-radius: 50%;
                }
                &.pre,
                &.next{
                    background: transparent;
                    border: .1rem solid transparent;
                    >button{
                        &::before{
                            background: url(../img/ico_nextWhite.png) 0 0 no-repeat;
                        }
                    }
                    &.active{
                        background: transparent;
                        border: .1rem solid transparent;
                    }
                }
            }
        }   
    }
}