/* button */
.btn,
.btnWhite,
.btnTxt {
    display: inline-block;
    width: 100px;
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
    color: #fff;
    text-align: center;
    background: linear-gradient(#3771ff, #313eda);
    border-radius: 6px;
    font-size: 13px;
    box-sizing: border-box;
}

.btnWhite{
    background: transparent;
    border: 1px solid #3771ff;
    color: #3771ff;
}

.btnTxt{
    width: auto;
    height: auto;
    line-height: 1;
    padding: 0;
    background: transparent;
    color: #3771ff;
    text-decoration: underline;
    box-sizing: border-box;
}

/* focus */
.btn{
    &:focus{
        box-shadow: 3px 3px 15px #3770ff76;
    }
}
.btnWhite{
    &:focus{
        box-shadow: 3px 3px 15px #3770ff76;
    }
}

.btnTxt{
    &:focus{
        border: 1px solid #3771ff;
        padding: 5px;
        border-radius: 0;
    }
}

/* hover */
.btn{
    &:hover{
        background: linear-gradient(#3061db, #2935b5);
    }
}
.btnWhite{
    &:hover{
        background-color: #3061db;
        border: 1px solid #3061db;
        color: #fff;
    }
}

.btnTxt{
    &:hover{
        color: #224396;
    }
}

/* active */
.btn{
    &:active{
        background: linear-gradient(#3061db, #2935b5);
        box-shadow: none;
    }
}
.btnWhite{
    &.active{
        background-color: #3061db;
        border: 1px solid #3061db;
        color: #fff;
    }
}

.btnTxt{
    &.active{
        color: #224396;
    }
}

/* disabled */
.btn,
.btnTxt{
    &.disabled{
        &:focus{
            box-shadow: none;
            border: 0;
            padding: 0;
        }
    }
}

.btnWhite{
    &.disabled{
        &:focus{
            box-shadow: none;
    
        }
    }
}

.btnWhite{
    &.disabled{
        &:hover{
            background: transparent;
            border: 1px solid #3771ff;
            color: #3771ff;
        }
    }
}

.btnTxt{
    &.disabled{
        &:hover{
            color: #3771ff;
        }
    }
}

.btn{
    &.disabled{
        opacity: 0.2;
        background: #424242;
        box-shadow: none;
        cursor: default;
    }
}

.btnWhite{
    &.disabled{
        opacity: 0.2; 
        cursor: default;
    }
}

.btnTxt{
    &.disabled{
        opacity: 0.2; 
        cursor: default;
    }
}

/* ui-pagination */
.ui-pagination{
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
    .inner-pagination{
        display: flex;
        justify-content: center;
        align-items: center;
        li{
            height: 40px;
            line-height: 1.6;
            border: 1px solid #ddd;
            background-color: #ffffff;
            box-sizing: border-box;
            &:first-child{
                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;
            }
            &:last-child{
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;
            }
            &:hover{
                background-color: #eee;
                button{
                    color: #23527c;
                }
            }
            &.active{
                background-color: #337ab7;
                border-color: #337ab7;
                button{
                    color: #fff;
                    cursor: default;
                }
            }
            button{
                width: 100%;
                height: 40px;
                color: #337ab7;
                padding: 0 15px;
                line-height: 40px;
                box-sizing: border-box;
                font: {
                    size: 12px;
                    weight: 500;
                }
                
            }
        }
    }
    &.textStyle,
    &.circleStyle{
        .inner-pagination{
            li{
                &.link-page{
                    background: transparent;
                    border: 1px solid transparent;
                    button{
                        color: #fff;
                    }
                }
                &.pre,
                &.next{
                    position: relative;
                    background: #fff;
                    border: 1px solid #fff;
                    >button{
                        &::before{
                            content: '';
                            width: 16px;
                            height: 16px;
                            background: url(/resource/img/ico_nextBlack.png) 0 0 no-repeat;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }
                    &.active{
                        background-color: #fff;
                        border-color: #fff;
                        button{
                            cursor: pointer;
                        }
                    }
                }
                &.pre{
                    >button{
                        &::before{
                            transform: translate(-50%, -50%) scaleX(-1);
                        }
                    }
                }
                &.active{
                    background-color: #e8444b;
                    border:1px solid #e8444b;
                    margin: 0;
                    button{
                        color: #fff;
                        cursor: default;
                    }
                }
            }
        }
    }
    &.circleStyle{
        .inner-pagination{
            .link-page{
                margin: 5px;
                &.active{
                    margin: 5px;
                    background-color: transparent;
                    border: 1px solid #fff;
                    border-radius: 50%;
                }
                &.pre,
                &.next{
                    background: transparent;
                    border: 1px solid transparent;
                    >button{
                        &::before{
                            background: url(/resource/img/ico_nextWhite.png) 0 0 no-repeat;
                        }
                    }
                    &.active{
                        background: transparent;
                        border: 1px solid transparent;
                    }
                }
            }
        }   
    }
}