.dropdown{height: 100vh;}

//menu
.dropdown-menu{
    position: relative;
    &-cate{
        width: 100%;
        display: flex;
        justify-content: center;
        
        .menu-cate-btn{
            width: 50%;
            height: 6rem;
            background-color: #fff;
            & + .dropdown-menu-btn{border-left: .1rem solid #999;}

            span{
                font: {
                    size: 2rem;
                    weight: 700;
                }
                color: #000;
            }
        }
    }
    &-list{
        display: none;
        border-radius: 1rem;
        background-color: #fff;
        box-shadow: 0 .1rem .5rem .1rem #999;
        position: relative;
        overflow: hidden;

        .menu-list-btn{
            width: 100%;
            span{
                font: {
                    size: 2rem;
                    weight: 700;
                }
            }
        }
        &[data-type="select"]{
            width: 100%;
            .menu-list-wrap{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
            }
            .menu-list-item{
                position: relative;
                border-right: .1rem solid #999;
                &:nth-of-type(3n){border-right: 0;}
                &:nth-of-type(3n+1){
                    &::before{
                        content: '';
                        width: calc(300% + .2727rem);
                        height: .1rem;
                        background-color: #999;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                }
            }
            .menu-list-btn{
                min-height: 6rem;
                padding: 1rem;
                &:hover,
                &:focus{
                    background-color: #eff2f9;
                    span{color: #4737df;}
                }
            }
        }
        &[data-type="filter"]{
            width: 50%;
            position: absolute;
            top: 6rem;
            right: 0;
            .menu-list-btn{
                width: 100%;
                min-height: 6rem;
                padding: 1rem 1.5rem;
                background-color: #fff;
                span{color: #666;}
                &:hover,
                &:focus{
                    background-color: #4737df;
                    span{color: #fff;}
                }
            }
        }
    }
}

//phonenum
.dropdown-phonenum{
    &-select{
        width: 30rem;
        min-width: 5rem;
        max-height: 23rem;
        padding: 1.5rem 1rem;
        border-radius: 0.6rem 0.6rem 0 0;
        background-color: #fff;
        box-sizing: border-box;
        overflow: hidden;
        overflow-y: auto;
        .dropdown-phonenum-btn{
            span{
                color: #000;
                font: {
                    size: 2rem;
                    weight: 500;
                }
            }
        }
    }
    &-list{
        display: none;
        width: 30rem;
        max-height: 23rem;
        overflow-x: hidden;
        overflow-y: auto;
        border-radius: 0 0 .6rem .6rem;
        background-color: #fff;
        box-shadow: .3rem .5rem 1rem rgba(0, 0, 0, 0.1);
        .phonenum-list-wrap{
            display: flex;
            flex-direction: column;
        }
        .phonenum-list-item{
            &.disable{
                .phonenum-list-btn{
                    span{color: #dbdbdb;}
                }
            }
        }
        .phonenum-list-btn{
            width: 100%;
            min-height: 6rem;
            padding: 1rem 1.5rem;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: .5rem;
            &::before{
                content: attr(data-badge);
                display: inline-block;
                width: 2rem;
                height: 2rem;
                line-height: 2.1rem;
                border-radius: 50%;
                color: #fff;
                font: {
                    size: 1.2rem;
                    weight: 500;
                }
            }
            span{
                color: #666;
                font: {
                    size: 1.8rem;
                    weight: 500;
                };
            }
            .suspension{
                width: auto;
                height: 1.5rem;
                padding: 0 .5rem;
                color: #ff5438;
                border: .1rem solid #ff5438;
                border-radius: .75rem;
                text-align: center;
                font: {
                    size: 1rem;
                    weight: 300;
                };
            }
            &.violet::before{background-color: #8358cb;}
            &.gold::before{background-color: #d6ad75;}
            &.silver::before{background-color: #aebad4;}
        }
    }
}