.grid-container{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 50px 50px 50px;
    margin-top: 20px;
    .item{
        background: darkviolet;
        border: 2px solid #55b47d;
        padding: 10px;
    }
    & + h3,
    & + p{
        margin-top: 20px;
    }
    &.fr{
        grid-template-columns: 1fr 1fr 1fr;
        .item{
            background: orangered;
            border: 2px solid orange;
            padding: 10px;
        }
    }
    &.fr2{
        grid-template-columns: 100px 2fr 1fr;
        .item{
            background: orangered;
            border: 2px solid orange;
            padding: 10px;
        }
    }
    &.repeat{
        grid-template-columns: repeat(5, 1fr);
        .item{
            background: #0a3d64;
            border: 2px solid #ed7170;
            padding: 10px;
        }
    }
    &.minmax{
        grid-template-columns: repeat(3, 1fr);
	    grid-template-rows: repeat(3, minmax(100px, auto));
        .item{
            background: #f4d8cf;
            border: 2px solid #a483e2;
            padding: 10px;
            color: #000;
        }
    }
    &.auto-fill{
        grid-template-columns: repeat(auto-fill, minmax(100px, auto));
        grid-template-rows: auto;
        .item{
            background: #ecb172;
            border: 2px solid #6795a0;
            padding: 10px;
        }
    }
    &.auto-fit{
        grid-template-columns: repeat(auto-fit, minmax(100px, auto));
        grid-template-rows: auto;
        .item{
            background: #ecb172;
            border: 2px solid #6795a0;
            padding: 10px;
        }
    }
    &.gap{
        gap: 10px 20px;
        // row-gap: 10px;
        // column-gap: 20px;
    }
    &.gapStyle{
        gap: 0px;
    }
}
.inp{
    &.active{
        &+label{
            .gapChk{
                display: block;
            }
        }
    }
}
.grid-inp{
    margin-top: 20px;
    .gapTxt{
        margin-right: 10px;
        position: relative;
        &::before{
            content: '';
            display: inline-block;
            vertical-align: middle;
            width: 15px;
            height: 15px;
            background-color: #fff;
            margin-right: 5px;
            border-radius: 50%;
            transform: translateY(-2px);
        }
        &:last-child{
            margin-right: 0;
        }
        .gapChk{
            display: none;
            width: 11px;
            height: 11px;
            background-color: #a483e2;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 2px;
            transform: translateY(-50%);
            transition: .5s;
        }
    }
}