.main{
  color: #fff;
}
/*====================================== typing ======================================*/
.typingArea {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    position: relative;
    background:#650911;
    &::after{
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      opacity: 0.1;
      background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/662025/grain.jpg') repeat center center;
      -webkit-animation: grain 0.5s steps(1) infinite;
      animation: grain 0.5s steps(1) infinite;
    }
    .typingBox {
      width: 100%;
      margin: 0 auto;
      position: absolute;
      top: 50%;
      left:50%;
      transform:translate(-50%,-50%);
      z-index: 9;
      font-size: 6em;
      font-weight: bolder;
      color:#fff;
      text-shadow: 10px 10px 1px #000;
      text-align:center;
      .typing-txt {
        display: none;
        ul{
          li{
            &.on{
              display: inline-block;
              animation-name: cursor;
              animation-duration: 0.3s;
              animation-iteration-count: infinite;
              font-size: 1em;
            }
          }
        }
    }
  }
}

@keyframes cursor {
    0% {
        border-right: 1px solid #fff
    }

    50% {
        border-right: 1px solid #000
    }

    100% {
        border-right: 1px solid #fff
    }
}
/*====================================== //typing ======================================*/
.styleArea{
  height: 50vh;
  h2{
    text-align: center;
    margin-top: 50px;
    font: {
      size: 70px;
      weight: 700;
    }
  }
  ul{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    li{
      width: 200px;
      height: 200px;
      line-height: 200px;
      background-color: #650911;
      border: 1px solid #650911;
      border-radius: 50%;
      text-align: center;
      font-size: 30px;
      transition: 1s;
      position:relative;
      top:0;
      animation: ball 1s ease-in Infinite Alternate ;
      &:hover{
        width: 300px;
        height: 300px;
        line-height: 300px;
        background-color: #000;
        border: 5px solid #650911;
        transition: 1s;
      }
    }
    @keyframes ball {
      0% {
        top:0px;
      }
      100% {
        top:10%;
      }
    }
  }
}