// input
.ui-content{
    &.input{
        h2, h3, h4 {
            color: #fff;
        }
        .checkbox-area{
            position: relative;
            height: 800px;
            color: #222;
            .checkwrap{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                .checkbox{
                    width: 350px;
                    height: 500px;
                    margin: 0 auto;
                    overflow-x: hidden;
                    overflow-Y: auto;
                    border-radius: 10px;
                    background-color: #fff;
                    padding: 20px;
                    box-sizing: border-box;
                    box-shadow: 0 5px 10px rgba(49, 49, 49, 0.692);
                    -ms-overflow-style:none;
                    &::-webkit-scrollbar {
                        display:none /* Chrome , Safari , Opera */
                    }
                    /* logo area */
                    .logo{
                        display: flex;
                        align-items: center;
                        padding-bottom: 20px;
                        img{
                            width: 50px;
                            height: 50px;
                        }
                        h1{
                            font-size: 20px;
                            padding-left: 15px;
                            margin: 0;
                            color: #333;
                            line-height: 21px;
                            span{
                                font-size: 13px;
                                color: #868686;
                            }
                        }
                    }
                    /* //logo area */
                    .slide{
                        height: auto;
                        .area{
                            border-bottom: 2px solid #f3f3f3;
                            &.terms{
                                padding: 20px 0;
                                input{
                                    display: none;
                                    &:checked{
                                        & + .chk-label,
                                        & + .small-chk{
                                            &::before{
                                                border: 1px solid #fbe64c;
                                                background: #fbe64c url('./resource/img/ico-checked.png') 50% 50% no-repeat;
                                                background-size: 50% 50%;
                                            }
                                        }
                                    }
                                }
                                &:last-child{
                                    padding-bottom: 70px;
                                }
                                .allcheck{
                                    .chk-label{
                                        font-size: 17px;
                                        font-weight: 700;
                                        padding-bottom: 10px;
                                        &::before{
                                            content: '';
                                            width: 20px;
                                            height: 20px;
                                            border: 1px solid #fbe64c;
                                            background-color: #fff;
                                            border-radius: 50%;
                                            margin-right: 10px;
                                            display: inline-block;
                                            position: relative;
                                            top: 5px;
                                        }
                                    }
                                }
                                dl{
                                    dt{
                                        font-weight: 700;
                                        padding: 0 0 25px 25px;
                                        &.allcheck{
                                            padding: 0;
                                            padding-bottom: 20px;
                                        }
                                    }
                                    dd{
                                        width: 100%;
                                        overflow: hidden;
                                        line-height: 1;
                                        &.allcheck-txt{
                                            p{
                                                color: #c7c7c7;
                                                font-size: 14px;
                                                padding-left: 25px;
                                                line-height: 18px;
                                            }
                                        }
                                        label{
                                            font-size: 14px;
                                            font-weight: 500;
                                            color: #888;
                                            padding-bottom: 0;
                                            line-height: 20.5px;
                                        }
                                        .small-chk{
                                            font: {
                                                size: 13px;
                                                weight: 600;
                                            }
                                            &::before{
                                                content: '';
                                                width: 13px;
                                                height: 13px;
                                                border: 1px solid #fbe64c;
                                                background-color: #fff;
                                                border-radius: 3px;
                                                margin-right: 10px;
                                                display: inline-block;
                                                position: relative;
                                                top: 2px;
                                            }
                                          }
                                        .termsBtn{
                                            float: right;
                                            color: #c1c1c1;
                                            text-decoration: underline;
                                          }
                                    }
                                }
                            }
                        }
                    }
                    .continue-btn{
                        width: 100%;
                        height: 60px;
                        background-color: #fbe64c;
                        position: fixed;
                        left: 0;
                        bottom: 0;
                        border-radius: 0 0 10px 10px;
                        font-size: 16px;
                        &:hover{
                            background-color: #eedb4a;
                        }
                    }
                }
            }
        }
    }
}