// input
// .ui-content.input{h2, h3, h4 {color: #fff;}}

.test-box{
    width: 100px;
    border: .1rem solid red;
    aspect-ratio: 1 / 1;
}
.nav{
    &-wrap{
        height: 30rem;
        position: relative;
        *{
            padding: 0;
            margin: 0;
            list-style: none;
        }
        a{
            text-decoration: none;
            color: inherit;
        }
    }
    &-item{
        width: 35rem;
        padding-bottom: .5rem;
        position: absolute;
        inset: 50% auto auto 50%;
        transform: translate(-50%, -50%);
        border-bottom: .1rem solid #aaa;
        details{
            margin-top: .5rem;
            border-top: .1rem solid #aaa;
        }
        summary{
            display: flex;
            justify-content: space-between;
            position: relative;
            padding: 1rem 1rem;
            cursor: pointer;
            list-style: none;
            &::after{
                content: '-';
            }
            [open] & {
                &::after{
                    content: '+';
                }
            }
        }
    }
    &-list{
        padding: 1rem 2rem;
        border-top: .1rem solid #aaa;
        a{
            display: flex;
            justify-content: space-between;
            align-items: center;
            line-height: 1.6;
            color: gray;
            &::after{
                content: '';
                width: .5rem;
                aspect-ratio: 1;
                transform: rotate(-45deg);
                border-right: .1rem solid #aaa;
                border-bottom: .1rem solid #aaa;
            }
        }
    }
}

.input-acttion{
    &-wrap{
        width: 40rem;
        margin: 0 auto;
        padding: 5rem 0;
        background-color: slateblue;
        box-sizing: border-box;
        form{
            width: 30rem; 
            display: grid;
            margin: auto;
            gap: .5rem;  
        }
    }
    &-item{
        background: linear-gradient(to right, #fff, #fff) no-repeat left / 100% 10rem;
        border-radius: 1rem;
        overflow: hidden;
        transition: .4s cubic-bezier(0.23, 1, 0.32, 1);
        input{
           width: 100%;
           padding: 1rem 1.5rem;
           border: none;
           box-sizing: border-box;
           font-size: 2rem;
           color: slateblue;
           transition: .5s;
           background-color: transparent;
           &::placeholder{color: rgba(106, 90, 205, 0.3);}
           &:focus{
            outline: none;
            color: #fff;
            &::placeholder{color: rgba(255, 255, 255, 0.5);}
           }
        }
    }
    &:has(input:focus){
        background: linear-gradient(to right, #fff, #fff) no-repeat 1.5rem center / 0 10rem;
    }
}

.checkbox{
    &[data-type="nike"]{
        height: 80rem;
        position: relative;
        color: #222;  
        .checkbox-wrap{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .checkbox-type{
            width: 35rem;
            height: 50rem;
            padding: 2rem;
            border-radius: 2rem;
            background-color: #fff;
            box-sizing: border-box;
            box-shadow: 0 .5rem 1rem rgba(49, 49, 49, 0.692);
            overflow-x: hidden;
            overflow-Y: auto;
            -ms-overflow-style:none;
            &::-webkit-scrollbar {display:none;}
        }
        .checkbox-logo{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 1.5rem;
            padding-bottom: 3rem;
            img{
                width: 5rem;
                height: 5rem;
            }
            h1{
                display: flex;
                flex-direction: column;
                gap: .8rem;
                line-height: 1;
                color: #333;
                font: {
                    size: 2rem;
                    weight: 700;
                }
                span{
                    color: #868686;
                    font: {
                        size: 1.3rem;
                        weight: 500;
                    }
                }
            }
        }
        .checkbox-content{
            display: flex;
            flex-direction: column;
            gap: 2rem;
            padding-bottom: 4rem;
            &:last-child{padding-bottom: 7rem;}
            &-wrap{
                padding-bottom: 2rem;
                border-bottom: .1rem solid #f3f3f3;
                &:last-child{border-bottom: 0;}
                &[data-style="allCheck"]{
                    .checkbox-content-item{gap: 1rem;}
                    .checkbox-content-tit{padding: 0;}
                    .checkbox-content-txt{
                        font: {
                            size: 1.3rem;
                            weight: 500;
                        }
                        color: #c7c7c7;
                        padding-left: 2.5rem;
                        line-height: 1.8rem;
                    }
                    .checkbox-content-inp:checked{
                        .checkbox-content-label::before{
                            border: .1rem solid #fbe64c;
                            background: #fbe64c url(../img/ico-checked.png) 50% 50% no-repeat;
                            background-size: 50% 50%;                
                        }
                    }
                    .checkbox-content-label{
                        font: {
                            size: 1.7rem; 
                            weight: 700;
                        }
                        color: #000;
                        &::before{
                            content: '';
                            width: 2rem;
                            height: 2rem;
                            border: .1rem solid #fbe64c;
                            border-radius: 50%;
                            background-color: #fff;
                        }
                    }
                }
            }
            &-item{
                display: flex;
                flex-direction: column;
                gap: 2.5rem;
            }
            &-tit{
                padding-left: 2.5rem;
                font: {
                    size: 1.6rem;
                    weight: 700;
                }
            }
            &-txt{
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            &-inp{
                display: none;
                &:checked{
                    & + .checkbox-content-label::before{
                        border: .1rem solid #fbe64c;
                        background: #fbe64c url('../img/ico-checked.png') 50% 50% no-repeat;
                        background-size: 50% 50%;
                    }
                }
            }
            &-label{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 1rem;
                color: #888;
                font: {
                    size: 1.3rem;
                    weight: 500;
                }
                &::before{
                    content: '';
                    width: 1.3rem;
                    height: 1.3rem;
                    border: .1rem solid #fbe64c;
                    border-radius: .3rem;
                    background-color: #fff;
                }
            }
            &-btn{
                color: #c1c1c1;
                text-decoration: underline;
            }
        }
        .continue-btn{
            width: 100%;
            height: 6rem;
            background-color: #fbe64c;
            position: fixed;
            left: 0;
            bottom: 0;
            border-radius: 0 0 2rem 2rem;
            font: {
                size: 1.6rem;
                weight: 700;
            }
            &:hover{background-color: #eedb4a;}
        }
    }
    &[data-type="custom"]{
        text-align: center;
        input[type=checkbox]{
            display: none;
            &:checked{
               &+label[for=agree-chk]{
                    em{
                        background-position: right center;
                    }
                }
            }
        }
        label[for=agree-chk]{
            em{
                width: 18px;
                height: 18px;
                display: inline-block;
                vertical-align: middle;
                margin-right: 5px;
                background: url('../img/checkbox-01.png') no-repeat;
                background-position: left center;
            }
        }
    }
    &[data-type="grade"]{
        text-align: center;
        margin-top:30px;
        input[type=radio]{
            display: none;
            &:checked{
                &+label{
                    color: rgba(220, 20, 60, 0.522);
                    em{
                        background-position: right center;
                    }
                }
            }
        }
        label{
            cursor: pointer;
            em{
                display: inline-block;
                width: 18px;
                height: 18px;
                vertical-align: middle;
                margin-right: 5px;
                background: url('../img/radio-01.png') no-repeat;
                background-position: left center;
            }
        }
    }
    &[data-type="fontawesome"]{
        color: #fff;
        input[type=checkbox]{
            display: none;
            &:checked{
                &+label{
                    &::before{
                        color: #fff;
                        background-color: crimson;
                        border-color: transparent;
                    }
                }
            }
            &+label:active{
                &::before{
                    transform: scale(0);
                }
            }
        }
        label{
            display: block;
            text-align: center;
            &::before{
                content: '\f00c';
                font-family: fontawesome;
                border: 1px solid #fff;
                width: 14px;
                height: 14px;
                line-height: 16px;
                border-radius: 3px;
                margin-right: 5px;
                font-size: 13px;
                vertical-align: middle;
                display: inline-block;
                text-align: center;
                color: transparent;
                transition: .3s;
            }
        }
    }
}

.login{
    width: 40rem;
    padding: 2.5rem;
    text-align:center;
    border: .1rem solid #eee;
    border-radius: .5rem;
    background-color: #f5f5f5;
    box-sizing: border-box;
    box-shadow: 0 0 2.5rem rgba(0, 0, 0, 0.665);
    span{
        display: block;
        margin: 1.5rem 0;
        font-weight: bold;
        color: #000;
    }
    input[type=email],
    input[type=password]{
        width: 100%;
        height: 100%;
        padding: 1rem 1rem 1rem 4rem;
        border: .1rem solid #ddd;
        border-radius: .5rem;
        position: relative;
        box-sizing: border-box;
        transition: .3s;
        clip-path: inset(0%);
        &::placeholder{
            opacity: 1;
            transition: .3s;
        }
        &:hover{
            border: .1rem solid dodgerblue;
            box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.665);
        }
        &:focus{
            &::placeholder{
                opacity: 0;
                visibility: hidden;
            }
        }
    }
    input[type=email]{background: #fff url('../img/icon-email.png') no-repeat center left 1rem;}
    input[type=password]{background: #fff url('../img/icon-lock.png') no-repeat center left 1rem;}
    p{
        margin-top: 3rem;
        overflow: hidden;
        
        label{
            float: left;
            cursor: pointer;
            color: #222;
        }
        a{
            float: right;
            &:hover{text-decoration: underline;}
        }
    }
    button{
        width: 30rem;
        margin-top: 5rem;
        padding: 1.5rem;
        font-size: 2rem;
        color: #fff;
        background-color: #2991b1;
        border: none;
        border-radius: .5rem;
        cursor: pointer;
        transition: .3s;
        &:hover{background-color: #207791;}
    }
}

