@import url('https://fonts.googleapis.com/css2?family=Anton&family=Gowun+Batang&display=swap');
.ui-content{
	&.netflix{
		width: 100%;
		padding-top: 0;
		background-color: #000;
		*{
			font-family: 'Anton', sans-serif;
		}
		@mixin h2Box {
			margin-bottom: 20px;
			text-align: left;
			color: #fff;
			font: {
				size: 3rem;
				weight: 500;
			}
		}
		@mixin logo {
			color: #f00;
			font-size: 30px;
		}
		.netflixWrap{
			width: 100%;
			margin: 0 auto;
			.Logo{
				width: 100%;
				margin: 0 auto;
			}
			.movienav{
				width: 100%;
				margin: 30px auto;
				nav{
					width: 50%;
					margin: 0 auto;
					ul{
						list-style: none;
						display: flex;
						justify-content: space-between;
						align-items: center;
						li{
							a{
								text-decoration: none;
								color: #fff;
								font: {
									size: 1.2rem;
									weight: 500;
								}
							}
							.logoStyle{
								@include logo();
							}
						}
					}
				}
			}
			.mainMovie{
				width: 100%;
				height: 65vh;
				color: #fff;
				position: relative;
				background: url('../img/movietitle.png') 0 0 no-repeat;
				margin-bottom: 3rem;
				.mainBox{
					padding: 10px;
					position: absolute;
					left: 1%;
					bottom: 0;
					em{
						font-size: 20px;
						.logoStyle{
							@include logo();
							margin-right: 5px;
						}
					}
					h2{
						font: {
							size: 4rem;
							weight: 900;
						}
					}
					p{
						margin: 10px 0;
						font: {
							size: 13px;
							weight: 500;
						}
					}
					.playBtn{
						display: inline-block;
						button{
							display: inline-block;
							height: 30px;
							line-height: 30px;
							padding: 0 2rem;
							border-radius: 5px;
							&:hover{
								opacity: .8;
							}
							font: {
								size: 14px;
								weight: 600;
							}
							&.playBtn{
								background-color: #fff;
								color: #000;
								margin-right: 20px;
							}
							&.contentBtn{
								background-color: #333;
								color: #fff;
							}
						}
					}
				}
			}
			.movieBox{
				margin: 3rem 0 0 3rem;
				h2{
					@include h2Box();
				}
				.slideBox{
					width: 100%;
					overflow: auto;
					ul{
						width: 200%;
						display: flex;
						justify-content: start;
						align-items: baseline;
						.btnNet{
							display: block;
							span{
								display: block;
								height: 400px;
								margin-right: 3rem;
								margin-bottom: 20px;
								img{
									width: 300px;
									height: 100%;
								}
							}
							p{
								color: #fff;
								font: {
									size: 20px;
									weight: 500;
								}
							}
							.titleStyle{
								font-weight: 600;
							}
						}
					}
					// #insertHtml,
					// #movie,
					// #tv,
					// #person{
					// 	@include ulBox();
					// }
				}
			}
		}
	}
}
