.card-walk {
    padding: 0 0 2.6rem;
    overflow: hidden;

    &--list {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2.8rem;
        margin-top: 3.2rem;
    }

    &--type {
        position: relative;
        width: 100%;
        border-top: .2rem solid #EF4678;
        padding: 0 2.4rem;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 2.4rem;

        &-tit {
            min-width: 6.3rem;
            height: 3.3rem;
            padding: 0 1.5rem 0;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 700;
            font-size: 1.3rem;
            color: #fff;
            background-color: #EF4678;
            border-bottom-left-radius: .8rem;
            border-bottom-right-radius: .8rem;
        }

        &+.card-walk--subject {
            margin-top: 0;
        }

        .mdl-btn {
            opacity: .4;
            transform: translateY(.5rem);
        }

        .point {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: .4rem;
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 1.6rem;
            color: #000;

            &::before {
                content: "";
                display: block;
                width: 2.2rem;
                height: 2.4rem;
                background-image: url(../../assets/img/challenge/m08/ico-point.png);
                background-size: 2.2rem 2.4rem;
                background-repeat: no-repeat;
            }
        }
    }

    &--head {
        position: relative;
        width: 100%;
        font-size: 1.5rem;
        font-weight: 500;
        padding: 0 2.4rem 0;
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: flex-start;

        .div {
            width: 1px;
            height: 1.4rem;
            background-color: #B1B7C4;
        }

        b {
            font: inherit;
            color: #61697A;
        }

        span {
            font: inherit;
            color: #858C9A;
        }

        i {
            font-style: normal;
            color: #B1B7C4;
        }
    }

    &--team {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        gap: .6rem;
        padding: 0 2.4rem 0;
        margin-top: 1.7rem;

        strong {
            display: block;
            font-size: 2.2rem;
            font-weight: 700;
            color: #1E1F23;
            word-break: break-all;
        }

        &::before {
            content: "";
            display: block;
            width: .6rem;
            min-width: .6rem;
            height: .6rem;
            border-radius: 50%;
            background-color: #9530E8;
            transform: translateY(-.3rem);
        }

        &[data-team="leader"]::before {
            width: 2rem;
            min-width: 2rem;
            height: 2rem;
            border-radius: 0;
            background-color: transparent;
            transform: translateY(0);
            background-image: url(../../assets/img/challenge/walk/ico-leader.png);
            background-size: 2rem;
        }
    }

    &--subject {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        width: 100%;
        position: relative;
        padding: 0 2.4rem;
        margin-top: 1.2rem;

        b[data-marker="yellow"]::after {
            opacity: .6;
            bottom: 0.3rem;
        }

        &[data-ranking] {
            .card-walk--subject-img {
                padding-top: 3.4rem;
            }

            .card-walk--subject-tit {
                font-size: 4.4rem;
                font-weight: 700;
                line-height: 1.4;

                span {
                    display: block;
                    font-size: 2.2rem;
                    font-weight: 700;
                    color: inherit;
                    line-height: 1;
                }
            }
        }

        &[data-state="end"] {
            padding-bottom: 2.7rem;

            .card-walk--subject-img {
                padding-top: 5.5rem;

                &::before {
                    transform: translateY(-.8rem);
                }
            }

            .card-walk--subject-tit {
                display: block;
                font-size: 2rem;
                font-weight: 300;

                b {
                    font: inherit;
                    color: #9530E8;
                    font-weight: 700;
                }
            }
        }

        &[data-state="before"] {
            margin: 0.1rem 0 0.9rem;
            align-items: center;

            .card-walk--subject-tit {
                display: block;
                font-size: 2.2rem;

                b {
                    font: inherit;
                    color: #EF4678;
                    font-weight: 700;
                }
            }

            .card-walk--subject-img {
                transform: translateY(-0.5rem);
            }
        }

        &[data-state="none"] {
            align-items: center;
            margin-top: 2.2rem;

            .card-walk--subject-tit {
                display: block;
                font-size: 2.5rem;

                b {
                    font: inherit;
                    color: #9530E8;
                    font-weight: 700;
                }
            }

            .card-walk--subject-img {
                transform: translateY(-0.5rem);
            }

            &+.card-walk--time {
                margin-top: 1.3rem;
            }
        }

        &[data-state="ready"] {
            .card-walk--subject-tit {
                transform: translate(0.5rem, 1.5rem);
            }
        }

        &-tit {
            font-size: 2.2rem;
            font-weight: 700;
            color: #1E1F23;
            line-height: 1.4;

            span {
                display: block;
                font-size: 2.2rem;
                font-weight: 700;
                color: inherit;
                line-height: inherit;
            }

            b {
                font-size: 4.4rem;
                font-weight: 700;
                line-height: inherit;
                color: inherit;
                display: inline-block;
                transform: translateY(-0.2rem);

                &[data-marker="yellow"] {
                    &::after {
                        background-color: rgba(255, 215, 0, 0.60);
                    }
                }
            }
        }

        &-img {
            position: relative;

            &[data-size="l"]::before {
                width: 10.4rem;
                height: 10.4rem;
                background-size: 10.4rem;
                transform: translate(-0.9rem, -0.4rem);
            }

            &[data-size="m"]::before {
                width: 9rem;
                height: 9rem;
                background-size: 9rem;
                transform: translateY(-0.3rem);
            }

            &::before {
                content: "";
                display: block;
                width: 7rem;
                height: 7rem;
                background: url(../img/challenge/walk/walk-team.png) no-repeat 0 0 / 7rem;
                transform: translateY(0.5rem);
            }
        }

        .mdl-tooltip {
            position: absolute;
            top: 0;
            left: auto;
            right: 0;
            background: #EDF0F7;
            min-height: 3.6rem;
            border-radius: 1.8rem;
            padding: 0 1.6rem;
            display: flex;
            align-items: center;

            &::before {
                background: #EDF0F7;
                left: 77.4%;
            }
        }

        .mdl-tooltip-txt {
            display: flex;
            align-items: center;
            font-size: 1.4rem;
            font-weight: 300;
            color: #4E4E4E;
            gap: 0;

            b {
                font-size: 1.6rem;
                font-weight: 500;
                color: #4E4E4E;
                margin: 0 .2rem 0 .6rem;
            }
        }
    }

    &--time {
        background-color: #F4F6FA;
        margin: 3rem 2.4rem 0;
        width: calc(100% - 4.8rem);
        min-height: 5.2rem;
        padding: 0 2.4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 1.2rem;

        span {
            font-size: 1.5rem;
            font-weight: 300;
            color: #858C9A;
        }

        b {
            font-size: 1.6rem;
            font-weight: 500;
            color: #61697A;

            &[data-end] {
                color: #EF4678;
            }
        }

        &+.card-walk--link {
            margin-top: 1.5rem;
        }
    }

    &--link {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 2.4rem 0;
        width: 100%;
        flex-direction: column;
        margin-top: 2.5rem;

        .mdl-btn {
            width: 16rem;
            min-width: 16rem;
            height: 5.2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #1E1F23;
            border-radius: 2.6rem;

            span {
                font-size: 1.7rem;
                font-weight: 700;
                color: inherit;
            }

            &[data-color="black"] {
                background-color: #1E1F23;
                color: #fff
            }

            &[data-color="primary"] {
                background-color: #FFD700;
                color: #1E1F23
            }
        }
    }

    &--mission {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 1.4rem;
        width: 100%;
        padding: 0 2.2rem;
        margin-top: 2rem;

        &-wrap {
            width: 100%;
            padding: 2rem 0.8rem;
            border-radius: 2rem;
            background-color: #F7F8FA;
            display: flex;
            min-height: 7.6rem;
            justify-content: space-around;
            position: relative;

            &::after {
                content: "";
                display: block;
                position: absolute;
                left: 50%;
                width: 0.1rem;
                height: calc(100% - 4rem);
                border-left: 0.1rem solid #E7E9ED;
            }
        }

        &-item {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-left: 4rem;

            &::before {
                display: none;
            }

            &[data-icon="participate"] {
                .card-walk--mission-tit::before {
                    content: "";
                    background-image: url(../img/challenge/main/sp_NMOK_1_1V_2407.png);
                    background-size: 24rem;
                    background-repeat: no-repeat;
                    background-position: 0 0;
                }
            }

            &[data-icon="achieve"] {
                .card-walk--mission-tit::before {
                    content: "";
                    background-image: url(../img/challenge/main/sp_NMOK_1_1V_2407.png);
                    background-size: 24rem;
                    background-repeat: no-repeat;
                    background-position: -4rem 0;
                }
            }
        }

        &-tit {
            width: 100%;
            font-size: 1.2rem;
            font-weight: 300;
            line-height: 1.4;
            text-align: left;
            color: #1E1F23;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                margin: 0;
                width: 3.2rem;
                height: 3.2rem;
                border-radius: 50%;
                background: #fff url(../img/challenge/main/sp_x24.png) no-repeat 0 0 / auto 3.2rem;
            }
        }

        &-txt {
            width: 100%;
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.4;
            text-align: left;
            color: #1E1F23;
        }
    }

    //상태별 스타일
    &[data-type="person"] {
        .card-walk--type {
            border-top: .2rem solid #3084F3;

            &-tit {
                background-color: #3084F3;
            }
        }

        .card-walk--subject {
            margin-top: .3rem;

            &-img {
                padding-top: 1.7rem;

                &[data-size="l"]::before {
                    width: 10.4rem;
                    height: 10.4rem;
                    background-size: 10.4rem;
                    transform: translate(-0.8rem, -0.2rem);
                }

                &[data-size="m"]::before {
                    width: 9rem;
                    height: 9rem;
                    background-size: 9rem;
                }

                &::before {
                    content: "";
                    display: block;
                    width: 7.8rem;
                    height: 7.8rem;
                    background: url(../img/challenge/walk/walk-person.png) no-repeat 0 0 / 7.8rem;
                }

                .mdl-tooltip {
                    top: -0.6rem;
                }
            }

            &[data-ranking] {
                .card-walk--subject-img {

                    // padding-top: 1.7rem;
                    &::before {
                        transform: translate(0.5rem, 0.8rem);
                    }
                }
            }

            &[data-ranking="1"],
            &[data-ranking="2"],
            &[data-ranking="3"] {
                .card-walk--subject-tit {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: .7rem;

                    &::after {
                        content: "";
                        display: block;
                        width: 3.2rem;
                        height: 3.2rem;
                        background: url(../img/challenge/walk/ranking.png) no-repeat 0 0 / 3.2rem;
                    }
                }
            }

            &[data-state="before"] {
                margin-top: -.5rem;

                .card-walk--subject-img {

                    // padding-top: 1.7rem;
                    &+.card-walk--time {
                        margin: 0.6rem 2.4rem 0;
                    }
                }
            }

            &[data-state="end"] {
                padding-bottom: 0;

                .card-walk--subject-tit b {
                    color: #3084F3;
                }

                .card-walk--subject-img {
                    padding-top: 6.1rem;
                }

                .mdl-tooltip {
                    top: 1.3rem;
                }

                &+.card-walk--time {
                    margin-top: 1.1rem;
                }
            }

            &[data-state="end-no"] {
                .card-walk--subject {
                    margin-top: -2rem;
                }

                .card-walk--subject-tit {
                    transform: translateY(-1rem);
                }

                .card-walk--subject-img[data-size="m"] {
                    padding-top: 0;

                    &::before {
                        transform: translate(0rem, 0.4rem);
                    }
                }

                &+.card-walk--time {
                    margin: 2rem 2.4rem 0;
                }
            }
        }

        .mdl-tooltip::before {
            left: 73%;
        }

        .card-walk--time {
            margin: 2.9rem 2.4rem 0;
        }

        [data-ranking] {
            margin-top: 1.9rem;

            .card-walk--subject-img::before {
                transform: translate(0.5rem, 0.8rem);
            }

            &+.card-walk--time {
                margin: 2.4rem 2.4rem 0;
            }
        }
    }

    &[data-type="team"] {
        .card-walk--type {
            border-top: .2rem solid #9530E8;

            &-tit {
                background-color: #9530E8;
            }
        }
    }

    &[data-type="everyday"] {
        .card-walk--type {
            border-top: .2rem solid #F27759;

            &-tit {
                background-color: #F27759;
            }
        }

        .card-walk--subject-tit {
            line-height: 2.7rem;
            margin-top: 1rem;
        }

        .card-walk--subject-txt {
            color: #858C9A;
            line-height: 2.1rem;
        }

        [data-state="before"] {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 0;

            .card-walk--subject-img {
                transform: translateY(.9rem);
            }

            .card-walk--subject-txt {
                white-space: nowrap;
                margin-top: 1rem;
            }

            .card-walk--subject-tit {
                line-height: 2.7rem;
                margin-top: .8rem;
            }

            &+.card-walk--link {
                margin-top: 1.4rem;
            }
        }

        .card-walk--graph+.card-walk--link {
            margin-top: 1.1rem;
        }

        .card-walk--subject-img {
            width: 16rem;
        }
    }

    &[data-type="theme"] {
        .card-walk--type {
            border-top: .2rem solid #25C38F;

            &-tit {
                background-color: #25C38F;
            }

            .point {
                position: absolute;
                top: 1.5rem;
                right: 2.4rem;
            }
        }
    }

    &[data-type="rewardball"] {
        .card-walk--subject {
            flex-direction: column;
            justify-content:flex-start;
            align-items: flex-start;

        }
        .card-walk--stepcount{
            display: flex;
            align-items: center;
            gap:.4rem;
            margin-top: 0.8rem;
            strong{
                font-size: 1.6rem;
                font-weight: 500;
                color: #858C9A;
            }
            b,
            span {
                font-size: 1.6rem;
                font-weight: 300;
                color: #858C9A;
            }
        }
        .card-walk--type {
            border-top: 0.2rem solid #F27759;

            &-tit {
                background-color: #F27759;
            }
        }

        .card-walk--rewardstep {
            position: relative;
            margin: 0 2.4rem 0;
            width: calc(100% - 4.8rem);
            display: flex;
            flex-direction: column;
            gap: 1.7rem;
            &::before {
                content: '';
                position: absolute;
                top: 3rem;
                left: 3.8rem;
                width: 1rem;
                height:  calc(100% - 6rem);
                background-color: #F2F5FC;
                z-index: 1;
            }
            .card-walk--rewardstep-bar {
                position: absolute;
                top: 3rem;
                left: 3.8rem;
                width: 1rem;
                height: 0;
                background: linear-gradient(180deg, #FFE108 0.97%, #FFCD20 89.35%);
                z-index: 2;
                border-bottom-right-radius: 4rem;
                border-bottom-left-radius: 4rem;
            }
           
            [data-state="on"] ~ .card-walk--rewardstep-bar,
            [data-state="complete"] ~ .card-walk--rewardstep-bar{height: 7rem;}
            [data-state="complete"] + [data-state="complete"] ~ .card-walk--rewardstep-bar,
            [data-state="complete"] + [data-state="on"] ~ .card-walk--rewardstep-bar,
            [data-state="on"] + [data-state="complete"] ~ .card-walk--rewardstep-bar,
            [data-state="on"] + [data-state="on"] ~ .card-walk--rewardstep-bar{height: 17.6rem;}

            [data-state="on"] + [data-state="on"] + [data-state="on"] ~ .card-walk--rewardstep-bar,
            [data-state="on"] + [data-state="complete"] + [data-state="on"] ~ .card-walk--rewardstep-bar,
            [data-state="on"] + [data-state="on"] + [data-state="complete"] ~ .card-walk--rewardstep-bar,
            [data-state="on"] + [data-state="complete"] + [data-state="complete"] ~ .card-walk--rewardstep-bar,
            [data-state="complete"] + [data-state="on"] + [data-state="on"] ~ .card-walk--rewardstep-bar,
            [data-state="complete"] + [data-state="on"] + [data-state="complete"] ~ .card-walk--rewardstep-bar,
            [data-state="complete"] + [data-state="complete"] + [data-state="on"] ~ .card-walk--rewardstep-bar,
            [data-state="complete"] + [data-state="complete"] + [data-state="complete"] ~ .card-walk--rewardstep-bar{height: calc(100% - 6rem);}

            &-item {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: space-between;

                &[data-state="off"] {
                    .card-walk--rewardstep-point {
                        background: url(../img/challenge/rewardball/rbs1.png) no-repeat 0 0 / 8.8rem;
                        span {color: #515762;}
                    }
                    .card-walk--rewardstep-score {color: #515762;}
                }
                &[data-state="ing"] {
                    .card-walk--rewardstep-point {
                        background: url(../img/challenge/rewardball/rbs4.png) no-repeat 0 0 / 8.8rem;
                        span {color: #515762;}
                    }
                    .card-walk--rewardstep-score {color: #515762;}
                }
                &[data-state="on"] {
                    .card-walk--rewardstep-point {
                        background: url(../img/challenge/rewardball/rbs2.png) no-repeat 0 0 / 8.8rem;
                        span {color: #1E1F23;}
                    }
                }

                &[data-state="complete"] {
                    .card-walk--rewardstep-point {
                        background: url(../img/challenge/rewardball/rbs3.png) no-repeat 0 0 / 8.8rem;
                        span {color: #1E1F23;}
                    }
                }

                .card-walk--rewardstep-point {
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    width: 8.8rem;
                    height: 8.8rem;
                    gap: 0.2rem;
                    background: url(../img/challenge/rewardball/rbs1.png) no-repeat 0 0 / 8.8rem;
                    z-index: 5;
                    padding-right: 0.1rem;

                    span {
                        font-size: 1.4rem;
                        font-weight: 700;
                        display: flex;
                        align-items: center;
                        gap: 0.3rem;
                        color: #61697A;

                        &::before {
                            content: '';
                            display: flex;
                            width: 1.6rem;
                            height: 1.8rem;
                            background: url(../img/challenge/rewardball/ico_medal.png) no-repeat 0 0 / 1.6rem;
                        }
                    }
                }

                .card-walk--rewardstep-score {
                    color: #1E1F23;
                    display: flex;
                    flex-direction: column;
                    font-size: 1.9rem;
                    font-weight: 700;
                    margin-left: 0.8rem;
                    padding-top: 0.8rem;

                    span {
                        color: #515762;
                        font-size: 1.5rem;
                        font-weight: 500;
                        padding-top: 0.1rem;
                    }
                }

                .card-walk--rewardstep-state {
                    * {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 4rem;
                        background: #F7F7F7;
                        width: 9.3rem;
                        height: 4rem;
                        margin-left: 2.6rem;
                        font-weight: 500;
                    }

                    .btn-on {
                        display: flex;
                        gap: 0.4rem;
                        color: #515762;

                        &::before {
                            content: '';
                            display: flex;
                            width: 1.8rem;
                            height: 1.8rem;
                            background: url(../img/challenge/rewardball/ico_ing.svg) no-repeat 0 0 / 1.8rem;
                        }
                    }

                    button {
                        &:disabled {
                            background-color: #F7F7F7;
                            color: #999;
                        }

                        color:#000;
                        background-color: #FFD700;
                    }

                    .btn-complete {
                        display: flex;
                        gap: 0.3rem;
                        color: #515762;
                        background: #FEF8D9;
                        color: #000;

                        &::before {
                            content: '';
                            display: flex;
                            width: 1.8rem;
                            height: 1.8rem;
                            background: url(../img/challenge/rewardball/ico_check.svg) no-repeat 0 0 / 1.8rem;
                        }
                    }
                }
            }

        }
    }
}

.card-walk--next {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;

    em {
        color: #61697A;
    }

    &-group {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 0.8rem;

        &[data-align="center"] {
            align-items: center;
        }
    }

    &-tit {
        font-size: 1.6rem;
        font-weight: 700;
        color: #1E1F23;
        line-height: 1.5;
        text-align: left;

        em {
            color: #61697A;
            font-size: 1.5rem;
            font-weight: 500;
        }
    }

    .card-walk--team {
        padding: 0;
        margin-top: .6rem;
        align-items: baseline;
    }

    .card-walk--link {
        width: auto;
        margin-top: 0;
        padding: 0;
    }

    .mdl-btn {
        width: 10rem;
        min-width: 10rem;
        height: 3.6rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #1E1F23;
        border-radius: 1.8rem;

        span {
            font-size: 1.4rem;
            font-weight: 500;
            color: inherit;
        }

        &[data-color="black"] {
            background-color: #1E1F23;
            color: #fff
        }

        &[data-color="primary"] {
            background-color: #FFD700;
            color: #1E1F23
        }
    }
}

.card-walk--next[data-chain="true"]::before {
    width: calc(100% - 4.4rem) !important;
    left: 2.2rem !important;
    border-top: 1px dashed #B1B7C4 !important;
}

.card-walk--link {
    .mdl-btn {
        &:disabled {
            background-color: #E8E8E8;

            span {
                color: #999999;
            }
        }
    }
}

//럭키볼
[data-card="luckyball"] {
    .card-walk {
        &--subject {
            flex-direction: column;
            align-items: flex-start;
            // &[data-ranking]{
            //     display: flex;
            //     flex-direction: column;
            //     gap: .8rem;
            //     .card-walk--subject-txt{
            //         font-size: 1.5rem;
            //         font-weight: 500;
            //         line-height: 2.1rem;
            //         color: #858C9A;
            //     }
            //     .card-walk--subject-tit{
            //         font-size: 2.2rem;
            //         font-weight: 700;
            //         line-height: 3.08rem;
            //         color: #1E1F23;
            //     }
            // }
        }

        &--graph {
            width: 100%;
            min-height: 8.8rem;
            // margin-top: 4.2rem;
            padding: 4.4rem 3rem 0;

            &-item {
                position: relative;
                width: calc(100% - 5.7rem) !important;
                height: 1rem;
                margin: 0 auto;
                // margin-left: 1.5rem;
                margin-left: 3rem;
                border-radius: .5rem;
                background-color: #DCDCDC;
            }

            &-bar {
                position: relative;
                width: 0;
                background-color: #FFCD20;
                border-radius: 0.5rem;
                height: 100%;
                transition: width 0.3s ease-in;

                .pointer {
                    display: none !important;
                }
            }

            &-txt {
                margin-top: 3.36rem;
                justify-content: center;
                gap: 1rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            &-step {
                min-width: 8rem;
                font-size: 1.2rem;
                font-weight: 500;
                color: #777;
                text-align: center;
                position: relative;
                transform: translate(.2rem, -.7rem);

                &::before {
                    content: '';
                    width: 8rem;
                    height: 8.6rem;
                    background: url(../../assets/img/challenge/luckyball.png) no-repeat 0 0;
                    background-size: 32rem;
                    position: absolute;
                    top: -6.4rem;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }

            &[data-step="0"] {
                .card-walk--graph-bar {
                    width: 0;
                }
            }

            &[data-step="1"] {
                .card-walk--graph-bar {
                    width: 0;
                }

                .card-walk--graph-step:nth-of-type(1),
                .card-walk--graph-step:nth-of-type(1)::before {
                    color: #1E1F23;
                    background-position: -8rem 0;
                }
            }

            &[data-step="2"] {
                .card-walk--graph-bar {
                    width: 50%;
                }

                .card-walk--graph-step:nth-of-type(1),
                .card-walk--graph-step:nth-of-type(2) {
                    color: #1E1F23;
                }

                .card-walk--graph-step:nth-of-type(1)::before {
                    background-position: -8rem 0;
                }

                .card-walk--graph-step:nth-of-type(2)::before {
                    background-position: -16rem 0;
                }
            }

            &[data-step="3"] {
                .card-walk--graph-bar {
                    width: 100%;
                }

                .card-walk--graph-step:nth-of-type(1),
                .card-walk--graph-step:nth-of-type(2),
                .card-walk--graph-step:nth-of-type(3) {
                    color: #1E1F23;
                }

                .card-walk--graph-step:nth-of-type(1)::before {
                    background-position: -8rem 0;
                }

                .card-walk--graph-step:nth-of-type(2)::before {
                    background-position: -16rem 0;
                }

                .card-walk--graph-step:nth-of-type(3)::before {
                    background-position: -24rem 0;
                }
            }
        }
    }
}

[data-banner="luckyball"] {
    .mdl-banner-group {
        gap: 0;
    }
}