html, 
body, 
div, 
span, 
iframe, 
h1, h2, h3, h4, h5, h6, p, pre, 
a, 
code, 
em, 
img, 
strong, b, u, i, 
dl, dt, dd, ol, ul, li, 
fieldset, 
form, 
label, 
legend, 
table, caption, tbody, tfoot, thead, tr, th, td, 
article, 
figure, figcaption, 
footer, 
header, 
section {
    margin: 0; 
    padding: 0; 
    border: 0;
}

/* list */
ol, 
ul, 
li {
    list-style: none; 
    margin: 0; 
    padding: 0;
}

/* table */
table {
    width:100%; 
    border-collapse: collapse; 
    border-spacing: 0;
}

table {
    tr{
        border-bottom: 1px solid #000;
        th,
        td{
            border-right: 1px solid #000;
            &:last-child{
                border-right:0;
            }
        }
    }
}

/* font */
body{
    font{
        size: 16px;
        weight: normal; 
    }
    color: #222;
}

a{
    color: #222; 
    text-decoration: none;
}

/* button */
button{
    background: transparent;
    outline: 0;
    border: 0;
    cursor: pointer;
}

/* hidden */
caption,
input,
.ally-hidden{
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    color: transparent !important;
    overflow: hidden !important;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    margin: 0 !important;
    padding: 0 !important;
}

/* ============================================================== */
