html, 
body, 
div, 
span, 
iframe, 
h1, h2, h3, h4, h5, h6, p, pre, 
a, 
code, 
em, 
img, 
strong, b, u, i, 
dl, dt, dd, ol, ul, li, 
fieldset, 
form, 
label, 
legend, 
table, caption, tbody, tfoot, thead, tr, th, td, 
article, 
figure, figcaption, 
footer, 
header, 
section {
    margin: 0; 
    padding: 0; 
    border: 0;
}

/* list */
ol, 
ul, 
li {
    list-style: none; 
    margin: 0; 
    padding: 0;
}

/* table */
table {
  width: 100%;
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
}

/* font */
body{
  color: #222;
  font-size: 16px;
  font-weight: normal;
}

a{
    color: #222; 
    text-decoration: none;
}

/* button */
button{
    padding: 0;
    margin: 0;
    background: transparent;
    outline: 0;
    border: 0;
    cursor: pointer;
}

/* hidden */
caption,
input[type=checkbox],
input[type=radio],
.ally-hidden{
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    color: transparent !important;
    overflow: hidden !important;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    margin: 0 !important;
    padding: 0 !important;
}

/* ============================================================== */
