/* table */
.tableDefault,
.tableDefault2{
    border-top: 1px solid #fff;
}

.tableDefault{
    tr{
        border-bottom: 1px solid #ddd;
        th,
        td{
            text-align: left;
            border-right: 1px solid #ddd;
            padding: 20px;
        }
    }

    tfoot{
        background-color: #616161;
        tr{
            th{
                text-align: center;
            }
        }
    }
}

.tableDefault2 {
    tr{
        border-bottom: 1px solid #ddd;
        th,
        td{
            text-align: left;
            border-right: 1px solid #ddd;
            padding: 20px;
        }
    }

    tfoot{
        background-color: #616161;
        tr{
            th{
                text-align: center;
                th,
                td{
                    text-align: left;
                    border-right: 1px solid #ddd;
                    padding: 20px;
                }
            }
        }
    }
}

.tableDefault thead th,
.tableDefault2 thead th,
.tableDefault thead + tbody td,
.tableDefault2 thead + tbody td{
    text-align: center;
}

.tableDefault2 th{
    background-color: #616161;
}

/* class */
.tbBr{
    border-right: 1px solid #ddd !important;
}

table .t_left{
    text-align: left !important;
    font-weight: 500 !important;
}
