html {
    font-size: 62.5%;
    *{font-family: 'base';}

}

@media screen and (max-width: 320px) {
    html {font-size: 50%;}
}
@media screen and (max-width: 360px) {
    html {font-size: 56.25%;}
}

html, 
body, 
div, 
span, 
iframe, 
h1, h2, h3, h4, h5, h6, p, pre, 
a, 
code, 
em, 
img, 
strong, b, u, i, 
dl, dt, dd, ol, ul, li, 
fieldset, 
form, 
label, 
legend, 
table, caption, tbody, tfoot, thead, tr, th, td, 
article, 
figure, figcaption, 
footer, 
header, 
section {
    margin: 0; 
    padding: 0; 
    border: 0;
    word-break: keep-all;
}

/* list */
ol, 
ul, 
li {
    list-style: none; 
    margin: 0; 
    padding: 0;
}

/* table */
table {
  width: 100%;
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
}

/* font */
body{
  color: #222;
  font-size: 16px;
  font-weight: normal;
}

a{
    color: #222; 
    text-decoration: none;
}

/* button */
button{
    background: transparent;
    outline: 0;
    border: 0;
    cursor: pointer;
}

/* hidden */
caption,
input[type=checkbox],
input[type=radio],
.ally-hidden{
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    color: transparent !important;
    overflow: hidden !important;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    margin: 0 !important;
    padding: 0 !important;
}

/* ============================= font ============================= */

@font-face {
	font-family: 'Base';
	font-weight: 900;
	font-display: swap;
	src: local('Pretendard Black'), url(../fonts/pretendard/Pretendard-Black.subset.woff2) format('woff2'), url(../fonts/pretendard/Pretendard-Black.subset.woff) format('woff');
}

@font-face {
	font-family: 'Base';
	font-weight: 800;
	font-display: swap;
	src: local('Pretendard ExtraBold'), url(../fonts/pretendard/Pretendard-ExtraBold.subset.woff2) format('woff2'), url(../fonts/pretendard/Pretendard-ExtraBold.subset.woff) format('woff');
}

@font-face {
	font-family: 'Base';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard Bold'), url(../fonts/pretendard/Pretendard-Bold.subset.woff2) format('woff2'), url(../fonts/pretendard/Pretendard-Bold.subset.woff) format('woff');
}

@font-face {
	font-family: 'Base';
	font-weight: 600;
	font-display: swap;
	src: local('Pretendard SemiBold'), url(../fonts/pretendard/Pretendard-SemiBold.subset.woff2) format('woff2'), url(../fonts/pretendard/Pretendard-SemiBold.subset.woff) format('woff');
}

@font-face {
	font-family: 'Base';
	font-weight: 500;
	font-display: swap;
	src: local('Pretendard Medium'), url(../fonts/pretendard/Pretendard-Medium.subset.woff2) format('woff2'), url(../fonts/pretendard/Pretendard-Medium.subset.woff) format('woff');
}

@font-face {
	font-family: 'Base';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'), url(../fonts/pretendard/Pretendard-Regular.subset.woff2) format('woff2'), url(../fonts/pretendard/Pretendard-Regular.subset.woff) format('woff');
}

@font-face {
	font-family: 'Base';
	font-weight: 300;
	font-display: swap;
	src: local('Pretendard Light'), url(../fonts/pretendard/Pretendard-Light.subset.woff2) format('woff2'), url(../fonts/pretendard/Pretendard-Light.subset.woff) format('woff');
}

@font-face {
	font-family: 'Base';
	font-weight: 200;
	font-display: swap;
	src: local('Pretendard ExtraLight'), url(../fonts/pretendard/Pretendard-ExtraLight.subset.woff2) format('woff2'), url(../fonts/pretendard/Pretendard-ExtraLight.subset.woff) format('woff');
}

@font-face {
	font-family: 'Base';
	font-weight: 100;
	font-display: swap;
	src: local('Pretendard Thin'), url(../fonts/pretendard/Pretendard-Thin.subset.woff2) format('woff2'), url(../fonts/pretendard/Pretendard-Thin.subset.woff) format('woff');
}

/* ============================= 공통 ============================= */
//제조상태
.data-state{
    font-size: .8vw;
    font-weight: 600;
    line-height: 1.2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3vw;
    &::before{
        content:'';
        display: block;
        width: 0.5vw;
        height: 0.5vw;
        border-radius: 50%;
    }

    // 각 상태별 스타일
    &[data-type="green"]{
        color: #1F9D00;
        &::before{background-color: #1F9D00;}
    }
    &[data-type="yellow"]{
        color: #ffc200;
        &::before{background-color: #ffc200;}
    }
    &[data-type="blue"]{
        color: #008fff;
        &::before{background-color: #008fff;}
    }
    &[data-type="red"]{
        color: #F10000;
        &::before{background-color: #F10000;}
    }
}

/* ============================= 개별 ============================= */
.wrapper{
    width: 100%;
    position: relative;
    box-sizing: border-box;
}
.header{
    width: calc(100% - 12.5vw);
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 9;
    &-wrap{
        height: 5rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    &-info{
        min-width: 26.5vw;
        height: 100%;
        padding: 1rem 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        &-wrap{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 1.3vw;
        }
        &-name{
            font-size: 1vw;
            font-weight: 600;
            color: #254667;
        }
        &-btn{
            min-height: 1.7vw;
            padding: 0 .8vw;
            font-size: .8vw;
            font-weight: 600;
            color: #254667;
            background-color: #E4EDF5;
            border-radius: .3vw;
        }
    }
    &-action{
        width: 100%;
        height: 100%;
        padding: 1rem 2rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1.6rem;
        background-color: #002943;
        &[data-type="action02"]{
            .header-action-item:last-child{width: fit-content;}
        }
        &-list{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #fff;
            gap: 1.6rem;
        }
        &-item{
            width: 100%;
            &[data-action="true"]{
                .header-action-name{
                    color: #85A0BA;
                    &[data-color="green"]{
                        padding: .5rem;
                        border: .1rem solid #1F9D00;
                        border-radius: .5rem;
                        & + .progress-container{background-color: #254667;   }
                    }
                }
                .progress-container{background-color: #85A0BA;}
            }
        }
        &-wrap{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: .8rem;
        }
        &-name{
            font-size: .8vw;
            font-weight: 600;
            color: #254667;
        }
        &-btn{
            min-height: 4rem;
            padding: 0 2rem;
            font-size: 2rem;
            font-weight: 500;
            color: #fff;
            border-radius: .8rem;
            background-color: #008fff;
            &[data-type="reserve"]{background-color: #ffc200;}
        }
    }
    .progress-container {
        width: 100%;
        min-width: 120px;
        background-color: #254667;
        border-radius: 25px;
        overflow: hidden;
    }
    
    .progress-bar {
        height: 2px;
        width: 0;
        background-color: #32ff00;
        border-radius: 25px 0 0 25px;
        transition: width 0.5s ease-in-out;
    }
}

.content{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    // display: grid;
    // grid-template-columns: 1fr 4fr;
}

// main left
.main{
    &-bar-wrap{
        width: 12.5vw;
        background-color: #EAF6FF;
        &::before{
            content: '';
            display: block;
            width: 100%;
            height: 22vw;
            background: url(../../camelotech/resource/img/img-mainbarbg.png) 0 0 no-repeat;
            background-size: 100% 22vw;
        }
    }
    &-logo{
        position: absolute;
        top: 3.6vw;
        left: 1.7vw;
        img{       
            width: 9.2vw;
            height: 1.1vw;
        }
    }
}
//main bar(설비 선택)
.main-facility{
    &-wrap{padding: 3vw 1vw 2vw;}
    &-title{
        font-size: 1vw;
        font-weight: 600;
        color: #00090F;
    }
    &-selection{}
}
//main bar(세팅버튼)
.main-setting{
    &-menu{
        display: flex;
        flex-direction: column;
        gap: 2vw;
        position: absolute;
        bottom: 2vw;
        left: 1vw;
    }
    &-list{
        display: flex;
        flex-direction: column;
        gap: .7vw;
    }
    &-item{
        font-size: .8vw;
        font-weight: 600;
        color: #254667;
        gap: 0.5vw;

        &[data-icon="report"]::before{background: url(../../camelotech/resource/img/ico-report.png) 0 0 no-repeat;}
        &[data-icon="settings"]::before{background: url(../../camelotech/resource/img/ico-settings.png) 0 0 no-repeat;}
        &[data-icon="power"]::before{background: url(../../camelotech/resource/img/ico-power.png) 0 0 no-repeat;}
        
        &[data-icon]{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            &::before{
                content: '';
                display: block;
                width: 1vw;
                height: 1vw;    
                background-size: 1vw;    
            }
        }
    }
    &-ver{
        font-size: .9vw;
        font-weight: 400;
        color: #4B5976;
    }
}

// main right
.content-body{
    width: calc(100% - 12.5vw);
    padding: 3.3vw 2.5vw 0;
    background-color: #F5FBFF;
    position: relative;
    box-sizing: border-box;
    .content-body-title{
        &[data-style="img"]{
            img{
                width: 7.9vw;
                height: 2.1vw;
            }
        }
        &[data-style="text"]{
            font-size: 2vw;
            font-weight: 600;
            line-height: 2.3vw;
            color: #000E16;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: .7vw;
            span{
                font-size: 1.2.5vw;
                font-weight: 300;
                line-height: 1.82vw;
                color: #000E16;
            }
        }
    }
}

//현재 날짜/시간
.date-wrap{
    display: flex;
    flex-direction: column;
    gap: .3vw;
    position: absolute;
    top: 3.3vw;
    right: 2.5vw;
    text-align: right;
    .today{
        font-size: 1vw;
        font-weight: 300;
        line-height: 1.2vw;
        color: #747474;
    }
    .time{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.3vw;
        font-weight: 500;
        line-height: 1.6vw;
        color: #747474;
        span{
            font-size: 1.3vw;
            font-weight: 300;
            line-height: 1.6vw;
            color: #747474;
        }
    }
}

// 제조 리스트
.manufacturing{
    &-wrap{
        width: 100%;
        margin-top: 11vw;
    }
    &-list{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 2vw;
        flex-wrap: wrap;
    }
    &-item{
        height: 21vw;
        box-sizing: border-box;
        &[data-style="temperature"]{
            min-width: 21vw;
            border: .1rem solid #E4EDF5;
            border-radius: .3vw;
            background-color: #EDF5FC;
            .temp-wrap{
                height: 100%;
                box-sizing: border-box;
                padding: 1.2vw;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                grid-gap: 2vw;
            }
            .temp-list{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: .3vw;
                position: relative;
                &:nth-of-type(1){
                    &::after{
                        content: '';
                        width: .1vw;
                        height: 100%;
                        background-color: #E4EDF5;
                        position: absolute;
                        bottom: -.1vw;
                        right: -.9vw;
                    }
                }
                &:nth-of-type(2){
                    &::after{
                        content: '';
                        width: 100%;
                        height: .1vw;
                        background-color: #E4EDF5;
                        position: absolute;
                        bottom: -.9vw;
                        left: -.1vw;
                    }
                }
                &:nth-of-type(3){
                    &::after{
                        content: '';
                        width: 100%;
                        height: .1vw;
                        background-color: #E4EDF5;
                        position: absolute;
                        top: -.1vw;
                        right: -.1vw;
                    }
                }
                &:nth-of-type(4){
                    &::after{
                        content: '';
                        width: .1vw;
                        height: 100%;
                        background-color: #E4EDF5;
                        position: absolute;
                        top: -.1vw;
                        left: -.1vw;
                    }
                }
            }
            .temp-item{
                font-size: 2.5vw;
                font-weight: 300;
                line-height: 3vw;
                color: #85A0BA;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: .1vw;

                &::before{
                    content: '';
                    display: block;
                    width: 2.5vw;
                    height: 2.5vw;
                }
                &[data-style="thermometer"]::before{
                    background: url(../../camelotech/resource/img/ico-thermometer.png) 0 0 no-repeat;
                    background-size: 2.5vw;
                }
                &[data-style="humid"]::before{
                    background: url(../../camelotech/resource/img/ico-humid.png) 0 0 no-repeat;
                    background-size: 2.5vw;
                }
                &[data-style="tanktemp"]::before{
                    background: url(../../camelotech/resource/img/ico-tanktemp.png) 0 0 no-repeat;
                    background-size: 2.5vw;
                }
                &[data-style="change"]::before{
                    background: url(../../camelotech/resource/img/ico-change.png) 0 0 no-repeat;
                    background-size: 2.5vw;
                }
            }
            .temp-item-txt{
                font-size: 1.2vw;
                font-weight: 600;
                line-height: 1.4vw;
                text-align: center;
                color: #85A0BA;
            }
            .temp-list-btn{
                min-height: 3.2vw;
                padding: 0 .1vw;
                margin-top: 1.3vw;
                font-size: .9vw;
                font-weight: 500;
                line-height: 1.32vw;
                color: #85A0BA;
                background-color: #fff;
                border-radius: .3vw;
            }
        }
    }
    &-btn{
        width: 18.3vw;
        min-width: 15vw;
        height: 100%;
        padding: 3vw;
        background-color: #fff;
        border: .1rem solid #E4EDF5;
        border-radius: .3vw;
        &:focus{border: .1rem solid #008FFF;}
    }
    &-content-tit{
        font-size: 2vw;
        font-weight: 500;
        line-height: 2vw;
        color: #00090F;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2vw;
        &[data-style="processing"]::before{
            background: url(../../camelotech/resource/img/img-processing.png) 0 0 no-repeat;
            background-size: 7vw 7vw;
        }
        &[data-style="flow"]::before{
            background: url(../../camelotech/resource/img/img-flow.png) 0 0 no-repeat;
            background-size: 7vw 7vw;
        }
        &[data-style="cartridge"]::before{
            background: url(../../camelotech/resource/img/img-cartridge.png) 0 0 no-repeat;
            background-size: 7vw 7vw;
        }
        &::before{
            content: '';
            display: block;
            width: 7vw;
            height: 7vw;
        }
        &::after{
            content: '';
            width: 100%;
            height: .1rem;
            background-color: #E4EDF5;
        }
    }
    &-content-txt{
        margin-top: 1vw;
        font-size: 1.2vw;
        font-weight: 600;
        line-height: 1.4vw;
        color: #747474;
    }
}

