@import 
'_reset.scss', 
'_typing.scss', 
'_typography.scss', 
'_table.scss', 
'_button.scss', 
'_list.scss', 
'_input.scss', 
'_study.scss', 
'_cursor.scss', 
'_grid.scss', 
'_accordion.scss', 
'_chart.scss', 
'_dropdown.scss', 
'_netflix.scss';

html {font-size: 62.5%;}

@media screen and (max-width: 320px) {
    html {font-size: 50%;}
}
@media screen and (max-width: 360px) {
    html {font-size: 56.25%;}
}

/* scroll */
body{
    &::-webkit-scrollbar {
        width: 10px;
    }
    &::-webkit-scrollbar-thumb {
        height: 30%;
        background-color: #452f55;
        border-radius: 10px;
    }
    &::-webkit-scrollbar-track {
        background-color: grey;
        border-radius: 10px;
        box-shadow: inset 0px 0px 5px white;
    }
}

/* class */
.content-center{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

/* ==================================== container ================================= */
.container{
    width: 100%;
    margin: 0 auto;
    background-color: #282726;
    overflow: auto;
    &::-webkit-scrollbar {
        display: none;
    }
}

/* .ui-content */
.ui-content{
    width: 1200px;
    margin: 0 auto;
    color: #fff;
    padding: 100px 0;
    .wrap{
        margin-top: 100px;
        &.noMargin{
            margin-top: 0;
        }
        &.flexWrap{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

/* ==================================== button.html ================================= */

/* button */
.btn,
.btnWhite{
    &.focus{
        box-shadow: 3px 3px 15px #3770ff76;
    }
}

.btnTxt{
    &.focus{
        border: 1px solid #3771ff;
        padding: 5px;
        border-radius: 0;
    }
}

.btn{
    &.hover{
        background: linear-gradient(#3061db, #2935b5);
    }
}

.btnWhite{
    &.hover{
        background-color: #3061db;
        border: 1px solid #3061db;
        color: #fff;
    }
}

.btnTxt{
    &.hover{
        color: #224396;
    }
}

.btn{
    &.active{
        background: linear-gradient(#3061db, #2935b5);
        box-shadow: none;
    }
}
.btnWhite{
    &.active{
        background-color: #3061db;
        border: 1px solid #3061db;
        color: #fff;
    }
}

.btnTxt{
    &.active{
        color: #224396;
    }
}

// pagination 간격
h3 + .ui-pagination,
.ui-pagination + .ui-pagination{
    margin-top: 50px;
}

/* ==================================== accessibility.html ================================= */
