@import '_reset.scss', '_typography.scss', '_table.scss', '_button.scss', '_list.scss', '_input.scss', '_study.scss', '_cursor.scss', '_grid.scss';

/* scroll */
body{
    &::-webkit-scrollbar {
        width: 10px;
    }
    &::-webkit-scrollbar-thumb {
        height: 30%;
        background-color: #452f55;
        border-radius: 10px;
    }
    &::-webkit-scrollbar-track {
        background-color: grey;
        border-radius: 10px;
        box-shadow: inset 0px 0px 5px white;
    }
}

/* class */
.content-center{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

/* ==================================== container ================================= */
.container{
    width: 100%;
    margin: 0 auto;
    background-color: #282726;
    overflow: auto;
    &::-webkit-scrollbar {
        display: none;
    }
    &.bgGray{
        background-color: #eee;
        .ui-content{
            color: #222;
        }
    }
    .main{
        width: 100%;
        height: 100vh;
        position: relative;
        overflow: hidden;
        p{
            color: #fff;
            font-size: 100px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }
    }
}

/* .ui-content */
.ui-content{
    width: 1200px;
    margin: 0 auto;
    color: #fff;
    padding: 100px 0;
}

/* ==================================== button.html ================================= */

/* button */
.btn,
.btnWhite{
    &.focus{
        box-shadow: 3px 3px 15px #3770ff76;
    }
}

.btnTxt{
    &.focus{
        border: 1px solid #3771ff;
        padding: 5px;
        border-radius: 0;
    }
}

.btn{
    &.hover{
        background: linear-gradient(#3061db, #2935b5);
    }
}

.btnWhite{
    &.hover{
        background-color: #3061db;
        border: 1px solid #3061db;
        color: #fff;
    }
}

.btnTxt{
    &.hover{
        color: #224396;
    }
}

.btn{
    &.active{
        background: linear-gradient(#3061db, #2935b5);
        box-shadow: none;
    }
}
.btnWhite{
    &.active{
        background-color: #3061db;
        border: 1px solid #3061db;
        color: #fff;
    }
}

.btnTxt{
    &.active{
        color: #224396;
    }
}

// pagination 간격
h3 + .ui-pagination,
.ui-pagination + .ui-pagination{
    margin-top: 50px;
}

/* ==================================== accessibility.html ================================= */
