@import 
'_media-query.scss',
'_reset.scss', 
'_typography.scss', 

'_typing.scss', 
'_button.scss', 
'_table.scss', 
'_list.scss', 
'_input.scss', 
'_study.scss', 
'_cursor.scss', 
'_grid.scss', 
'_accordion.scss', 
'_chart.scss', 
'_dropdown.scss', 
'_netflix.scss';

html {font-size: 62.5%;}

@media screen and (max-width: 320px) {
    html {font-size: 50%;}
}
@media screen and (max-width: 360px) {
    html {font-size: 56.25%;}
}

/* scroll */
body{
    &::-webkit-scrollbar {
        width: 10px;
    }
    &::-webkit-scrollbar-thumb {
        height: 30%;
        background-color: #452f55;
        border-radius: 10px;
    }
    &::-webkit-scrollbar-track {
        background-color: grey;
        border-radius: 10px;
        box-shadow: inset 0px 0px 5px white;
    }
}

/* class */
.content-center{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

/* ==================================== container ================================= */
.container{
    width: 100%;
    margin: 0 auto;
    background-color: #282726;
    overflow: auto;
    &::-webkit-scrollbar {display: none;}
}

/* .ui-content */
.ui-content{
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
    color: #fff;
    padding: 10rem 4rem;
    position: relative;
    box-sizing: border-box;
    .wrap{
        margin-top: 10rem;
        &.noMargin{margin-top: 0;}
        &.flexWrap{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

/* ==================================== button.html ================================= */

/* button */
.btn{
    &-default{
        min-height: 5rem;
        padding: 0 1rem;
        text-align: center;
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        z-index: 0;
        box-sizing: border-box;

        &[data-type="disabled"]{
            color: #000;
            background-color: #eee;
            box-shadow: none;
            cursor: default;
            opacity: .3;
            &:hover{background-color: #eee;}
            &:focus{
                box-shadow: none;
                border: 0;
                padding: 0;
            }
        }
    }
    &-txt{
        width: auto;
        height: auto;
        line-height: 1;
        padding: 0;
        background: transparent;
        text-decoration: underline;
        box-sizing: border-box;
    }
}

// pagination 간격
h3 + .pagination-wrap,
.pagination-wrap + .pagination-wrap{margin-top: 5rem;}

/* ==================================== accessibility.html ================================= */
