@import 
'_media-query.scss',
'_reset.scss', 
'_typography.scss', 

'_home.scss', 
'_typing.scss', 
'_button.scss', 
'_table.scss', 
'_list.scss', 
'_input.scss', 
'_study.scss', 
'_slide.scss', 
'_cursor.scss', 
'_grid.scss', 
'_hover.scss', 
'_accordion.scss', 
'_chart.scss', 
'_dropdown.scss', 
'_netflix.scss';

html {
    font-size: 62.5%;
    font-family: 'base';
}

// @media screen and (max-width: 320px) {
//     html {font-size: 50%;}
// }
// @media screen and (max-width: 360px) {
//     html {font-size: 56.25%;}
// }
@media screen and (max-width: 374px) {
    html {font-size: 2vw;}
    html * {font-size: 4vw;}
    .container .ui-content{padding: 5vw;}
}

/* scroll */
body{
    &::-webkit-scrollbar {
        width: 10px;
    }
    &::-webkit-scrollbar-thumb {
        height: 30%;
        background-color: #452f55;
        border-radius: 10px;
    }
    &::-webkit-scrollbar-track {
        background-color: grey;
        border-radius: 10px;
        box-shadow: inset 0px 0px 5px white;
    }
}

/* class */
.content-center{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

/* ==================================== container ================================= */
.container{
    width: 100%;
    margin: 0 auto;
    background-color: #282726;
    overflow: auto;
    &::-webkit-scrollbar {display: none;}

    &[data-bg="red"]{
        .typingArea{
            background-color:#650911;
            .typingBox{color:#fff;}
        }
    }
    &[data-bg="orange"]{
        .typingArea{
            background-color:#BC5542; 
            .typingBox{
                color:#F6F0E4;
                text-shadow: .1rem .5rem 1rem #474747;
            }
        }
    }
}

/* .ui-content */
.ui-content{
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
    color: #fff;
    padding: 10rem 4rem;
    position: relative;
    box-sizing: border-box;
    .wrap{
        margin-top: 10rem;
        &.noMargin{margin-top: 0;}
        &.flexWrap{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

/* ==================================== button.html ================================= */

/* button */
.btn{
    &-default{
        min-height: 5rem;
        padding: 0 1rem;
        text-align: center;
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        z-index: 0;
        box-sizing: border-box;

        &[data-type="disabled"]{
            color: #000;
            background-color: #eee;
            box-shadow: none;
            cursor: default;
            opacity: .3;
            &:hover{background-color: #eee;}
            &:focus{
                box-shadow: none;
                border: 0;
                padding: 0;
            }
        }
    }
    &-txt{
        width: auto;
        height: auto;
        line-height: 1;
        padding: 0;
        background: transparent;
        text-decoration: underline;
        box-sizing: border-box;
    }
}

// pagination 간격
h3 + .pagination-wrap,
.pagination-wrap + .pagination-wrap{margin-top: 5rem;}

/* ==================================== box ================================= */
.box{
    &-wrap{
        width: 100%;
        margin: 0 auto;
        padding: 4.8rem 2.4rem 2.4rem 2.4rem;
        background-color: #fff;
        box-sizing: border-box;
    }
    &-title{
        &-wrap{
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }
        &-tit{
            line-height: 1.5;
            color: #000;
            font: {
                size: 3rem;
                weight: 700;
            }
            
            span{
                font: {
                    size: 3rem;
                    weight: 500;
                }
            }
        }
        &-txt{
            margin-top: 0;
            line-height: 1.5;
            color: #666;
            font: {
                size: 1.6rem;
                weight: 500;
            }
        }
    }
}

/* ==================================== Tab ================================= */
.ui-tab{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .8rem;
    &-item{
        min-width: 7.6rem;
        height: 3.4rem;
        padding: 0 1.2rem;
        font-size: 1.5rem;
        font-weight: 300;
        background-color: #fff;
        border-radius: 3rem;
        border: .1rem solid #ccc;
        &[aria-selected="true"]{
            color: #fff;
            border: .1rem solid #000;
            background-color: #000;
        }
        span{
            font-size: 1.4rem;
            font-weight: 700;
            word-break: keep-all;
        }
    }
}