@import '_reset.scss';
body{
    background-color: #000;
}
/* ==================================== menu ================================= */
header{
    &.blackStyle{
        .wrap{
            .menu{
                .ui-nav{
                    &::before{
                        background: url(../img/ico_menu_black.png) 0 0 no-repeat;
                    }
                    &.open{
                        &::before{
                            background: url(../img/ico_menu_black.png) -36px 0 no-repeat;
                        }
                    }
                }
                .ui-menuContent{
                    li{
                        background-color: #222;
                        a{
                            color: #fff;
                            &:hover{
                                background-color: #333;
                            }
                            &:focus{
                                background-color: rgb(12, 12, 12);      
                            }
                        }
                    }
                }
            }
        }
    }
}
.menu{
    position: relative;
    z-index: 9999;
    .ui-nav{
        width: 30px;
        height: 30px;
        padding: 0;
        position: absolute;
        top: 0;
        left: 0;
        transition: .5s;
        overflow: hidden;
        &::before{
            content: '';
            width: 50px;
            height: 30px;
            background: url(../img/ico_menu_white.png) 0 0 no-repeat;
            background-size: 100% 100%;
            display: block;
        }
        &.open{
            left: 30%;
            transition: .5s;
            &::before{
                background: url(../img/ico_menu_white.png) -36px 0 no-repeat;
            }
        }
    }
    .ui-menuContent{
        width: 30%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: -30%;
        transition: .5s;
        overflow-x: hidden;
        overflow-y: auto;
        &::-webkit-scrollbar {
            display: none;
        }
        li{
            width: 100%;
            background-color: #452f55;
            border-bottom: 1px solid #fff;
            box-sizing: border-box;
            &:last-child{
                border-bottom: 0;
            }
            a{
                display: inline-block;
                width: 100%;
                padding: 25px;
                color:#fff;
                box-sizing: border-box;
                font: {
                    size: 1rem;
                    weight: 500;
                }
                &:hover{
                    background-color: rgba(255, 255, 255, 0.195);
                }
                &:focus{
                    background-color: #3a2645;      
                }
            }
        }
        &.open{
            left: 0;
            transition: .5s;
        }
    }
}
