@import '_media-query.scss', '_reset.scss';

/* ==================================== menu ================================= */
header{
    // &.blackStyle{
    //     .ui-menu-nav{
    //         &::before{background: url(../img/ico_menu_black.png) 0 0 no-repeat;}
    //         &.open::before{background: url(../img/ico_menu_black.png) -3.6rem 0 no-repeat;}
    //     }
    //     .ui-menu-item{
    //         background-color: #222;
    //         border-bottom: .1rem solid #fff;
    //         a{
    //             color: #fff;
    //             &:hover{background-color: #333;}
    //             &:focus{background-color: rgb(12, 12, 12);}
    //         }
    //     }
    // }
}
.ui-menu{
    position: relative;
    z-index: 9999;
    &-nav{
        width: 3rem;
        height: 3rem;
        padding: 0;
        position: fixed;
        top: 0;
        left: 0;
        transition: .5s;
        overflow: hidden;
        &::before{
            content: '';
            width: 5rem;
            height: 3rem;
            background: url(../img/ico_menu_white.png) 0 0 no-repeat;
            background-size: 100% 100%;
            display: block;
        }
        &.open{
            left: 30%;
            transition: .5s;
            &::before{background: url(../img/ico_menu_white.png) -36px 0 no-repeat;}
        }
    }
    &-list{
        width: 30%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: -30%;
        transition: .5s;
        overflow-x: hidden;
        overflow-y: auto;
        &::-webkit-scrollbar {display: none;}
        &.open{
            left: 0;
            transition: .5s;
        }
    }
    &-item{
        width: 100%;
        background-color: #BFBEBC;
        border-bottom: .1rem solid #fff;
        box-sizing: border-box;
        opacity: .9;
        &:last-child{border-bottom: 0;}
        a{
            display: inline-block;
            width: 100%;
            padding: 2.5rem;
            color:#fff;
            box-sizing: border-box;
            font: {
                size: 1rem;
                weight: 500;
            }
            &:hover{background-color: rgba(255, 255, 255, 0.195);}
            &:focus{
                background-color: #222;    
                color: #fff;  
            }
        }
    }
}
@include small{
    // header{
    //     &.blackStyle{
    //         .ui-menu-nav{
    //             &.open{
    //                 background-color: #fff;
    //                 &::before{background: url(../img/ico_menu_black.png) -3rem 0 no-repeat;}
    //             }
    //         }
    //     }
    // }
    .ui-menu-nav{
        &.open{
            background-color: #000;
            border-radius: 50%;
            left: 90%;
            margin-top: 2%;
            z-index: 999;
            &::before{background: url(../img/ico_menu_white.png) -3rem 0 no-repeat;}
        }
    }
    .ui-menu-list{
        &.open{width: 100%;}
    }
}
@include mobile{
    // header{
    //     &.blackStyle{
    //         .ui-menu-nav{
    //             &.open{
    //                 background-color: #fff;
    //                 &::before{background: url(../img/ico_menu_black.png) -3rem 0 no-repeat;}
    //             }
    //         }
    //     }
    // }
    .ui-menu-nav{
        &.open{
            background-color: #000;
            border-radius: 50%;
            left: 90%;
            margin-top: 2%;
            z-index: 999;
            &::before{background: url(../img/ico_menu_white.png) -3rem 0 no-repeat;}
        }
    }
    .ui-menu-list{
        &.open{width: 100%;}
    }
}
@include tablet {
    .ui-menu-list{
        width: 50%;
        left: -50%;
    }
    .ui-menu-nav{
        &.open{left: 50%;}
    }
}