@import '_media-query.scss', '_reset.scss';

/* ==================================== menu ================================= */
header{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9;
}
.ui-menu{
    position: relative;
    background-color: #BFBEBC;
    &-list{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        padding: 2rem;
        overflow-x: hidden;
        overflow-y: auto;
        &::-webkit-scrollbar {display: none;}
    }
    &-item{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        box-sizing: border-box;
        opacity: .9;
        &::after{
            content: '|';
            color: #222;
        }
        &:last-child{
            border-bottom: 0;
            &::after{display: none;}
        }
        a{
            display: flex;
            align-items: center;
            color:#fff;
            box-sizing: border-box;
            font: {
                size: 1.5rem;
                weight: 500;
            }
            &:hover{background-color: rgba(255, 255, 255, 0.195);}
            &:focus{
                background-color: #222;    
                color: #fff;  
            }
        }
    }
}