@import '_reset.scss';
body{
    background-color: #000;
}
/* ==================================== menu ================================= */
header{
    &.blackStyle{
        .menu{
            .ui-nav{
                &::before{
                    background: url(../img/ico_menu_black.png) 0 0 no-repeat;
                }
                &.open{
                    &::before{
                        background: url(../img/ico_menu_black.png) -36px 0 no-repeat;
                    }
                }
            }
            .ui-menuContent{
                li{
                    background-color: #222;
                    a{
                        color: #fff;
                        &:hover{
                            background-color: #333;
                        }
                        &:focus{
                            background-color: rgb(12, 12, 12);      
                        }
                    }
                }
            }
        }
    }
}
.menu{
    position: relative;
    z-index: 9999;
    .ui-nav{
        width: 30px;
        height: 30px;
        padding: 0;
        position: fixed;
        top: 0;
        left: 0;
        transition: .5s;
        overflow: hidden;
        &::before{
            content: '';
            width: 50px;
            height: 30px;
            background: url(../img/ico_menu_white.png) 0 0 no-repeat;
            background-size: 100% 100%;
            display: block;
        }
        &.open{
            left: 50%;
            transition: .5s;
            &::before{
                background: url(../img/ico_menu_white.png) -36px 0 no-repeat;
            }
        }
    }
    .ui-menuContent{
        width: 50%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: -50%;
        transition: .5s;
        overflow-x: hidden;
        overflow-y: auto;
        &::-webkit-scrollbar {
            display: none;
        }
        li{
            width: 100%;
            background-color: #452f55;
            border-bottom: 1px solid #fff;
            box-sizing: border-box;
            &:last-child{
                border-bottom: 0;
            }
            a{
                display: inline-block;
                width: 100%;
                padding: 25px;
                color:#fff;
                box-sizing: border-box;
                font: {
                    size: 1rem;
                    weight: 500;
                }
                &:hover{
                    background-color: rgba(255, 255, 255, 0.195);
                }
                &:focus{
                    background-color: #3a2645;      
                }
            }
        }
        &.open{
            left: 0;
            transition: .5s;
        }
    }
}

@media all and (max-width:758px) {
    header{
        &.blackStyle{
            .menu{
                .ui-nav{
                    &.open{
                        background-color: #fff;
                        &::before{
                            background: url(../img/ico_menu_black.png) -30px 0 no-repeat;
                        }
                    }
                }
            }
        }
    }
    .menu{
        .ui-nav{
            &.open{
                background-color: #000;
                border-radius: 50%;
                left: 90%;
                margin-top: 2%;
                z-index: 999;
                &::before{
                    background: url(../img/ico_menu_white.png) -30px 0 no-repeat;
                }
            }
        }
    }
    .ui-menuContent{
        &.open{
            width: 100%;
        }
    }
}
