@import '_media-query.scss', '_reset.scss';

/* ==================================== menu ================================= */
html {font-size: 62.5%;}
.ui-menu{
    position: relative;
    z-index: 9999;
    &-btn{
        width: 2rem;
        height: 3rem;
        padding: 0;
        position: fixed;
        top: 1.6rem;
        left: 0;
        transition: .5s;
        overflow: hidden;
        z-index: 99;
        &::before{
            content: '';
            display: block;
            width: 3rem;
            height: 3rem;
            background-image: url(../img/ico_menu_white.png);
            background-size: 5rem 3rem;
            background-repeat: no-repeat;
            position: relative;
            z-index: 99;
        }
        &.open{
            left: calc(100% - 2.5rem);
            transition: .5s;
            &::before{
                background-position: -2.7rem 0;
            }
        }
    }
    &-list{
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: -100%;
        transition: .5s;
        overflow-x: hidden;
        overflow-y: auto;
        &::-webkit-scrollbar {display: none;}
        &.open{
            left: 0;
            transition: .5s;
        }
    }
    &-item{
        width: 100%;
        background-color: #BFBEBC;
        border-bottom: .1rem solid #fff;
        box-sizing: border-box;
        opacity: .9;
        &:last-child{border-bottom: 0;}
        a{
            display: inline-block;
            width: 100%;
            padding: 2.5rem;
            color:#fff;
            box-sizing: border-box;
            font: {
                size: 1rem;
                weight: 500;
            }
            &:hover{background-color: rgba(255, 255, 255, 0.195);}
            &:focus{
                background-color: #222;    
                color: #fff;  
            }
        }
    }
}
// @include small{
//     .ui-menu-btn{
//         &.open{
//             background-color: #000;
//             border-radius: 50%;
//             left: 90%;
//             margin-top: 2%;
//             z-index: 999;
//             &::before{background: url(../img/ico_menu_white.png) -3rem 0 no-repeat;}
//         }
//     }
//     .ui-menu-list{
//         &.open{width: 100%;}
//     }
// }
// @include mobile{
//     .ui-menu-btn{
//         &.open{
//             background-color: #000;
//             border-radius: 50%;
//             left: 90%;
//             margin-top: 2%;
//             z-index: 999;
//             &::before{background: url(../img/ico_menu_white.png) -3rem 0 no-repeat;}
//         }
//     }
//     .ui-menu-list{
//         &.open{width: 100%;}
//     }
// }
// @include tablet {
//     .ui-menu-list{
//         width: 100%;
//         left: -100%;
//     }
//     .ui-menu-btn{
//         &.open{left: 50%;}
//     }
// }