@import '_media-query.scss', '_reset.scss';

/* ==================================== menu ================================= */
header{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9;
}
.ui-menu{
    width: 100%;
    position: relative;
    background-color: #222;
    z-index: 99;
    &-list{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        padding: 2rem;
        overflow-x: auto;
        overflow-y: hidden;
        box-sizing: border-box;
        &::-webkit-scrollbar {display: none;}
    }
    &-item{
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        opacity: .9;
        &:last-child{
            border-bottom: 0;
            a::after{display: none;}
        }
        a{
            display: flex;
            align-items: center;
            color:#BFBEBC;
            box-sizing: border-box;
            font: {
                size: 1.5rem;
                weight: 500;
            }
            &:hover{background-color: rgba(255, 255, 255, 0.195);}
            &:focus{
                background-color: #222;    
                color: #fff;  
            }
            &::after{
                content: '|';
                color: #BFBEBC;
                margin-left: 2rem;
            }
        }
    }
}

@media (min-width: 0px) and (max-width: 600px){
    header{
        position: relative;
    }
    .ui-menu{background-color: #222;}
    .ui-menu-list{
        flex-direction: column;
        padding: 0;
        gap: 0;
    }
    .ui-menu-item{
        width: 100%;
        border-bottom: .1rem solid #BFBEBC;
        a{
            display: inline-block;
            width: 100%;
            padding: 1rem 0;
            text-align: center;
            &::after{display: none;}
        }
        &:hover{filter: blur(1px);}
    }
}