@charset 'utf-8';
@import "media-query", "reset", 'typography';

html {font-size: 62.5%;}

/* ======================= 타이핑 ======================= */
.home{
    * {font-size: 8vw;}
    width: 100%;
    height: 100dvh;
    margin: 0 auto;
    background-color: #282726;
    overflow: auto;
    &::-webkit-scrollbar {display: none;}

    &[data-bg="red"]{
        .typingArea{
            background-color:#650911;
            .typingBox{color:#fff;}
        }
    }
    &[data-bg="orange"]{
        .typingArea{
            background-color:#BC5542; 
            .typingBox{
                color:#F6F0E4;
                text-shadow: .1rem .5rem 1rem #474747;
            }
        }
    }
    &[data-bg="beige"]{
        .typingArea{
            background-color:#dedbd1; 
            .typingBox{
                color:#222;
                text-shadow: .1rem .5rem 1rem #474747;
            }
        }
    }
}
.typingArea {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    padding: 0;
    position: relative;
    &::after{
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      opacity: 0.1;
      background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/662025/grain.jpg') repeat center center;
      -webkit-animation: grain 0.5s steps(1) infinite;
      animation: grain 0.5s steps(1) infinite;
    }
    .typingBox {
      width: 100%;
      margin: 0 auto;
      position: absolute;
      top: 50%;
      left:50%;
      transform:translate(-50%,-50%);
      z-index: 9;
      font-size: 10rem;
      font-weight: bolder;
      text-shadow: 1rem 1rem .1rem #000;
      text-align:center;
      .typing-txt {
        display: none;
        ul{
          li{
            &.on{
              display: inline-block;
              animation-name: cursor;
              animation-duration: 0.3s;
              animation-iteration-count: infinite;
              font-size: 1rem;
            }
          }
        }
    }
  }
}

@keyframes cursor {
    0% {border-right: .1rem solid #fff}

    50% {border-right: .1rem solid #000}

    100% {border-right: .1rem solid #fff}
}

@media (min-width: 0px) and (max-width: 375px) {
  .typingArea {
    .typingBox {font-size: 5rem;}
  }
}

@media (min-width: 376px) and (max-width: 650px) {
  .typingArea {
    .typingBox {font-size: 6rem;}
  }
}

/* ======================= 포폴 ======================= */
.container{
    width: 100%;
    position: sticky;
    top: 0;
    
    .wrap{
        width: 100%;
        height: 100vh;
        overflow: hidden;
        display: flex;
        justify-content: flex-start;
        gap: 4.8rem;
        padding: 0 4rem;
        position: sticky;
        top: 0;
        box-sizing: border-box;
        background-color: #dedbd1;
        &.square{
            margin: 0 auto;
            background-color: #333;
        }
    }
}

.pf{
    &-img-wrap{
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 53rem;
            height: 72rem;
            border-radius: 4rem;
        }
    }
    &-txt{
        width: 100%;
        &::before{
            content: '';
            display: block;
            width: .2rem;
            height: 108%;
            margin: -2rem 0;
            background-color: #000;
            position: absolute;
            left: 59.4rem;
        }
        h2{font-size: 12rem;}
        .sub-txt{
            position: absolute;
            bottom: 5rem;
            color: #6f6e74;
            strong{
                font-size: 5rem;
                line-height: 1.1;
            }
            p{
                font: {
                    size: 1.5rem;
                    weight: 300;
                };
            }
        }
        &-em{
            position: absolute;
            bottom: 2rem;
            right: 4rem;
            font-size: 1.3rem;
        }
    }
}

//ani - border
.square{
    //더블보더ani
    &-wrap{
        width: 40rem;
        height: 40rem;
        margin: 0 auto;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        &:hover{
            cursor: pointer;
            .square-item{
                background-color: crimson;
                &:nth-child(1){opacity: 0.3;}
                &:nth-child(2){opacity: 0.5;}
                &:nth-child(3){opacity: 0.8;}
            }
        }
        &:nth-child(2):hover .square-item{background-color: dodgerblue;}
        &:nth-child(3):hover .square-item{background-color: yellowgreen;}
    }
    &-item{
        position: absolute;
        width: inherit;
        height: inherit;
        border: .1rem solid #fff;
        border-radius: 45% 60% 65% 35% / 40% 45% 55% 60%;
        transition: .5s;
        &:nth-child(1){animation: circle 6s linear infinite;}
        &:nth-child(2){
            animation: circle 4s linear infinite;
            animation-direction: reverse;
        }
        &:nth-child(3){animation: circle 10s linear infinite;}
    }
    &-content{
        width: 70%;
        text-align: left;
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        &.skill{text-align: center;}
        &-tit{
            text-align: center;
            color: #dedbd1;
            font: {
                size: 4rem;
                weight: 700;
            };
        }
        &-btn{
            color: #fff;
            border: .1rem solid #fff;
            border-radius: 45% 60% 65% 35% / 40% 45% 55% 60%;
            padding: .9rem;
            display: block;
            width: fit-content;
            margin: 1.2rem auto 0;
        }
    }

    @keyframes circle{
        0%{transform: rotate(0);}
        100%{transform: rotate(360deg);}
    }
}

.career{
    // background-image: url(../img/main03.png);
    // background-size: 100% 183%;
    // background-position: 0rem -70rem;
    // background-repeat: no-repeat;
    &::after{
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.1;
        background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/662025/grain.jpg') repeat center center;
        -webkit-animation: grain 0.5s steps(1) infinite;
        animation: grain 0.5s steps(1) infinite;
      }
    .pf-txt{
        display: flex;
        justify-content: flex-end;
        text-align: right;
        &::before{display: none;}
        .sub-txt{color: #222;}
    }
    .pf-txt-em{color: #222;}
}

//로딩ani
.loading{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .9);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    .loading-wrap{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        span{
            display: inline-block;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            animation: loading 1s linear infinite;
            margin-right: 6px;
            background-color: #fff;
            &:nth-of-type(2){
                animation-delay: 0.2s;
            }
            &.squareBox{
                animation-delay: 0.4s;
                margin-right: 0;
            }
        }
    }
}
@keyframes loading{
    0%, 100%{
        opacity: 0;
        transform: scale(0.5);
    }
    50%{
        opacity: 1;
        transform: scale(1.2);
    }
}

@include tablet {
    .container .wrap{position: relative;}
    .pf{
        &-img-wrap{margin-left: 8rem;}
        &-txt{
            &::before{display: none;}
            h2{
                position: absolute;
                right: 2rem;
            }
            .sub-txt{
                position: absolute;
                right: 4rem;
                bottom: 15rem;
                text-align: right;
            }
        }
    }
    .container .square{
        height: auto;
        flex-wrap: wrap;
        padding: 6rem 0 9rem;
        &-wrap{
            top: 0;
            transform: translateY(0);
        }
        &-item{
            top: 0;
            transform: translateY(0);
            padding: 1rem;
            &:last-child{margin-bottom: 0;}
        }
    }
    .career{
        background-position: 0rem -68rem;
    }
}
@include mobile {
    .container .wrap{
        height: auto;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        padding: 4rem;
    }
    .pf{
        &-img-wrap img{
            width: 50vw;
            height: 62vw;
        }
        &-txt{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1.6rem;
            text-align: center;
            &::before{display: none;}
            h2{font-size: 6rem;}
            .sub-txt{
                position: relative;
                bottom: 0;
            }
            .pf-txt-em{
                position: relative;
                bottom: 0;
                right: 0;
            }
        }

    }
    .container .square{
        &-wrap{
            top: 0;
            transform: translateY(0);
            margin-bottom: 3rem;
            &:last-child{margin-bottom: 0;}
        }
        &-content p{
            text-align: center;
            font-size: 1.6rem;
        }
    }
    .career{
        background-position: 0rem -35rem;
        .pf-txt{
            justify-content: center;
            text-align: center;
        }
    }
}
@include small {
    .container .wrap{
        height: auto;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        padding: 2rem;
    }
    .pf{
        &-img-wrap img{
            width: 100%;
            height: 140vw;
        }
        &-txt{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1.6rem;
            text-align: center;
            &::before{display: none;}
            h2{font-size: 15vw;}
            .sub-txt{
                position: relative;
                bottom: 0;
                strong{font-size: 8vw;}
            }
            .pf-txt-em{
                font-size: 1.3rem;
                position: relative;
                bottom: 0;
                right: 0;
            }
        }

    }
    .container .square{
        &-wrap{
            width: 100%;
            height: auto;
            top: 0;
            transform: translateY(0);
            margin-bottom: 3rem;
            &:last-child{margin-bottom: 0;}
        }
        &-item{
            display: none;
        }
        &-content{
            width: 100%;
            position: relative;
            top: 0;
            left: 0;
            transform: translate(0, 0);
            text-align: center;
        }
        .square-content p{
            text-align: center;
            font-size: 1.6rem;
        }
        .container .wrap.career{
            background-size: 225% 183%;
            background-position: -13rem 0;
        }
    }
    .career{
        background-size: 100% 130%;
        background-position: 0rem -15rem;
        .pf-txt{
            justify-content: center;
            text-align: center;
        }
    }
}
