@charset 'utf-8';
@import "reset";
@import "media-query";
@import 'typography';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;0,600;0,700;1,500;1,600;1,700&display=swap');
*{font-family: 'Playfair Display', serif;}

.container{
    position: sticky;
    top: 0;
    //로딩ani
    .loading{
        width: 100%;
        height: 100vh;
        overflow: hidden;
        background-color: rgba(0, 0, 0, .9);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 999;
        .loading-wrap{
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            span{
                display: inline-block;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                animation: loading 1s linear infinite;
                margin-right: 6px;
                background-color: #fff;
                &:nth-of-type(2){
                    animation-delay: 0.2s;
                }
                &.squareBox{
                    animation-delay: 0.4s;
                    margin-right: 0;
                }
            }
        }
    }
    @keyframes loading{
        0%, 100%{
            opacity: 0;
            transform: scale(0.5);
        }
        50%{
            opacity: 1;
            transform: scale(1.2);
        }
    }
    .wrap{
        width: 100%;
        height: 100vh;
        overflow: hidden;
        display: flex;
        padding: 2rem;
        position: sticky;
        top: 0;
        box-sizing: border-box;
        background-color: #dedbd1;
        &.squareBox{
            margin: 0 auto;
            background-color: #333;
            //더블보더ani
            .square{
                width: 25rem;
                height: 25rem;
                margin: 0 auto;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                span{
                    position: absolute;
                    width: inherit;
                    height: inherit;
                    border: 1px solid #fff;
                    border-radius: 45% 60% 65% 35% / 40% 45% 55% 60%;
                    transition: .5s;
                    &:nth-child(1){
                        animation: circle 6s linear infinite;
                    }
                    &:nth-child(2){
                        animation: circle 4s linear infinite;
                        animation-direction: reverse;
                    }
                    &:nth-child(3){
                        animation: circle 10s linear infinite;
                    }
                }
                &:hover{
                    cursor: pointer;
                    span{
                        background-color: crimson;
                        &:nth-child(1){
                            opacity: 0.3;
                        }
                        &:nth-child(2){
                            opacity: 0.5;
                        }
                        &:nth-child(3){
                            opacity: 0.8;
                        }
                    }
                }
                &:nth-child(2):hover{
                    span{
                        background-color: dodgerblue;
                    }
                }
                &:nth-child(3):hover{
                    span{
                        background-color: yellowgreen;
                    }
                }
                >div{
                    width: 70%;
                    text-align: left;
                    color: #fff;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    >h2{
                        padding-bottom: 1rem;
                        text-align: center;
                        font: {
                            size: 2rem;
                            weight: 600;
                        };
                    }
                    >p{
                        line-height: 1.5rem;
                        font: {
                            size: .8rem;
                        };
                    }
                    >a{
                        color: #fff;
                        border: 1px solid #fff;
                        border-radius: 45% 60% 65% 35% / 40% 45% 55% 60%;
                        padding: 9px;
                        display: block;
                        width: fit-content;
                        margin: 1.2rem auto 0;
                    }
                    &.skill{
                        text-align: center;
                    }
                }
            }

            @keyframes circle{
                0%{
                    transform: rotate(0);
                }
                100%{
                    transform: rotate(360deg);
                }
            }
        }
        .pf-img-wrap{
            width: auto;
            height: 100%;
            margin-right: 2rem;
            img{
                width: 100%;
                height: 100%;
            }
        }
        >span{
            width: 2px;
            height: 108%;
            margin: -2rem 0;
            background-color: #000;
        }
        .pf_txt{
            margin-left: 2rem;
            h2{
                font-size: 8rem;
            }
            .sub-txt{
                position: absolute;
                bottom: 5rem;
                font-size: 1rem;
                color: #6f6e74;
                line-height: 1.5rem;
                strong{
                    display: block;
                    padding-bottom: 1rem;
                    font-size: 2rem;
                }
            }
        }
        em{
            position: absolute;
            bottom: 2rem;
            right: 2rem;
            font-size: 1rem;
        }
    }
}

@include small {
    .container{
        position: relative;
        .wrap{
            height: auto;
            display: block;
            position: relative;
            padding: 0;
            &.squareBox{
                display: block;
                height: auto;
                padding: 2rem 0;
                //더블보더ani
                .square{
                    width: 100%;
                    height: 400px;
                    top: 0;
                    transform: translateY(0);
                    margin-top: 50px;
                    &:last-child{
                        margin-bottom: 50px;
                    }
                    &:hover{
                        span{
                            background-color: transparent;
                        }
                    }
                    &:nth-child(2):hover{
                        span{
                            background-color: transparent;
                        }
                    }
                    &:nth-child(3):hover{
                        span{
                            background-color: transparent;
                        }
                    }
                    >div{
                        >h2{
                            font: {
                                size: 1.5rem;
                            };
                        }
                        >p{
                            line-height: 1.5rem;
                            font: {
                                size: .8rem;
                            };
                        }
                        >a{
                            padding: 9px;
                            margin: 1.2rem auto 0;
                        }
                    }
                }
            }
            &:last-child{
                .pf_txt{
                    .sub-txt{
                        font-size: .8rem;
                        padding: 0 1rem;
                    }
                }
            }
            .pf-img-wrap{
                width: 100%;
                height: auto;
                margin: 0 auto;
                margin-bottom: 2rem;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            >span{
                display: none;
            }
            .pf_txt{
                width: 100%;
                margin-left: 0;
                text-align: center;
                margin-bottom: 5rem;
                h2{
                    font-size: 1rem;
                    margin-bottom: 2rem;
                }
                .sub-txt{
                    position: relative;
                    bottom: 0;
                    strong{
                        font-size: 1.5rem;
                    }
                }
            }
            em{
                right: 3rem;
                font-size: .7rem;
            }
        }
    }
  }

@include mobile {
    .container{
        position: relative;
        .wrap{
            height: auto;
            display: block;
            position: relative;
            padding: 3rem;
            &.squareBox{
                flex-wrap: wrap;
                //더블보더ani
                .square{
                    width: 80%;
                    height: 400px;
                    top: 0;
                    transform: translateY(0);
                    margin-bottom: 3rem;
                    &:last-child{
                        margin-bottom: 0;
                    }
                    span{
                        left: 9%;
                    }
                    >div{
                        >h2{
                            font: {
                                size: 1.5rem;
                            };
                        }
                        >p{
                            line-height: 1.2rem;
                            font: {
                                size: .7rem;
                            };
                        }
                        >a{
                            padding: 9px;
                            margin: 1.2rem auto 0;
                        }
                    }
                }
            }
            &:last-child{
                .pf_txt{
                    .sub-txt{
                        font-size: .5rem;
                    }
                }
            }
            .pf-img-wrap{
                width: 25rem;
                height: 30rem;
                margin: 0 auto;
                margin-bottom: 2rem;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            >span{
                display: none;
            }
            .pf_txt{
                width: 100%;
                margin-left: 0;
                text-align: center;
                margin-bottom: 2rem;
                h2{
                    font-size: 1rem;
                    margin-bottom: 2rem;
                }
                .sub-txt{
                    position: relative;
                    bottom: 0;
                    strong{
                        font-size: 1.5rem;
                    }
                }
            }
            em{
                right: 3rem;
                font-size: .7rem;
            }
        }
    }
  }
  
@include tablet {
    .container{
        position: relative;
        .wrap{
            position: relative;
            padding: 0;
            &.squareBox{
                flex-wrap: wrap;
                height: auto;
                //더블보더ani
                .square{
                    height: 400px;
                    top: 0;
                    transform: translateY(0);
                    padding: 1rem;
                    &:last-child{
                        margin-bottom: 0;
                    }
                    >div{
                        >h2{
                            padding-bottom: 1rem;
                            font: {
                                size: 1.3rem;
                                weight: 600;
                            };
                        }
                        >p{
                            line-height: 1.3rem;
                            font: {
                                size: .7rem;
                            };
                        }
                        >a{
                            padding: 9px;
                            margin: 1.2rem auto 0;
                        }
                    }
                }
            }
            &:last-child{
                .pf_txt{
                    .sub-txt{
                        font-size: .5rem;
                    }
                }
            }
            .pf-img-wrap{
                width: 40%;
                height: 100%;
                margin-right: .5rem;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .pf_txt{
                width: 60%;
                margin-left: .5rem;
                h2{
                    font-size: 2rem;
                }
                .sub-txt{
                    font-size: 1rem;
                    line-height: inherit;
                    padding-right: .5rem;
                    strong{
                        font-size: 1.5rem;
                    }
                }
            }
            em{
                bottom: 1rem;
                right: 1rem;
            }
        }
    }
  }